<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{ms:global.name/}</title>
	<link rel="shortcut icon" href="{ms:global.host/}/{ms:global.style/}/favicon.ico" type="x-icon"/>
	<meta name="description" content="{ms:global.descrip/}">
	<meta name="keywords" content="{ms:global.keyword/}">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
	<link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/stley.css">
</head>
<style>
	body {
		overflow-x : hidden;  
		x:hidden;

	} 
	.content{ overflow:hidden;}
	.right{ overflow:hidden;}
</style>
<body>
	<div class="content" style="width: 1040px;">
		<!--菜单页面-->
		<div style="overflow:hidden;margin-right: 0;position: fixed;height: 100%;" >
			<#include "left.htm">
		</div>
		<div class="right" style="float:right;width: 852px;">	
			<div class="About1999" style="margin-right:50px;width: 752px;">
				<div  class="newsBody"> 
					<div class="contentbody">
						{ms:field.content/}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>			
</html>
