<!--		 
━━━━━━神兽出没━━━━━━

　　　┏┓　　　┏┓
　　┏┛┻━━━┛┻┓
　　┃　　　　　　　┃
　　┃　　　━　　　┃
　　┃　┳┛　┗┳　┃
　　┃　　　　　　　┃
　　┃　　　┻　　　┃
　　┃　　　　　　　┃
　　┗━┓　　　┏━┛
　　　　┃　　　┃ 
　　　　┃　　　┃
　　　　┃　　　┗━━━┓
　　　　┃　　　　　　　┣┓
　　　　┃　　　　　　　┏┛
　　　　┗┓┓┏━┳┓┏┛
　　　　　┃┫┫　┃┫┫
　　　　　┗┻┛　┗┻┛

@author 肖欣（946953627@qq.com）
创建日期：2016/02/27

━━━━━━感觉萌萌哒━━━━━━
-->
<script src="http://cdn.mingsoft.net/plugins/jquery/1.9.1/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{ms:global.host/}/{ms:global.style/}/js/goal.js"></script>
<script src="http://cdn.mingsoft.net/plugins/jquery.tmpl/1.4.2/jquery.tmpl.min.js"></script>
<script src="http://cdn.mingsoft.net/plugins/seajs/3.0.0/sea.js"></script>
<script src="http://cdn.mingsoft.net/model/1.0.0/main.min.js"></script>
<script>ms.config({ 
		base:"{ms:global.host/}",
		filter: {
	  		people:{
	  			loginUrl:'{ms:global.host/}'
	  		}
	  	}
	}); </script>
<div class="left" >
	<div class="logoGap"></div>
	<div class="smallLogo"></div>
	<div class="gap"></div>
	<!--栏目列表开始-->
	<div class="menu" >
		<ul id="menuLi">
			<script>
				var t = new Date().getTime();
			</script>
			<li class="about0" data-back="0" onclick="parent.location.href='{ms:global.url/}/xueshu/index.html'"></li>

			<li class="about1" data-back="1" onclick="parent.location.href='{ms:global.url/}/jianjie/index.html'"></li>

			<li class="about2" data-back="2"></li>

			<li class="about3" data-back="3" onclick="parent.location.href='{ms:global.url/}/zuopin/ciban/index.html'"></li>

			<li class="about4" data-back="4" onclick="parent.location.href='{ms:global.url/}/zuopin/ciping/index.html'"></li>

			<li class="about5" data-back="5" onclick="parent.location.href='{ms:global.url/}/zuopin/taoyi/index.html'"></li>

			<li class="about6" data-back="6" onclick="parent.location.href='{ms:global.url/}/zuopin/shuimo/index.html'"></li>
			<li class="about10" data-back="10" onclick="parent.location.href='{ms:global.url/}/shehuipingjia/index.html'"></li>
			<li class="about9" data-back="9"  onclick="parent.location.href='{ms:global.url/}/lianxi/index.html'"></li>
		</ul>
	</div>
	<!--栏目列表结束-->
	<div class="filed">
		<div class="gap1"></div>
		<div class="foot"></div>
	</div>
</div>
<div class="backline" style="height: 100%;"></div>	
