<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{ms:global.name/}</title>
	<link rel="shortcut icon" href="{ms:global.host/}/{ms:global.style/}/favicon.ico" type="x-icon"/>
	<meta name="description" content="{ms:global.descrip/}">
	<meta name="keywords" content="{ms:global.keyword/}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/stley.css">
</head>
<body>
	<div class="content" style="width: 1040px;">
		<!--菜单页面-->
		<div style="overflow:hidden;margin-right: 0;position: fixed;height: 100%;" >
		<#include "left.htm">
		</div>
		<div class="right" style="float:right;">	
			<div class="About1999" style="margin-right:50px;width: 752px;">
				{ms:arclist size=10 titlelen=12 ispaging=true}
				<div class="newsTitle">
					<div class="title">${field.title}</div>
					<div class="pubdate">{ms:field.date?string("yyyy-MM-dd")/}</div>	
				</div>
				<div  class="newsBody"> 
					<div  class="img"><img src="{ms:global.host/}/{@ms:file field.litpic/}"/></div>
					<div class="contentbody">${field.descrip}</div>

				</div>
				<a class="more" href="{ms:global.url/}[field.link/]"><img src="{ms:global.host/}/{ms:global.style/}/images/001.jpg" /></a>
				<div  style="height:30px;border-top:1px #979797 solid;" ></div>
				{/ms:arclist}
				<div class="pageList">
					<ul>
						<li><a href="{ms:global.url/}/{ms:page.index/}">首页</a></li>
						<li><a href="{ms:global.url/}/{ms:page.pre/}">上一页</a></li>
						<li><a href="{ms:global.url/}/{ms:page.next/}">下一页</a></li>
						<li><a href="{ms:global.url/}/{ms:page.last/}">末页</a></li>
					</ul>
				</div>
				<div class="hrdashed"></div>
			</div>
		</div>
	</div>
</body>			
</html>
