/*
*这里的值严格按照UI设计图标注值来进行设置
*/
/*
*颜色
*/
/*
*页面的边距
*/
/*
*字体
*/
/*
*头像
*/
/*
 * 按钮
 */
/*
*对常见的多行样式进行了方法封装，方便调用，加快开发效率
*/
html,
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #eee;
  margin: 0;
  display: flex;
  font-weight: initial !important;
  font-size: 14px !important;
  color: #333 !important;
}
html *,
body * {
  text-decoration: none !important;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.ms-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.ms-align-center {
  display: flex;
  align-items: center;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: initial;
  font-size: 12px;
  color: #aaa;
  resize: none;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/*定义滚动条轨道 内阴影+圆角*/
*::-webkit-scrollbar-track {
  border-radius: 10px;
  /*滚动条的背景区域的圆角*/
  background-color: #eee;
  /*滚动条的背景颜色*/
}
/*定义滑块 内阴影+圆角*/
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*滚动条的圆角*/
  background-color: #ddd;
  /*滚动条的背景颜色*/
}
.ms-container {
  margin: 12px;
  height: calc(100% - 24px);
  padding: 14px 14px 0 14px;
  background: #fff;
}
.ms-header {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background: #fff;
  height: 50px;
}
.ms-pagination {
  padding: 20px 0;
  text-align: right;
}
.ms-fr {
  float: right;
}
.ms-tr {
  text-align: right;
}
.ms-weixin-content {
  width: calc(100% - 140px);
}
.ms-weixin-dialog .el-dialog__header {
  height: 55px;
  box-sizing: border-box;
  padding: 10px 10px 25px 10px;
  border-bottom: 1px solid #ddd;
}
.ms-weixin-dialog .el-dialog__header .el-dialog__title {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
.ms-weixin-dialog .el-dialog__footer {
  border-top: 1px solid #ddd;
  padding: 15px !important;
}
.login {
  width: 100vw;
  height: 100vh;
}
.login .ms-admin-login-container {
  height: 100%;
  background: url('../images/login-bg.jpg') center no-repeat;
  background-size: cover;
}
.login .ms-admin-login-container .ms-admin-login-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 320px;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp > img {
  flex: 1;
  display: inline-block;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form {
  flex: 1;
  height: 320px;
  background: #fff;
  padding: 20px  54px;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form h1 {
  line-height: 1;
  font-weight: initial;
  font-size: 12px;
  color: #999999;
  margin: 0 0 20px 0;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form h1 span {
  font-weight: initial;
  font-size: 16px;
  color: #0099ff;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item {
  margin-bottom: 20px;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item > div {
  margin-left: 0 !important;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item .el-form-item__content,
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item .el-input,
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item input {
  height: 34px !important;
  line-height: 34px !important;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content {
  display: flex;
  justify-content: space-between;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content .el-input__inner,
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content .el-input {
  width: 97px;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content > img {
  width: 66px;
  height: 34px;
  margin: 0 6px;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content p {
  display: flex;
  justify-content: space-between;
  line-height: 17px;
  flex-direction: column;
  margin: 0;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content p span:nth-of-type(1) {
  font-weight: initial;
  font-size: 10px;
  color: #999999;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-code .el-form-item__content p span:nth-of-type(2) {
  font-weight: initial;
  font-size: 10px;
  color: #0099ff;
  cursor: pointer;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-checkout .el-form-item__content,
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-checkout .el-input,
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-form-item-checkout input {
  height: auto !important;
  line-height: 1px !important;
}
.login .ms-admin-login-container .ms-admin-login-main .ms-admin-login-warp .ms-admin-login-form .ms-admin-login-btn {
  width: 100%;
  height: 34px;
  line-height: 5px;
}
