<!--header-start-->
<div id="view-1768206947000_90569" class="header">
    <div class="key_1775812530000_16234">
        <a href=" /" target="_blank" style="width: 100%;height: 100%;display: contents;"> <img class="logo" src="{@ms:file global.logo/}" title="${field.title}" alt="${field.title}"> </a>
    </div>
    <div id="w-nav-1773648816000_56204">
        <div class="ms-nav" id="w-nav-1773648816000_56204-data">
            <ul class="responsive">
                <li class="<#assign typeid=field.typeid><#if typeid==''>active</#if>"><a href="/">首页</a></li>
                <#assign typeid=field.typeid>
                <#assign ids=field.parentids>
                {ms:channel type='nav' flag='n' orderby='sort'}
                <li class="<#if field.childsize gt 0>ms-nav-dropdown</#if> <#if field.typeid == typeid || (ids?has_content && ids?split(',')?seq_contains(field.typeid.toString()))>active</#if>">
                    <#if field.type == 3>
                    <#--优先连接-->
                    <#if !field.typeurl?has_content>
                    <a href="#">${field.typetitle}</a>
                    <#else>
                    <a href="<#if field.typeurl?starts_with('http')> ${field.typeurl} <#else> {ms:global.html/}${field.typeurl}</#if> ">${field.typetitle}</a>
                    </#if>
                    <#else>
                    <#assign link = ""/>
                    <#if field.childsize gt 0>
                    {ms:channel size=1}
                    <#assign link = field.typelink >
                    {/ms:channel} <a href="{ms:global.html/}${link}">${field.typetitle}</a>
                    <#else>
                    <a href="{ms:global.html/}${field.typelink}">${field.typetitle}</a>
                    </#if>
                    </#if>
                    <#if field.childsize gt 0>
                    <div class="ms-nav-dropdown-content">
                        <ul>
                            {ms:channel}
                            <li class="<#if field.childsize gt 0>ms-nav-dropdown</#if>"><a href="<#if field.type == 3><#if field.typeurl?starts_with('http')> ${field.typeurl} <#else> {ms:global.html/}${field.typeurl}</#if> <#else>{ms:global.html/}${field.typelink}</#if> ">${field.typetitle}</a></li>
                            {/ms:channel}
                        </ul>
                    </div>
                    </#if>
                </li>
                {/ms:channel}
            </ul>
            <div class="responsive-menu">
                <i class="iconfont icon-caidan"></i> <i class="iconfont icon-guanbi2"></i>
            </div>
        </div>
    </div>
    <script>
        var wNav1773648816000_56204 = new  MSNavigation('#w-nav-1773648816000_56204-data');
    </script>
    <div class="search_box">
        <!--搜索图标-start-->
        <div class="search-ico" data-event-click="view-1778837994000_84512.toggle"></div>
        <!--搜索图标-end-->
        <div id="view-1778837994000_84512" class="key_1778837994000_84512">
            <!--搜索组件-start-->
            <div id="w-search-1768557505000_94038" style="display: contents">
                <form id="w-search-form-1768557505000_94038" action="{ms:global.contextpath/}/mcms/search.do" method="post" class="ms-search">
                    <div class="ms-search-input-area">
                        <input class="ms-search-input" type="text" name="content_title" value="${search.content_title}" placeholder="请输入搜索内容"> <input type="hidden" name="style" value="{ms:global.template/}"> <input type="hidden" name="tmpl" value="搜索.htm">
                    </div>
                    <button class="ms-search-submit" type="button" onclick="document.getElementById('w-search-form-1768557505000_94038').submit();"><i class="iconfont icon-fangdajing"></i></button>
                </form>
            </div>
            <!--搜索组件-end-->
        </div>
    </div>
</div>
<!--header-end-->
<style>
    /*页面css*/
    
    /*PC端响应式*/
    
    .header {
        width:100%;
        height:100px;
        flex-shrink:0;
        box-sizing:border-box;
        align-self:flex-start;
        display:flex;
        align-items:center;
        background-color:rgba(9, 10, 12, 1);
        position:relative;
        flex-direction:row;
        justify-content:space-between;
    }
    
    .key_1775812530000_16234 {
        width:50px;
        height:50px;
        flex-shrink:0;
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        margin-left:50px;
    }
    
    .header .logo {
        vertical-align:top;
        border-radius:10px;
        width:100%;
        height:100%;
    }
    
    #w-nav-1773648816000_56204 > .ms-nav {
        width:80%;
        height:100px;
        flex-direction:row;
        flex-shrink:0;
        box-sizing:border-box;
    }
    
    /*** 默认样式 字体 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul a {
        font-size:16PX;
        color:rgb(195, 195, 195);
    }
    
    /*** 默认样式 背景 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul a {
        background-color:rgb(9, 10, 12);
    }
    
    /*** 默认样式 边框 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul a {
        border-bottom-color:#090a0c;
        border-bottom-width:4px;
        border-bottom-style:solid;
    }
    
    /*** 默认样式 间隔 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul.responsive>li {
        margin-left:10px;
        margin-right:10px;
    }
    
    /*** 默认样式 对齐方式 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul.responsive {
        display:flex;
        justify-content:center;
    }
    
    /*** 悬停样式 边框 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul>li>a:hover {
        border-bottom-style:solid;
        border-bottom-color:#00a1e9;
        border-bottom-width:4px;
    }
    
    /*** 激活样式 边框 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul .active>a {
        border-bottom-style:solid;
        border-bottom-color:#00a1e9;
        border-bottom-width:4px;
    }
    
    /*** 子菜单默认样式 字体 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul .ms-nav-dropdown-content a {
        color:rgb(255, 255, 255);
    }
    
    /*** 子菜单悬停样式 字体 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul .ms-nav-dropdown-content a:hover {
        color:rgb(0, 161, 233);
    }
    
    /*** 响应式 菜单位置 **/
    
    #w-nav-1773648816000_56204 > .ms-nav ul.responsive {
        top:64px;
    }
    
    /*** 响应式 菜单图标 **/
    
    #w-nav-1773648816000_56204 > .ms-nav .responsive-menu i {
        font-size:28PX;
        color:rgb(255, 255, 255);
    }
    
    .header .search_box {
        flex-shrink:0;
        box-sizing:border-box;
        position:relative;
        width:100px;
        height:100%;
        flex-direction:column;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
    .search-ico {
        width:30px;
        height:30px;
        flex-shrink:0;
        box-sizing:border-box;
        position:relative;
        background-image:url('/{ms:global.style/}images/20260120/2013551323470893056.png');
        background-position:center;
        background-repeat:no-repeat;
    }
    
    .key_1778837994000_84512 {
        flex-shrink:0;
        box-sizing:border-box;
        display:none !important;
        flex-direction:column;
        position:absolute;
        top:100px;
        right:0px;
    }
    
    #w-search-1768557505000_94038 > .ms-search {
        width:300px;
        height:81px;
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex !important;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:15px;
        padding-right:15px;
        border-color:#F8F8F8;
        border-style:solid;
        border-width:1px;
        z-index:2;
        background-color:rgba(255, 255, 255, 1);
    }
    
    /*** 基本配置 输入框文字大小 **/
    
    #w-search-1768557505000_94038 > .ms-search .ms-search-input-area .ms-search-input {
        font-size:16px;
    }
    
    /*** 基本配置 图标大小 **/
    
    #w-search-1768557505000_94038 > .ms-search .ms-search-submit .iconfont {
        font-size:24px;
    }
    
    #w-search-1768557505000_94038 > .ms-search .ms-search-input-area {
        width:unset;
        height:39px;
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        flex:auto;
        box-sizing:border-box;
        display:flex;
        background-color:rgba(248, 248, 248, 1);
        align-items:flex-start;
        justify-content:flex-start;
        border-color:#F8F8F8;
        border-style:solid;
        border-width:1px;
    }
    
    #w-search-1768557505000_94038 > .ms-search .ms-search-input-area .ms-search-input {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        width:100%;
        height:100%;
        padding-left:8px;
        background-color:rgba(248, 248, 248, 1);
        border-color:#F8F8F8;
        border-style:solid;
        border-width:1px;
    }
    
    #w-search-1768557505000_94038 > .ms-search .ms-search-submit {
        width:40px;
        height:39px;
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        background-color:rgba(0, 157, 255, 1);
        align-items:center;
        justify-content:center;
        border:none;
        color:#FFFFFF;
        font-size:14PX;
    }
    
    /*H5端响应式*/
    
    @media (max-width: 768px) {
        .header {
            width:100%;
            height:64px;
            display:flex;
            justify-content:space-between;
            flex-direction:row;
        }
    
        .key_1775812530000_16234 {
            margin-left:10px;
        }
    
        #w-nav-1773648816000_56204 > .ms-nav {
            height:64px;
        }
    
        #w-nav-1773648816000_56204 > .ms-nav ul.responsive>li{
            margin:0px;
        }
    
        #w-nav-1773648816000_56204 > .ms-nav ul.responsive{
            background-color: #090A0C;
        }
    
        .header .search_box {
            display:none !important;
            width:50px;
            height:64px;
        }
    
        #w-search-1768557505000_94038 > .ms-search {
            position:absolute;
            top:64px;
        }
    
    }
    
    /*iPad端响应式*/
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .header {
            width:100%;
            margin:0px;
            padding:0px;
            flex-direction:row;
            display:flex;
            justify-content:space-between;
        }
    
        .key_1775812530000_16234 {
            margin-left:10px;
        }
    
        .header .logo {
            display:flex !important;
        }
    
    }

</style>
