<!--footer-start-->
<div id="view-1769477082000_85706" class="footer">
    <div class="footer-nav">
        <div class="menu">
            <div id="w-loop-1772760709000_81919">
                <div class="ms-loop">
                    {ms:channel typeid="2062803735214391297" type='self'}
                    <div class="ms-loop-item">
                        <span class="title"> ${field.typetitle} </span>
                    </div>
                    {/ms:channel}
                </div>
            </div>
            <div id="w-loop-1772760848000_40917">
                <div class="ms-loop">
                    {ms:channel size=3 typeid="2062803735214391297" type='son'}
                    <div class="ms-loop-item">
                        <a href=" {ms:global.html/}${field.typelink}" target="_blank" class="son-title"> ${field.typetitle} </a>
                    </div>
                    {/ms:channel}
                </div>
            </div>
        </div>
        <div class="menu">
            <div id="w-loop-1772761063000_30325">
                <div class="ms-loop">
                    {ms:channel typeid="2062803735214391298" type='self'}
                    <div class="ms-loop-item">
                        <span class="title"> ${field.typetitle} </span>
                    </div>
                    {/ms:channel}
                </div>
            </div>
            <div id="w-loop-1772761063000_19636">
                <div class="ms-loop">
                    {ms:channel size=2 typeid="2062803735214391298" type='son'}
                    <div class="ms-loop-item">
                        <a href=" {ms:global.html/}${field.typelink}" target="_blank" class="son-title"> ${field.typetitle} </a>
                    </div>
                    {/ms:channel}
                </div>
            </div>
        </div>
        <div class="menu">
            <div id="w-loop-1772761196000_9575">
                <div class="ms-loop">
                    {ms:channel typeid="2062803735214391299" type='self'}
                    <div class="ms-loop-item">
                        <span class="title"> ${field.typetitle} </span>
                    </div>
                    {/ms:channel}
                </div>
            </div>
            <div id="w-loop-1772761196000_89316">
                <div class="ms-loop">
                    {ms:channel size=2 typeid="2062803735214391299" type='son'}
                    <div class="ms-loop-item">
                        <a href=" {ms:global.html/}${field.typelink}" target="_blank" class="son-title"> ${field.typetitle} </a>
                    </div>
                    {/ms:channel}
                </div>
            </div>
        </div>
        <div class="menu">
            <div id="w-loop-1772761200000_2979">
                <div class="ms-loop">
                    {ms:channel typeid="2062803735214391307" type='self'}
                    <div class="ms-loop-item">
                        <span class="title"> ${field.typetitle} </span>
                    </div>
                    {/ms:channel}
                </div>
            </div>
            <div id="w-loop-1772761200000_61344">
                <div class="ms-loop">
                    {ms:channel size=2 typeid="2062803735214391307" type='son'}
                    <div class="ms-loop-item">
                        <a href=" {ms:global.html/}${field.typelink}" target="_blank" class="son-title"> ${field.typetitle} </a>
                    </div>
                    {/ms:channel}
                </div>
            </div>
        </div>
        <div class="contact">
            <span class="con-tit"> 联系我们 </span> <span class="con-tel"> 19999999999 </span> <span class="con-tel-time"> 仅限中国服务时间 09:00:00 - 18:00:00 </span> <a href=" http://wpa.qq.com/msgrd?v=3&amp;site=某某公司&amp;menu=yes&amp;uin=123456789" target="_blank" style="width: 100%;height: 100%;display: contents;"> <img title="" alt="" class="con-img" src="/{ms:global.style/}images/20260305/2029374704162181120.png"> </a>
        </div>
        <div class="qr-code">
            <img title="" alt="" class="qr-img" src="/{ms:global.style/}images/20260228/2027683769724440576.jpg"> <span class="qr-tit"> 微信二维码 </span>
        </div>
    </div>
    <div class="line"></div>
    <div class="copyright">
        <span class="copyright-tit"> 
            {ms:global.copyright/} 
        </span>
    </div>
</div>
<!--footer-end-->
<style>
    /*页面css*/
    
    /*PC端响应式*/
    
    .footer {
        width:100%;
        flex-shrink:0;
        box-sizing:border-box;
        background-color:rgba(49, 49, 49, 1);
        display:flex;
        flex-direction:column;
        align-items:center;
        position:relative;
        padding-top:30px;
        padding-bottom:30px;
        justify-content:center;
        margin-top:20px;
        top:-1px;
    }
    
    .footer .menu .title:hover{
        color:#fff !important;
    }
    
    .footer .menu .son-title{
        transition: all 0.3s;
    }
    
    .footer .menu .son-title:hover{
        color:#fff !important;
        margin-left: 5px !important;
        padding-right: 0 !important;
    }
    
    .footer .con-img:hover{
        transition: all 0.3s;
        opacity: 0.8;
    }
    
    .footer-nav {
        width:80%;
        flex-shrink:0;
        box-sizing:border-box;
        position:relative;
        flex-direction:row;
        display:flex;
        max-width:1300px;
    }
    
    .menu {
        width:15%;
        height:100%;
        flex-shrink:0;
        box-sizing:border-box;
        align-self:flex-start;
        position:relative;
    }
    
    #w-loop-1772760709000_81919 > .ms-loop {
        flex-direction:column;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772760709000_81919 > .ms-loop .ms-loop-item {
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }
    
    #w-loop-1772760709000_81919 > .ms-loop .ms-loop-item .title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:18PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772760848000_40917 > .ms-loop {
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772760848000_40917 > .ms-loop .ms-loop-item {
        width:100%;
        height:38px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
    }
    
    #w-loop-1772760848000_40917 > .ms-loop .ms-loop-item .son-title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:12PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772761063000_30325 > .ms-loop {
        flex-direction:column;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772761063000_30325 > .ms-loop .ms-loop-item {
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }
    
    #w-loop-1772761063000_30325 > .ms-loop .title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:18PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772761063000_19636 > .ms-loop {
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772761063000_19636 > .ms-loop .ms-loop-item {
        width:100%;
        height:38px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
    }
    
    #w-loop-1772761063000_19636 > .ms-loop .son-title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:12PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772761196000_9575 > .ms-loop {
        flex-direction:column;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772761196000_9575 > .ms-loop .ms-loop-item {
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }
    
    #w-loop-1772761196000_9575 > .ms-loop .title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:18PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772761196000_89316 > .ms-loop {
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772761196000_89316 > .ms-loop .ms-loop-item {
        width:100%;
        height:38px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
    }
    
    #w-loop-1772761196000_89316 > .ms-loop .son-title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:12PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772761200000_2979 > .ms-loop {
        flex-direction:column;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772761200000_2979 > .ms-loop .ms-loop-item {
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }
    
    #w-loop-1772761200000_2979 > .ms-loop .title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:18PX;
        color:rgba(143, 143, 143, 1);
    }
    
    #w-loop-1772761200000_61344 > .ms-loop {
        flex-direction:row;
        flex-shrink:0;
        flex-wrap:wrap;
        box-sizing:border-box;
        display:flex;
        margin-left:-0px;
        margin-top:-0px;
    }
    
    #w-loop-1772761200000_61344 > .ms-loop .ms-loop-item {
        width:100%;
        height:38px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
    }
    
    #w-loop-1772761200000_61344 > .ms-loop .son-title {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:12PX;
        color:rgba(143, 143, 143, 1);
    }
    
    .footer .contact {
        width:20%;
        flex-shrink:0;
        box-sizing:border-box;
        align-self:flex-start;
        position:relative;
        flex-direction:column;
        display:flex;
    }
    
    .footer .con-tit {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:18PX;
        color:rgba(199, 199, 199, 1);
    }
    
    .footer .con-tel {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:26PX;
        color:rgba(199, 199, 199, 1);
        margin-top:8px;
    }
    
    .footer .con-tel-time {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:12PX;
        color:rgba(175, 175, 175, 1);
        margin-bottom:15px;
        margin-top:8px;
    }
    
    .footer .con-img {
        width:135px;
        vertical-align:top;
        object-fit:fill;
        height:41px;
    }
    
    .footer .qr-code {
        width:20%;
        flex-shrink:0;
        box-sizing:border-box;
        align-self:flex-start;
        position:relative;
        display:flex;
        align-items:center;
        flex-direction:column;
    }
    
    .footer .qr-img {
        width:100px;
        vertical-align:top;
        height:100px;
    }
    
    .footer .qr-tit {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:12PX;
        color:rgba(143, 143, 143, 1);
        margin-top:8px;
        margin-bottom:8px;
    }
    
    .footer .line {
        width:100%;
        height:1px;
        flex-shrink:0;
        box-sizing:border-box;
        align-self:flex-start;
        position:relative;
        border-bottom-style:solid;
        border-bottom-color:#585050;
        border-bottom-width:1px;
        margin-top:30px;
    }
    
    .footer .copyright {
        width:80%;
        flex-shrink:0;
        box-sizing:border-box;
        position:relative;
        max-width:1300px;
    }
    
    .footer .copyright-tit {
        flex-direction:row;
        display:-webkit-inline-box;
        word-wrap:break-word;
        -webkit-line-clamp:0;
        -webkit-box-orient:vertical;
        font-size:14PX;
        color:rgba(143, 143, 143, 1);
        margin-top:8px;
        margin-bottom:8px;
    }
    
    /*H5端响应式*/
    
    @media (max-width: 768px) {
        .footer {
            width:100%;
            padding-top:30px;
            padding-bottom:30px;
            padding-left:0px;
            padding-right:0px;
        }
    
        .footer-nav {
            width:95%;
            display:flex;
            justify-content:space-between;
            flex-direction:row;
        }
    
        .menu {
            width:100%;
            margin:0px;
            padding:0px;
            display:none !important;
        }
    
        #w-loop-1772760709000_81919 > .ms-loop .ms-loop-item .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772760848000_40917 > .ms-loop .ms-loop-item .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761063000_30325 > .ms-loop .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761063000_19636 > .ms-loop .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761196000_9575 > .ms-loop .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761196000_89316 > .ms-loop .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761200000_2979 > .ms-loop .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761200000_61344 > .ms-loop .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .contact {
            width:50%;
            margin:0px;
            padding:0px;
        }
    
        .footer .con-tit {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .con-tel {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .con-tel-time {
            width:100%;
            margin:0px;
            padding:0px;
            font-size:12PX;
            line-height:30px;
        }
    
        .footer .qr-code {
            width:30%;
        }
    
        .footer .line {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .copyright {
            width:95%;
            margin:0px;
            padding:0px;
        }
    
        .footer .copyright-tit {
            width:100%;
            padding:0px;
            margin-top:8px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
        }
    
    }
    
    /*iPad端响应式*/
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .footer {
            width:100%;
            padding-top:30px;
            padding-bottom:30px;
            padding-left:0px;
            padding-right:0px;
        }
    
        .footer-nav {
            width:80%;
            margin:0px;
            padding:0px;
        }
    
        .menu {
            width:15%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772760709000_81919 > .ms-loop .ms-loop-item .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772760848000_40917 > .ms-loop .ms-loop-item .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761063000_30325 > .ms-loop .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761063000_19636 > .ms-loop .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761196000_9575 > .ms-loop .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761196000_89316 > .ms-loop .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761200000_2979 > .ms-loop .title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        #w-loop-1772761200000_61344 > .ms-loop .son-title {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .contact {
            width:20%;
            margin:0px;
            padding:0px;
        }
    
        .footer .con-tit {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .con-tel {
            padding:0px;
            font-size:24PX;
            margin-top:8px;
            margin-bottom:8px;
            margin-left:0px;
            margin-right:0px;
        }
    
        .footer .con-tel-time {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .qr-code {
            width:20%;
            margin:0px;
            padding:0px;
            display:flex;
        }
    
        .footer .qr-tit {
            margin:0px;
            padding:0px;
        }
    
        .footer .line {
            width:100%;
            margin:0px;
            padding:0px;
        }
    
        .footer .copyright {
            margin:0px;
            padding:0px;
        }
    
        .footer .copyright-tit {
            padding:0px;
            margin-top:8px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
        }
    
    }

</style>
