<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>关于我们 > ${field.typetitle}_{ms:global.name/}</title>
<meta name="keywords" content="{ms:global.keyword/}"/>
<meta name="description" content="{ms:global.descrip/}"/>
<meta name="mstore-key" content="密钥"/>
<script type="text/javascript">document.domain="mingsoft.net";</script>
<script src="http://cdn.mingsoft.net/plugins/jquery/1.9.1/jquery-1.9.1.js"></script>
<link href="{ms:global.host/}/{ms:global.style/}/css/bootstrap.min.css" rel="stylesheet">
<link href="{ms:global.host/}/{ms:global.style/}/css/style.css" rel="stylesheet">
<link href="{ms:global.host/}/{ms:global.style/}/css/shake.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cdn.mingsoft.net/global/images/ms.ico" type="x-icon">
</head>
<body>
<#include "head.htm">
<div class="banner text-center">
	<div class="box hba" style="background-image:url({ms:global.host/}/{ms:global.style/}/images/1.jpg)"> </div>
</div>
<div class="crumbs">
	<div class="container">
		<div class="btn-group pull-right hidden-xs">
			<button type="button" class="btn btn-menu btn-default dropdown-toggle" data-toggle="dropdown">更多菜单 Menu <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				{ms:channel type=son typeid=69}
					<li><a href="{ms:global.url/}${field.typelink}">${field.typetitle}</a></li>
				{/ms:channel}
			</ul>
		</div>
		<ol class="breadcrumb">
			<li><a href='{ms:global.host/}'>主页</a> > <a href='{ms:global.url/}/69/index.html'>关于我们</a> > <a href='${field.typelink}'>${field.typetitle}</a></li>
		</ol>
	</div>
</div>
<div class="neirong">
	<article class="container">
		<div class="text-center">
			<h3 class="h3"> ${field.title}</h3>
		</div>
		<hr class="m-sx-50"/>
		<p>&nbsp;</p>
		<p> ${field.content}</p>
		<hr class="m-sx-50"/>
	</article>
</div>
<#include "content-footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.min.js"></script>
<#include "footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/bootstrap.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/headroom.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.admin.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jpuery.team.scroll.js"></script>
<#include "online-service.htm">
</body>
</html>
