<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>成功案例 / ${field.typetitle}_{ms:global.name/}</title>
<meta name="keywords" content="{ms:global.keyword/}"/>
<meta name="description" content="{ms:global.descrip/}"/>
<meta name="mstore-key" content="密钥"/>
<script type="text/javascript">document.domain="mingsoft.net";</script>
<script src="http://cdn.mingsoft.net/plugins/jquery/1.9.1/jquery-1.9.1.js"></script>
<link href="{ms:global.host/}/{ms:global.style/}/css/bootstrap.min.css" rel="stylesheet">
<link href="{ms:global.host/}/{ms:global.style/}/css/style.css" rel="stylesheet">
<link href="{ms:global.host/}/{ms:global.style/}/css/shake.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cdn.mingsoft.net/global/images/ms.ico" type="x-icon">
</head>
<body>
<#include "head.htm">
<div class="banner text-center">
	<div class="box hba" style="background-image:url({ms:global.host/}/{ms:global.style/}/images/11.jpg)"> </div>
</div>
<div class="crumbs">
	<div class="container">
		<div class="btn-group pull-right hidden-xs">
			<button type="button" class="btn btn-menu btn-default dropdown-toggle" data-toggle="dropdown">更多菜单 Menu <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				{ms:channel type=son typeid=61}
					<li><a href="{ms:global.url/}${field.typelink}">${field.typetitle}</a></li>
				{/ms:channel}
			</ul>
		</div>
		<ol class="breadcrumb">
			<li><a href='{ms:global.host/}'>主页</a> > <a href='{ms:global.url/}/61/index.html'>成功案例</a> > <a href='${field.typelink}'>${field.typetitle}</a> > </li>
		</ol>
	</div>
</div>
<div class="neirong">
	<article class="container">
		<div class="biaoti-sousuo row">
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
				<h3 class="ny-bt">${field.typetitle} </h3>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<#include "search.htm">
			</div>
		</div>
		<div class="case-fl">
		<p>
			<strong>行业分类：{ms:channel type=son typeid=61}</strong> <a href='{ms:global.url/}${field.typelink}'>${field.typetitle}</a> / {/ms:channel}
		</p>
		</div>
		<div class="tj-case row"> </div>
		<div class="case">
			<section class="text-center">
				<div class="row">
				{ms:arclist ispaging=true size=6}
					<figure class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank" class="pic-link"><span class="case-hover"><span class="hover-link"></span></span><img src={ms:global.host/}${field.litpic} class="ylw-img-responsive3" alt="${field.title}"/></a>
						<h3><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a><br/>
							<small>关注：${field.index} / 目录：<a href='${field.typelink}'>${field.typetitle}</a></small></h3>
					</figure>
				{/ms:arclist}
				</div>
			</section>
		</div>
		<div class="fanye text-center">
			<ul class="pagination pagination-lg">
				<li><a href="{ms:global.url/}/{ms:page.index/}">首页</a></li>
				<li class="thisclass"><a>{ms:page.cur/}</a></li>
				<li><a href='{ms:global.url/}/{ms:page.pre/}'>上一页</a></li>
				<li><a href='{ms:global.url/}/{ms:page.next/}'>下一页</a></li>
				<li><a href='{ms:global.url/}/{ms:page.last/}'>末页</a></li>
				<li><span class="pageinfo">有 <strong>{ms:page.rcount/}</strong>条 共<strong>{ms:page.total/}</strong>页</span></li>
			</ul>
		</div>
	</article>
</div>
<#include "content-footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.min.js"></script>
<#include "footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/bootstrap.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/headroom.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.admin.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jpuery.team.scroll.js"></script>
<#include "online-service.htm">
</body>
</html>
