<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>${field.typetitle}_{ms:global.name/}</title>
<#include "headerFile.htm">
</head>
<body>
<#include "head.htm">
<div class="banner text-center">
	<div class="box hba" style="background-image:url({ms:global.host/}/{ms:global.style/}/images/11.jpg)"> </div>
</div>
<div class="crumbs">
	<div class="container">
		<div class="btn-group pull-right hidden-xs">
			<button type="button" class="btn btn-menu btn-default dropdown-toggle" data-toggle="dropdown">更多菜单 Menu <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				{ms:channel type=son typeid=61}
					<li><a href="{ms:global.url/}${field.typelink}">${field.typetitle}</a></li>
				{/ms:channel}
			</ul>
		</div>
		<ol class="breadcrumb">
			<li><a href='{ms:global.host/}'>主页</a> > <a href='{ms:global.url/}/61/index.html'>成功案例</a> >
				{ms:channel type='self'}
				<a href="${global.url}${field.typelink}">${field.typetitle}</a>
				{/ms:channel} >
			</li>
		</ol>
	</div>
</div>
<div class="neirong">
	<article class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<article class="ny-shuoming text-center">
					<h2>${field.typetitle}</h2>
					<p>日期：${field.date?string("yyyy-MM-dd")} / 人气：
						<script src="{ms:global.host/}/{ms:global.style/}/js/count.js" type='text/javascript' language="javascript"></script>
						/ 来源： </p>
				</article>
				<article class="info">
					<div class="bd">
						<div> ${field.content}</div>
					</div>
					<p align="center" class="pageLink"></p>
					<p class="text-right">作者：${field.author}</p>
				</article>
				<hr class="m-sx-40"/>
				<div class="text-center">
					<#if pre.title?has_content>
					<a class="btn btn-success mb-none m-x-20" href="{ms:global.url/}{ms:pre.link/}">上一篇：←</a>
					<#else>
					<a class="btn btn-success mb-none m-x-20" href="#">已经没有了</a>
					</#if>

					<#if next.title?has_content>
					<a href="{ms:global.url/}{ms:next.link/}" class="btn btn-success mb-none m-x-20">下一篇：→</a>
					<#else>
					<a class="btn btn-success mb-none m-x-20" href="#">已经没有了</a>
					</#if>
				</div>
			</div>
			<#include "menu-right.htm">
		</div>
	</article>
</div>
<#include "content-footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.min.js"></script>
<#include "footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/bootstrap.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/headroom.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.admin.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jpuery.team.scroll.js"></script>
<#include "online-service.htm">
</body>
</html>