<div class="kj-link text-center">
	<article class="container">
		<div class="row">
		{ms:arclist flag=h orderby=id order=asc typeid=72}
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3>${field.title}</h3>
				<p>${field.content}</p>
				<p><a href="{ms:global.url/}/72/index.html">立即前往 Now Go &rarr;</a> </p>
			</div>
		{/ms:arclist}
		{ms:arclist flag=h orderby=id order=asc typeid=71}
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h3>${field.title}</h3>
				<p>${field.content}</p>
				<p><a href="{ms:global.url/}/71/index.html">立即前往 Now Go &rarr;</a> </p>
			</div>
		{/ms:arclist}
		</div>
	</article>
</div>