<div class="kj-contact text-center hidden-xs">
	<h4 class="h4"><a href="{ms:global.url/}/74/index.html" target="_blank">现在致电 123456789 OR 查看更多联系方式 &rarr;</a> </h4>
</div>
<div class="kj-contact text-center visible-xs">
	<h4 class="h4"><a href="{ms:global.url/}/74/index.html" rel="nofollow">现在致电 123456789 OR 查看更多联系方式 &rarr;</a></h4>
</div>
<div class="footer" id="yy">
	<footer class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h3>快速预约上门 Reservation</h3>
				<form method="post" id="postForm">
					<ul class="list-unstyled">
						<li>
							<input name="name" type="text" id="mycall" placeholder="您的尊称 Name" maxlength="10">
						</li>
						<li>
							<input name="phone" type="text" id="title" placeholder="您的电话 Phone" maxlength="11">
						</li>
						<li>
							<input type="button" id="submitButton" name="submit" value="立即提交 Submit →"/>
						</li>
					</ul>
				</form>
				<script>
					var flag = false;
					$("#submitButton").click(function() {
					  if (!flag) {
					$.ajax({
					   type: "POST",
					   url: "/from/f2c131968438246e885e0feed7256dbc.do",
					   data: $("#postForm").serialize(),
					   success: function(msg){
					   flag = true;
						alert("提交成功");
					   }
					});
					 } else {
					   alert("您已经提交过了！");
					 }
					})
				</script>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5 col-lg-6 z15">
				<h3>联系我们 Contact US</h3>
				<address class="address">
				<ul class="list-unstyled">
					<li>中国 . 景德镇</li>
					<li> 123456789 </li>
					<li> 123456789 24 Hours 服务</li>
					<li>qxb.510@qq.com</li>
					<li class="sns"> <a href="#" title="官方微博" target="_blank"><img src="{ms:global.host/}/{ms:global.style/}/images/weibo.png" width="18" height="18" alt="微博"></a> <a href="#" target="_blank"><img src="{ms:global.host/}/{ms:global.style/}/images/shangqiao.png" width="18" height="18" alt="商桥在线咨询"></a> <a href="http://wpa.qq.com/msgrd?v=3&uin=1379814598&site=qq&menu=yes" target="_blank"><img src="{ms:global.host/}/{ms:global.style/}/images/qq.png" width="18" height="18" alt="QQ在线咨询"></a> <a href="{ms:global.url/}/74/index.html" class="bdsharebuttonbox" rel="nofollow"><img src="{ms:global.host/}/{ms:global.style/}/images/fenxiang.png" width="18" height="18" alt="联系我们" class="bds_more" data-cmd="more"></a>
				</ul>
				</address>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>快捷入口 Quick Entry</h3>
				<div class="row cidaohang">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
						<ul class="list-unstyled">
							<li><a href="{ms:global.url/}/93/95/index.html">企业文化</a></li>
							<li><a href="{ms:global.url/}/59/68/index.html">网站设计</a></li>
							<li><a href="{ms:global.url/}/61/65/index.html">网站设计</a></li>
							<li><a href="{ms:global.url/}/63/138/index.html">服务项目</a></li>
							<li><a href="{ms:global.url/}/52/index.html">招商加盟</a></li>
							<li><a href="{ms:global.url/}/19/141/index.html">联系我们</a></li>
						</ul>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
						<ul class="list-unstyled">
							<li><a href="{ms:global.url/}/69/index.html">关于我们</a></li>
							<li><a href="{ms:global.url/}/70/index.html">新闻资讯</a></li>
							<li><a href="{ms:global.url/}/71/index.html">成功案例</a></li>
							<li><a href="{ms:global.url/}/72/index.html">服务项目</a></li>
							<li><a href="{ms:global.url/}/73/index.html">企业团队</a></li>
							<li><a href="{ms:global.url/}/74/index.html">联系我们</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 weixin"> <img src="{ms:global.host/}/{ms:global.style/}/images/weixin.jpg" alt="{ms:global.name/}" title="{ms:global.name/}" class="ylw-img-responsive"/>
						<p>微信扫一扫</p>
					</div>
				</div>
			</div>
		</div>
		<div class="copy">
			<hr/>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
					<p class="banquan">{ms:global.copyright/}</p>
					<p class="renzheng"> <img src="{ms:global.host/}/{ms:global.style/}/images/2014062961592429.png" width="32" height="36" alt="工商合法注册企业" title="工商合法注册企业"/> <img src="{ms:global.host/}/{ms:global.style/}/images/2014062961988229.png" width="32" height="36" alt="安全网站" title="安全网站"/> <img src="{ms:global.host/}/{ms:global.style/}/images/2014062962024649.png" width="32" height="36" alt="网上报警" title="网上报警"/> <img src="{ms:global.host/}/{ms:global.style/}/images/2014062962053553.png" width="32" height="36" alt="中国建筑装饰协会会员" title="中国建筑装饰协会会员"/> <img src="{ms:global.host/}/{ms:global.style/}/images/2014062962093329.png" width="32" height="36" alt="中国室内装饰协会会员" title="中国室内装饰协会会员"/> <img src="{ms:global.host/}/{ms:global.style/}/images/2014062962120833.png" width="32" height="36" alt="中国建筑学会会员" title="中国建筑学会会员"/></p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-right hidden-xs">
					<div class="qixia">
						<p>旗下品牌</p>
						<p class="qx"> <a href='http://www.w3school.com.cn/' target='_blank'>某某集团</a> . <a href='http://www.w3school.com.cn/' target='_blank'>某某餐饮</a> . <a href='http://www.w3school.com.cn/' target='_blank'>某某药业</a> . <a href='http://www.w3school.com.cn/' target='_blank'>某某影视</a> . </p>
					</div>
				</div>
			</div>
		</div>
		<div class="yq-link visible-lg">
			<p><strong>友情链接：</strong> <a href='http://www.w3school.com.cn/' target='_blank'>点击有惊喜</a> | <small>友链申请QQ：1379814598</small></p>
		</div>
	</footer>
</div>
<div class="go-top text-center" id="di"><a href="#top" rel="nofollow">Go To Top 回顶部</a></div>
