<!-- 分享作者: 邱小兵 ｜ QQ:897294770 关于模版版权: 铭飞MStore（MS商城）中的网站模版由用户自主发布、编辑整理上传，对此类作品本站仅提供交流学习平台。 如果您发现MStore上有侵犯您的知识产权的作品，请与我们取得联系（邮箱：service@mingsoft.net），我们会及时修改或删除。 铭飞平台（MING-SOFT） http://ms.mingsoft.net ——————价值源自分享——————— -->
<meta name="keywords" content="{ms:global.keyword/}"/>
<meta name="description" content="{ms:global.descrip/}"/>
<meta name="mstore-key" content="密钥"/>
<script type="text/javascript">document.domain="mingsoft.net";</script>
<script src="http://cdn.mingsoft.net/plugins/jquery/1.9.1/jquery-1.9.1.js"></script>
<link href="{ms:global.host/}/{ms:global.style/}/css/bootstrap.min.css" rel="stylesheet">
<link href="{ms:global.host/}/{ms:global.style/}/css/style.css" rel="stylesheet">
<link href="{ms:global.host/}/{ms:global.style/}/css/shake.css" rel="stylesheet">
<link rel="shortcut icon" href="http://cdn.mingsoft.net/global/images/ms.ico" type="x-icon">
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.min.js"></script>