<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{ms:global.name/}</title>
<#include "headerFile.htm">
</head>
<body>
<#include "head.htm">
<div class="banner text-center">
	<div class="slider">
		<ul class="slides">
			{ms:arclist typeid=147 size=3}
			<li class="slide">
				<a>
					<img src="{ms:global.host/}/{@ms:file field.litpic/}" class="ylw-img-responsive" alt="{ms:global.name/}" title="{ms:global.name/}"/>
				</a>
			</li>
			{/ms:arclist}
		</ul>
	</div>
</div>
<div class="about">
	<article class="container text-center"> 
		{ms:arclist typeid=96 size=1}
			<h2 class="h-h2">${field.title}</h2>
			<div class="m-shu">${field.descrip}</div>
			<div class="about-us">
				<p>${field.content}</p>
			</div>
		{/ms:arclist}
		<p><a href="{ms:global.url/}/93/index.html" class="btn btn-success" target="_blank">查看更多 MORE &rarr;</a> </p>
	</article>
	<div class="modal fade" id="myVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">企业视频</h4>
				</div>
				<div class="modal-body text-center">
					<embed class="visible-lg" src="flash/v.swf" allowFullScreen="true" quality="high" width="100%" height="310px" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fuwu fuwu-bg">
	<section class="container text-center">
		<h2 class="h-h2">我们的服务 Our Services</h2>
		<div class="m-shu">始终以建设温馨、和谐的家园，提升您的居家生活品味为己任。</div>
		<div class="row"> 
		{ms:arclist size=4 typeid=99}
			<figure class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<a href="#">
					<img src="{ms:global.host/}/{ms:global.style/}images/service.png">
				</a>
				<h3>
					<a href="#">
						${field.title}<br/>
						<small>${field.descrip}</small>
					</a>
				</h3>
			</figure>
		{/ms:arclist} 
		</div>
	</section>
</div>
<div class="huanjing">
	<section class="container text-center">
		<h2 class="h-h2">我们眼中的办公环境 Our Eyes Office Environment</h2>
		<div class="m-shu">十年风雨，十年耕耘，14年的坚持，用心为一流的企业提供一流的办公环境</div>
		<div class="tab-content">
            {ms:arclist typeid=99 size=1}
				<figure class="fudong-bg tab-pane fade in active" id="${field.descrip}">
					<img src="{ms:global.host/}/{ms:global.style/}images/kehu-bg.jpg" alt="${field.title}" title="${field.title}" class="ylw-img-responsive" height="400"/>
					<div class="fudong">
						<h3>${field.title}</h3>
						<p style="color: #FFFFFF;background: none;">${field.content}</p>
						<p><a href="#" class="btn btn-success" target="_blank">查看更多 MORE &rarr;</a></p>
					</div>
				</figure>
            {/ms:arclist}
		</div>
	</section>
</div>
<div class="case">
	<section class="container text-center">
		<h2 class="h-h2">精选案例 Case</h2>
		<div class="m-shu">企业形象展示的窗口，团队能量聚积、展示才华的舞台，伙伴携手共赢、价值创造的发源地
			<p>{ms:channel type=son typeid=61}</strong> 
				<a href='{ms:global.url/}${field.typelink}'>${field.typetitle}</a> / {/ms:channel}
				<a href="{ms:global.url/}/61/index.html">更多分类...</a> 
			</p>
		</div>
		<div class="row"> 
			{ms:arclist size=6 typeid=61}
			<figure class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<a href="{ms:global.url/}${field.link}" title="${field.title}" class="pic-link" target="_blank">
					<span class="case-hover">
						<span class="hover-link"></span>
					</span>
					<img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="${field.title}" class="ylw-img-responsive" alt="${field.title}" width="360" height="275"/>
				</a>
				<h3><a href="{ms:global.url/}${field.link}" title="${field.title}">${field.title}</a><br/>
					<small>关注：${field.index} / 目录：<a href='{ms:global.url/}${field.typelink}'>${field.typename}</a></small></h3>
			</figure>
			{/ms:arclist} </div>
		<p><a href="{ms:global.url/}/61/index.html" class="btn btn-success" target="_blank">查看更多 MORE &rarr;</a> </p>
	</section>
</div>
<div class="team team-bg">
	<section class="container text-center">
		<h2 class="h-h2">精英团队 Elite Team</h2>
		<div class="m-shu">一群心怀梦想，并且不断追求愿意为此而付诸行动的人</div>
		<div class="team-nav">
			<div class="row team-w"> {ms:arclist typeid=115}
				<figure class="col-xs-12 col-sm-6 col-md-3 col-lg-3 team-array"><a href="{ms:global.url/}${field.link}" title="${field.title}" class="pic-link" target="_blank"><span class="hover-jia"></span><img src="{ms:global.host/}/{@ms:file field.litpic/}" alt="${field.title}" class="img-circle ylw-img-responsive3" alt="${field.title}"/></a>
					<h3><a href="{ms:global.url/}${field.link}" target="_blank">${field.title}</a><br/>
						<small>专家设计师<br/>
						对于自己一手培育...</small></h3>
				</figure>
				{/ms:arclist} </div>
		</div>
		<p class="visible-lg"> <img src="{ms:global.host/}/{ms:global.style/}/images/team-left.png" class="img-l"/> <img src="{ms:global.host/}/{ms:global.style/}/images/team-right.png" class="img-r"/></p>
		<p><a href="#" class="btn btn-success" target="_blank">查看更多 MORE &rarr;</a></p>
	</section>
</div>
<div class="youshi">
	<section class="container text-center">
		<h2 class="h-h2">企业优势 Advantage</h2>
		<div class="m-shu">高端办公环境策划领航者，致力于办公环境整体策划及管理</div>
		<div class="row"> 
			{ms:arclist typeid=93 size=12}
			<figure class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<img src="{ms:global.host/}/{ms:global.style/}images/index-about.png" class="ylw-img-responsive" alt="累死我了">
				<h3>
					<a href="{ms:global.url/}/93/index.html" target="_blank">${field.title}</a>
				</h3>
				<p><a href="{ms:global.url/}/93/index.html" target="_blank">${field.title}</a><small>${field.descrip}</small></p>
			</figure>
			{/ms:arclist} </div>
		<p><a href="{ms:global.url/}/93/index.html" class="btn btn-success" target="_blank">查看更多 MORE &rarr;</a><a href="{ms:global.url/}/69/index.html" class="btn btn-success" target="_blank">关于我们 About &rarr;</a></p>
	</section>
</div>
<div class="news">
	<article class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-13">
				<h3>新闻资讯 News<small class="pull-right"> <a href="#news1" data-toggle="tab" class="active-qh pull-left" title="新闻资讯">新闻资讯</a> <a href="#news2" data-toggle="tab" class="active-qh pull-left" title="新闻资讯">新闻资讯</a></small></h3>
				<div class="tab-content">
					<ul class="list-unstyled clearfix tab-pane active" id="news1">
						{ms:arclist typeid=68 size=5}
						<li><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small></li>
						{/ms:arclist}
					</ul>
					<ul class="list-unstyled clearfix tab-pane" id="news2">
						{ms:arclist typeid=68 size=5}
						<li><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small></li>
						{/ms:arclist}
					</ul>
				</div>
				<p><a href="{ms:global.url/}/59/index.html">查看更多 MORE &rarr;</a> </p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-13 zaz">
				<h3>行业新闻 Article<small class="pull-right"> <a href="#article1" data-toggle="tab" class="active-qh pull-left" title="行业新闻">行业新闻</a> <a href="#article2" data-toggle="tab" class="active-qh pull-left" title="行业新闻">行业新闻</a> </small></h3>
				<div class="tab-content">
					<ul class="list-unstyled clearfix tab-pane active" id="article1">
						{ms:arclist typeid=69 size=5}
						<li><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small></li>
						{/ms:arclist}
					</ul>
					<ul class="list-unstyled clearfix tab-pane" id="article2">
						{ms:arclist typeid=69 size=5}
						<li><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small></li>
						{/ms:arclist}
					</ul>
				</div>
				<p><a href="{ms:global.url/}/59/index.html">查看更多 MORE &rarr;</a></p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-13" style="float:right">
				<h3>媒体报道 Article<small class="pull-right"><a href="{ms:global.url/}/70/81/index.html" title="媒体报道"> 更多</a></small></h3>
				<div class="tab-content">
					<ul class="list-unstyled clearfix tab-pane active" id="links1">
						{ms:arclist typeid=70 size=5}
						<li><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small></li>
						{/ms:arclist}
					</ul>
				</div>
				<p><a href="{ms:global.url/}/59/index.html">查看更多 MORE &rarr;</a></p>
			</div>
		</div>
	</article>
</div>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.min.js"></script>
<#include "footer.htm">
<script src="{ms:global.host/}/{ms:global.style/}/js/bootstrap.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/headroom.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.admin.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jpuery.team.scroll.js"></script>
<#include "online-service.htm">
</body>
</html>
