<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	<div class="ny-right">
		<#include "search.htm">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
				<h4 class="ny-h4">推荐内容 <small>Recommended</small></h4>
				<ul class="list-unstyled clearfix">
					{ms:arclist typeid=59 size=3}
					<li><a href="{ms:global.url/}${field.link}" title="${field.title}">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small> {/ms:arclist}
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
				<h4 class="ny-h4">相关内容 <small>Related</small></h4>
				<ul class="list-unstyled clearfix">
					{ms:arclist typeid=59 size=5}
					<li><a href="{ms:global.url/}${field.link}" title="${field.title}">${field.title}</a><small class="pull-right">${field.date?string("yyyy-MM-dd")}</small> {/ms:arclist}
				</ul>
			</div>
		</div>
	</div>
</div>
