<!-- 生产环境版本，优化了尺寸和速度 -->
<script type="text/javascript" src="{ms:global.host/}/static/plugins/vue/2.6.9/vue.min.js"></script>
<script src="{ms:global.host/}/static/plugins/element-ui/2.12.0/index.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!--网络请求框架-->
<script src="{ms:global.host/}/static/plugins/axios/0.18.0/axios.min.js"></script>
<script src="{ms:global.host/}/static/plugins/qs/6.6.0/qs.min.js"></script>
<script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.js"></script>
<script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.http.js"></script>
<script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.util.js"></script>

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 引入自定义库 -->
<script src="/static/mdiy/index.js"></script>



<!--将 表单代码 复制到这个位置-->

<div id="form" v-loading="loading" v-cloak>

    <div id="formModel"> </div>
    <el-button type="primary" icon="iconfont icon-baocun" size="mini" @click="save()" :loading="saveDisabled">保存</el-button>
    <input v-model="form.randCode" class="input__field input__field--hoshi" type="text" id="input-rand-code" />
    <input type="button" @click="code" value="看不清，换一张">

    <div class="class-20" >
        <img :src="verifCode" class="code-img"/>
    </div>
</div>



<script>
    var form = new Vue({
        el: '#form',
        data: function() {
            return {
                saveDisabled: false,
                formModel: undefined,
                form: {
                    randCode: '',
                },
                loading:false,
                verifCode: '',
                pigger: 'dsfddfsdsf',
            }
        },
        methods: {
            save: function() {

                var that = this;
                that.saveDisabled = true;
                that.formModel._data.form.rand_code=this.form.randCode;
                that.formModel.save(function(res) {
                    if (res.result) {
                        that.$notify({
                            title: '成功',
                            type: 'success',
                            message: '保存成功!'
                        });

                    } else {
                        that.$notify({
                            title: '失败',
                            message: res.msg,
                            type: 'warning'
                        });
                    }
                    that.saveDisabled = false;
                });
            },
            //获取验证码
            code:function(){
                this.verifCode = "/code.do?t=" + new Date().getTime();
            },
        },
        created: function() {
            var that = this;
            this.code();
            ms.mdiy.model.form("formModel", { "modelName": "Api" }).then(function(obj) {
                that.formModel = obj;
            });
        }
    });
</script>