<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>新闻资讯 / ${field.typetitle}_{ms:global.name/}</title>
<#include "headerFile.htm">
</head>
<body>
<#include "head.htm">
<div class="banner text-center">
	<div class="box hba" style="background-image:url({ms:global.host/}/{ms:global.style/}/images/6.jpg)"> </div>
</div>
<div class="crumbs">
	<div class="container">
		<div class="btn-group pull-right hidden-xs">
			<button type="button" class="btn btn-menu btn-default dropdown-toggle" data-toggle="dropdown">更多菜单 Menu <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				{ms:channel type=son typeid=59}
					<li><a href="{ms:global.url/}${field.typelink}">${field.typetitle}</a></li>
				{/ms:channel}
			</ul>
		</div>
		<ol class="breadcrumb">
			<li><a href='{ms:global.host/}'>主页</a> > <a href='{ms:global.url/}/59/index.html'>新闻资讯</a> > <a href='改为 ${field.typelink}'>${field.typetitle}</a> > </li>
		</ol>
	</div>
</div>
<div class="neirong">
	<article class="container">
		<div class="biaoti-sousuo row">
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
				<h3 class="ny-bt">${field.typetitle} </h3>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
			<#include "search.htm">
			</div>
		</div>
		<div class="row m-x-30" id="newsTmp">
	       {ms:arclist ispaging=true size=6}
			<figure class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<article class="ny-news"><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank" class="pull-left pic-link visible-lg"><span class="case-hover"><span class="hover-link"></span></span><img src={ms:global.host/}${field.litpic} class="ylw-img-responsive2" alt="${field.title}"/></a>
					<h4><a href="{ms:global.url/}${field.link}" title="${field.title}" target="_blank">${field.title}</a></h4>
					<p>${field.descrip}</p>
					<p><span class="fl"><a href='改为 ${field.typelink}'>${field.typetitle}</a></span><span class="gz">${field.index}</span><span class="sj">${field.date?string("yyyy-MM-dd")}</span></p>
				</article>
			</figure>
		{/ms:arclist}
		</div>
		<div class="fanye text-center">
			<ul class="pagination pagination-lg" >
				<li><a href="{ms:global.url/}/{ms:page.index/}">首页</a></li>
				<li class="thisclass"><a>{ms:page.cur/}</a></li>
				<li><a href='{ms:global.url/}/{ms:page.pre/}'>上一页</a></li>
				<li><a href='{ms:global.url/}/{ms:page.next/}'>下一页</a></li>
				<li><a href='{ms:global.url/}/{ms:page.last/}'>末页</a></li>
				<li><span class="pageinfo">有 <strong>{ms:page.rcount/}</strong>条 共<strong>{ms:page.total/}</strong>页</span></li>
			</ul>
		</div>
	</article>
</div>
<#include "footer.htm">

<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/bootstrap.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/headroom.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.headroom.js"></script>
<script>$("#header").headroom();</script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.min.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.glide.admin.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/jpuery.team.scroll.js"></script>
<#include "online-service.htm">
</body>
</html>
