<div class="kefu hidden-xs">
	<div><a href="{ms:global.url/}/74/index.html" class="kefu-lx" title="联系我们" target="_blank">联系我们</a> </div>
	<ul class="list-unstyled">
		<li><a href="http://wpa.qq.com/msgrd?v=3&uin=1379814598&site=qq&menu=yes" target="_blank" class="kf" rel="nofollow">在线客服</a></li>
		<li><a href="#yy" class="kefu-yy" title="快速预约设计" rel="nofollow">快速预约</a></li>
		<li><a href="http://wpa.qq.com/msgrd?v=3&uin=1379814598&site=qq&menu=yes" title="网页在线咨询" target="_blank" class="kefu-zx" rel="nofollow">在线咨询</a></li>
		<li><a href="#top" class="kefu-top" title="回网页顶部" rel="nofollow"></a></li>
		<li><a href="#di" class="kefu-di" title="回网页底部" rel="nofollow"></a></li>
	</ul>
</div>