<div>
    <div class="search">
        <div class="body">
            <span> 关键字 <span style="color: red">{ms:search.content_title/}</span> </span>
            <form action="{ms:global.host/}/mcms/search.do" method="post">
                <input type="text"  name="content_title" placeholder="请输入关键字">
                <input type="text"  name="content_type" placeholder="文章属性,多个以,分隔">
                <input type="text"  name="categoryIds" placeholder="请输入栏目id,多个以,分隔">
                <input type="submit" value="查询">
            </form>

                <#assign isEmpty=true>
                {ms:arclist size=2 ispaging=true}
                <#assign isEmpty=false>
                <div class="news-item">
                    <div class="pic">
                        <img title="" alt="" src="{ms:global.host/}/{@ms:file field.litpic/}">
                    </div>
                    <div class="news-content">
                        <a href="{ms:global.url/}${field.link}" class="title"> ${field.title} </a>
                        <span class="desc"> ${field.descrip} </span>
                    </div>
                </div>
                {/ms:arclist}
                <#if isEmpty>
                <span style="width: 100%; text-align:center;min-height: 300px;display: flex;justify-content: center;align-items: center;">没有找到 "<span style="color: red">${search.content_title}</span>" 相关记录 </span>
            </#if>
        </div>
    </div>
</div>
<script>

</script>