




<div style="align-items:center;flex-direction:row;background-image:url({ms:global.host/}/{ms:global.style/}/images/1601264474008.png);display:flex;padding-right:0px;box-sizing:border-box;justify-content:center;border-top-left-radius:0px;border-bottom-left-radius:0px;width:100%;border-bottom-right-radius:0px;background-size:auto;border-top-right-radius:0px;background-position:top center;background-repeat:repeat;padding-left:0px;height:152px;">
<div style="align-items:center;flex-direction:row;display:flex;padding-right:0px;width:1170px;box-sizing:border-box;padding-top:0px;justify-content:center;height:100%;">
<img
title=""
alt=""
src="{@ms:file global.logo/}"
style="border-bottom-left-radius:0px;width:377px;border-bottom-right-radius:0px;border-top-right-radius:0px;height:74px;border-top-left-radius:0px;"/>
<div style="align-items:flex-end;flex-direction:column;display:flex;padding-right:120px;box-sizing:border-box;justify-content:center;border-top-left-radius:0px;border-bottom-left-radius:0px;width:100%;border-bottom-right-radius:0px;border-top-right-radius:0px;padding-left:0px;height:100%;">
<div style="align-items:center;flex-direction:row;display:flex;padding-right:0px;width:370px;box-sizing:border-box;justify-content:flex-end;height:30px;">
<a href="#" style="cursor:pointer;font-size:13px;text-decoration:none;color:#666666;"
>
政务邮箱
</a>
</div>
<div style="align-items:flex-end;flex-direction:row;display:flex;padding-right:0px;box-sizing:border-box;justify-content:center;border-top-left-radius:0px;border-bottom-left-radius:0px;width:270px;border-bottom-right-radius:0px;border-top-right-radius:0px;padding-left:0px;height:21%;">
<form id="searchDataForm" action="{ms:global.host/}/mcms/search.do" method="post" style="margin:0;padding:0;width:100%">
<div class="ms-search-input">
<div class="ms-search-input-div">
<!--输入框 - start -->
<input class="ms-input" placeholder="输入搜索关键字"/>
<!--输入框 -end -->
</div>
<div class="ms-search-button" onclick="document.getElementById('searchDataForm').submit();">
<i class="iconfont icon-fangdajing"></i>
<span>
搜索
</span>
</div>
</div>
</form> </div> </div> </div> </div>