@import "../ms-admin/4.7.0/less/app.less";
.ms-admin-menu {
    min-height: 100vh;
    min-width: 140px;
    .ms-header {
        border-right: solid 1px #e6e6e6;
        div {
            height: 100%;
            .ms-align-center;
            i {
                display: inline-block;
                text-align: center;
                line-height: 1.4em;
                .ms-width-height(1.4em);
                border-radius: 4px;
                color: #fff;
                font-size: 1.4em;
                background: #02CF5D;
            }
            span {
                margin: auto;
            }
        }
    }
    .el-main {
        padding: 0;
        .ms-admin-menu-menu {
            min-height: ~'calc(100vh - 50px)';
            background: #fff;
            .el-menu-item{
                min-width: 140px;
                width: 140px;
            }
        }
        .ms-admin-material-item {
            min-width: 100% !important;
        }
    }
}