     <div class="footer">
                    <div class="column_box">
                        <div class="programa"> 
         	<div class="programa"> 
                     		<span><a href="{ms:global.url/}/lianxiwomen/index.html"> 联系我们</a> </span>
                    		<span class="column"> | </span>
                    		<span><a href="{ms:global.url/}/guanyuwomen/index.html"> 公司简介</a> </span>
                    		<span class="column"> | </span>
                    		<span> <a href="{ms:global.url/}/xinwenzhongxin/index.html">新闻中心</a></span>
                    		<span class="column"> | </span>
                    		<span> <a href="{ms:global.url/}/zhaoshanghezuo/index.html">招商合作</a> </span>
                    		<span class="column"> | </span>
                    		<span> <a href="{ms:global.url/}/renliziyuan/index.html">人力资源</a> </span>
                    		<span class="column"> | </span>
                        </div>
                
                    <div class="programa footer_font">
                        <span>
                                版权所有(C) 武汉福保燃气安全新技术公司 | 地址: 湖北省武汉市东湖开发区流芳园横路6号武汉光谷电子工业园6号工业厂房B区第一层  鄂ICP备17015181号
                        </span>
                    </div>
      	<div style="width:300px;margin:0 auto; padding:20px 0;">
                               <img src="{ms:global.host/}/{ms:global.style/}/images/ga.png"/>
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42018502002453" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42018502002453号</p></a>
		 	</div>          
                <div class="programa footer_font">
                <!--span class="phone">
                                 手机：13277902692 | 电话：027-87611402 | QQ：2029444895
                 </span-->

                </div>       
            </div>
        </div>      

