<!--由铭飞科技提供技术支持，团队成员 胡永利制作-->	
<!--头部-->
		<div class="header">
        	<div class="warp">
                <div class="logo">
                    	<img src="{ms:global.host/}/{ms:global.style/}/images/toubu.png">
                </div>
	 	<div class="soso">
	 	<form id="searchDataForm" action="{ms:global.host/}/mcms/search.do" method="post">
		      <input type="hidden" name="categoryIds" value="4939,1398224556804325378,1398232504783912961,1398232504783912961,1398484257177669633,1399176403983597569"/> <!--必须存在-->
		        <!--表单的name值不能改变-->
	 	      	<input type="text" name="content_title" placeholder="搜索您需要的商品"  class="search" />
		       <input type="submit" value="" class="but-sublimt">
	        </form>
                </div>
     		</div>
            <!--导航条-->
         		 <div class="nav">
          			   <ul> 
                                           <li><a href="{ms:global.url/}/index.html">首页</a></li>	
	
                                            <li><a href="{ms:global.url/}/guanyuwomen/index.html">关于我们</a></li>
            
                                            <li><a href="{ms:global.url/}/xinwenzhongxin/index.html">新闻中心</a></li>
            
                                            <li><a href="{ms:global.url/}/chanpinxinxi/index.html">产品信息</a></li>
                        
                                            <li><a href="{ms:global.url/}/zhaoshanghezuo/index.html">招商合作</a></li>
            
                                            <li><a href="{ms:global.url/}/renliziyuan/index.html">人力资源</a></li>
            
                                            <li><a href="{ms:global.url/}/lianxiwomen/index.html">联系我们</a></li>	
   				</ul>
            	</div>
         </div>
			 <!--导航条结束-->
		 	<style>
				input.but-sublimt:hover {
					cursor: pointer;
				}	 
			 </style>
			 <script>
				 $(".but-sublimt").click(function(){
					 let search = $('.search').val()
					 if(!search) {
						alert('请输入关键字')
						return false
					 }
				 })
				
				
			 </script>
			 
