<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{ms:global.name/}</title>
 	<link type="text/css" rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/index.css">
    <link type="text/css" rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/jointly.css">
    <script src="{ms:global.host/}/{ms:global.style/}/js/jquery-1.7.2.min.js"></script> 
	<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.slides.min.js"></script> 
	<style>
		*{margin:0;padding:0;list-style:none;border:0;}
		.slides, .slide-bg{height: 440px;overflow: hidden;}
		.slidesjs-pagination{position: absolute;top: 592px;left: 42%;z-index: 11;}
		.slidesjs-pagination li{float: left;margin-right: 10px;}
		.slidesjs-pagination li a{text-indent: -9999px;background-color: #c1c1c1;display: inline-block; *display:block;_display: block;width: 79px;height: 5px;padding: 0;_height: 2px;_line-height: 1;}
		.slidesjs-pagination li a.active{background-color: #fc7878;}
		.slideChild{width: 100%;margin: 0 auto;z-index: 10;height: 440px;position: relative;}
		.slideChild a.opa{position: absolute;top: 0;left: 0;display: inline-block; *display:block;_display: block;width: 100px;height: 50px;background-color: #fff;filter: alpha(opacity=0);-ms-filter: "alpha(opacity=0)";opacity: 0;}
		.slideImg{position: absolute;top: 0;left: 0;z-index: 9;}
	</style>
</head>
<body>
      <#include "head.html"> 
	
         <!--主要内容-->
			<div class="main">
        					<!--幻灯-->
                            <div id="slides" class="slides">	
		    {ms:arclist typeid=1398118215418994689}	      
		         <!--需要修改相应的宽高-->
			      <div>
                    <div class="slideChild" style="background:url({ms:global.host/}{@ms:file field.litpic/}) no-repeat center;">
                        
			        	<a class="a-jd opa js-log-login" style="top:280px;left:310px;width:230px;height:70px;" href="{ms:global.url/}[field.link/]"></a>
			        </div>
			       <!--<img class="slideImg" style="width:100%" src={ms:global.host/}[field.litpic/] />-->
			      </div>	      
			{/ms:arclist}	
			</div>	  
            

                    <!--产品内容列表-->
                	<div class="container">
                            <div class="catena">
                                <ul class="productName">	
                                    <li class="portable"> <h2> <a href="{ms:global.url/}/chanpinxinxi/bianxieshixilie/index.html">便携式系列</a> </h2> </li>
                                    <li class="more"> <a href="{ms:global.url/}/chanpinxinxi/bianxieshixilie/index.html">更多 > </a></li>
                                </ul>
                            </div>
                          
                  <div class="outer">
                            <ul>
                            {ms:arclist typeid=1398232504783912961 size=4 titlelen=15}
                            	<li>
                            		<a href="{ms:global.url/}[field.link/]"> 
                                     	<img src="{ms:global.host/}{@ms:file field.litpic/}" />
                                   		<div class="name"> [field.title/] </div>
                               		 </a>
                                </li>
                             {/ms:arclist}  
                            </ul>
                    
                  </div>
                         <!--产品内容列表-->
                     <div class="catena">
                                <ul>	
                                    <li class="portable"> <h2> <a href="{ms:global.url/}/chanpinxinxi/diancifaxilie/index.html">电磁阀系列</a> </h2> </li>
                                    <li class="more"> <a href="{ms:global.url/}/chanpinxinxi/diancifaxilie/index.html">更多 > </a></li>
                                </ul>
                      	</div>
                    
                   <div class="outer">
                       <ul>
                           <ul>
                             {ms:arclist typeid=1398477290572943361 size=4 titlelen=15}
                            	<li>
                            		<a href="{ms:global.url/}[field.link/]">
                                     		<img src="{ms:global.host/}{@ms:file field.litpic/}" />
                                   		<div class="name"> [field.title/] </div>
                               		 </a>
                                </li>
                             {/ms:arclist}  
                            </ul>
                    </div>
                      
                         <!--产品内容列表-->
                       <div class="catena">
                                <ul>	
                                    <li class="portable"> <h2> <a href="{ms:global.url/}/chanpinxinxi/gongyexilie/index.html">工业系列</a> </h2> </li>
                                    <li class="more"> <a href="{ms:global.url/}/chanpinxinxi/gongyexilie/index.html">更多 > </a></li>
                                </ul>
                      	</div>
                      
                      <div class="outer">
                      		<ul>
                                {ms:arclist typeid=1398484257177669633 size=4 titlelen=15}
                            	<li>
                            	      <a href="{ms:global.url/}[field.link/]">
                                     	        <img src="{ms:global.host/}{@ms:file field.litpic/}" />
                                   	        <div class="name"> [field.title/] </div>
                               		</a>
                                </li>
                            	{/ms:arclist}  
                            </ul>
						</div>
                         <!--产品内容列表-->
                     <div class="catena">
                                <ul>	
                                    <li class="portable"> <h2> <a href="{ms:global.url/}/chanpinxinxi/minyongxiliejiqitachanpin/index.html">民用系列及其它产品</a> </h2> </li>
                                    <li class="more"> <a href="{ms:global.url/}/chanpinxinxi/minyongxiliejiqitachanpin/index.html">更多 > </a></li>
                                </ul>
                      	</div>
                      
                      <div class="outer">
                      	   <ul>
                            	   {ms:arclist typeid=1399176403983597569 size=4 titlelen=15}
                            	   <li>
                            		 <a href="{ms:global.url/}[field.link/]">
                                     		<img src="{ms:global.host/}{@ms:file field.litpic/}" />
                                   		<div class="name"> [field.title/] </div>
                               		 </a>
                                   </li>
                                    {/ms:arclist}  
                            </ul>
                      </div>
                      
                      
                 <div class="intro">  		
                    	<ul>
                            <!--行业新闻-->
                            <li class="line field_news"> 
                                      <div class="line_new">
                                         	<ul>
                                                    <li class="line_font"><a href="{ms:global.url/}/xinwenzhongxin/xingyexinwen/index.html">行业新闻</a></li>
                                                    <li class="line-icon"></li>
                                                <a href="{ms:global.url/}/xinwenzhongxin/xingyexinwen/index.html"> <li class="icon"></li></a>
                                             </ul>
                                       </div>
                                        
                    					<div class="liady liady_background"> 
                            					<ul>           
                            						  {ms:arclist  size=5 titlelen=20 typeid=1399187535217623041}      
                                                        <li class="liady_font liady_new"> 
                                                        	<a href="{ms:global.url/}[field.link/]">
                                                                <span class="liady_icon"></span>
                                                                <span>[field.title/]</span>
                                                            </a>
                                                        </li>
                                                       {/ms:arclist}  
                            					</ul>
                    					</div>    
                			</li>
                  <!--公司新闻-->
                        <li class="line field_news"> 
                                <div class="line_new">
                                        <ul>
                                                <li class="line_font"><a href="{ms:global.url/}/xinwenzhongxin/gongsixinwen/index.html">公司新闻</a></li>
                                                <li class="company_news"></li>
                                                <a href="{ms:global.url/}/xinwenzhongxin/gongsixinwen/index.html"><li class="icon"></li></a>
                                        </ul>
                                </div>
                        
                    			<div class="liady company_background"> 
                           			 	<ul>             
                                                 {ms:arclist   size=5 titlelen=20 typeid=1399187750150537218}      
                                                        <li class="liady_font liady_new"> 
                                                        	<a href="{ms:global.url/}[field.link/]">
                                                                <span class="company_iocn"></span>
                                                                <span>[field.title/]</span>
                                                            </a>
                                                        </li>
                                                 {/ms:arclist}  
                            			</ul>
                    			</div>    
                		</li>
                <!--联系我们-->
                        <li class="line"> 
                    			<div class="line_new">
                                        <ul>
                                                <li class="line_font contactus"><a href="{ms:global.url/}/guanyuwomen/index.html">联系我们</a></li>
                                                <li class="contact"></li>                            
                                        </ul>
                   				 </div>
                    
                                <div class="liady contact_background"> 
                                        <ul>    
                                          {ms:arclist   size=1 typeid=1398155964083687425}              
                                                <li class="liady_font liady_new"> 
                                                	  [field.content/]
               		 			                </li> {/ms:arclist}  
        					            </ul>
						        </div>
 					</div>
            <div class="qq">
                      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2029444895&amp;site=qq&amp;menu=yes" ><img data-type="img1" src="{ms:global.host/}/{ms:global.style/}/images/qq.png" class="img_qq"/> </a>
                      <img data-type="img2" src="{ms:global.host/}/{ms:global.style/}/images/pic.png" class="img_tel"/> 
                  </div>
                      <img  style="position: fixed;right: 52px;top: 210px;display:none" class="img_one" style="width: 223px; height: 114px;" src="{ms:global.host/}/{ms:global.style/}/images/talk.png"/> 
                      <img  style="position: fixed;right: 52px;top: 270px;display:none" class="img_two" style="width: 223px; height: 114px;"  src="{ms:global.host/}/{ms:global.style/}/images/tel.png"/> 
                 
                </div> 

      	  		</div> 
             <#include "foot.html">          
</body>
</html>
 <script>
$(function() {
	$('#slides').slidesjs({
		play:{
			active: false,
			effect: "fade",
			auto: true,
			interval: 4000
		},
		effect: {
			fade: {
			speed: 1500,
			crossfade: true
			}
		},
		pagination: {
			active: true
		},
		navigation:{
			active: false
		}
	});
});


       $(".qq >a").hover(
            function(){
               $(".img_one").css("display","block");
          },
             function(){
               $(".img_one").css("display","none");
        }
);

       $(".qq > .img_tel").hover(
            function(){
               $(".img_two").css("display","block");
          },
             function(){
              $(".img_two").css("display","none");
        }
);

</script>
