<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{ms:global.name/}</title>
        <link type="text/css" rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/product-list.css">
        <link rel="stylesheet" href="{ms:global.host/}/{ms:global.style/}/css/jointly.css">
        <script src="{ms:global.host/}/{ms:global.style/}/js/jquery-1.9.0.js" type="text/javascript"></script>
</head>

<body>
       <#include "head.html">    
          <!-- 主要内容-->
          <div class="main">
          		<!--位置导航-->
      			<div class="present"> 
                                <span>您现在的位置：</span>
      				<span><a href={ms:global.host/}> 首页 > </a></span>
                                <span><a href="{ms:global.url/}${field.typelink}">{ms:field.typetitle/}</a> </span>
                	</div> 
                   <!--产品系列--> 
               <div class="main-container">
                        <div class="info">   
                               <ul>   
                                       
                            <li class="product">产品信息</li>
                                   
                             <li class="commodity">
                                                <span class="info_icon"><span></span></span>
                                                <a class="set" href="{ms:global.url/}/chanpinxinxi/bianxieshixilie/index.html">便携式系列</a>
                            </li>
                              <li class="childlife commodity"><span></span></li>

                              <li class="commodity">
                                                <span class="info_icon"><span></span></span>
                                                <a class="set" href="{ms:global.url/}/chanpinxinxi/diancifaxilie/index.html">电磁阀系列</a>
                            </li>
                              <li class="childlife commodity"><span></span></li>

                           <li class="commodity">
                                                <span class="info_icon"><span></span></span>
                                                <a class="set" href="{ms:global.url/}/chanpinxinxi/gongyexilie/index.html">工业系列</a>
                            </li>
                               <li class="childlife commodity"><span></span></li>

                            <li class="commodity">
                                                <span class="info_icon"><span></span></span>
                                                <a class="set" href="{ms:global.url/}/chanpinxinxi/minyongxiliejiqitachanpin/index.html">民用系列及其它产品</a>
                            </li>
                             <li class="childlife commodity"><span></span></li>
                                  
                	</ul>         
                 </div>  
                 
               
                 <!--产品图片-->
                  <div class="pic">
                    	<ul>  
                    {ms:arclist size=9 ispaging=true }                     
                                <li>
                                   <a href='{ms:global.url/}[field.link/]'  target="_self">
						<img src='{ms:global.host/}/{@ms:file field.litpic/}'/>
                                        <div>
                                               [field.title/]
                                        </div>
                                    </a>
                                </li>   
                              {/ms:arclist}
                         </ul>
                  </div>	
                   <!--分页-->     
                              <ul class="fanye">
                                   <li  class="home-page"><a href="{ms:global.url/}{ms:page.index/}">首页</a></li>
                                   <li><a href="{ms:global.url/}{ms:page.pre/}">上一页</a></li>
                                   <li><a href="{ms:global.url/}{ms:page.next/}">下一页</a></li>
                                   <li class="last"><a href="{ms:global.url/}{ms:page.last/}">最末页</a></li>
                              </ul>

                 </div>	
          
                 <div class="qq">
                      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2029444895&amp;site=qq&amp;menu=yes" ><img data-type="img1" src="{ms:global.host/}/{ms:global.style/}/images/qq.png" class="img_qq"/> </a>
                      <img data-type="img2" src="{ms:global.host/}/{ms:global.style/}/images/pic.png" class="img_tel"/> 
                  </div>
                      <img  style="position: fixed;right: 52px;top: 210px;display:none" class="img_one" style="width: 223px; height: 114px;" src="{ms:global.host/}/{ms:global.style/}/images/talk.png"/> 
                      <img  style="position: fixed;right: 52px;top: 270px;display:none" class="img_two" style="width: 223px; height: 114px;"  src="{ms:global.host/}/{ms:global.style/}/images/tel.png"/> 
                 
         </div> 

   		<#include "foot.html"> 	
</body>
</html>
                 <script>
       $(".qq >a").hover(
            function(){
               $(".img_one").css("display","block");
          },
             function(){
               $(".img_one").css("display","none");
        }
);

       $(".qq > .img_tel").hover(
            function(){
               $(".img_two").css("display","block");
          },
             function(){
              $(".img_two").css("display","none");
        }
);
</script>
