/* 
html5doctor.com Reset Stylesheet
v1.5 
Last Updated: 2010-08-12
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
li{ list-style:none}

.ms-text-hide{

	overflow: hidden;
	
	text-overflow: ellipsis;
	
	-webkit-line-clamp: 4;//文字显示几行超出隐藏，最后显示...
	
	-webkit-box-orient: vertical;
	
	display: -webkit-box;
	
	height:92px;
}



/*改动*/
#DB_gallery{width:1170px;margin:0px auto 0 auto;}
#DB_gallery .DB_imgSet {position:relative;height:440px;overflow:hidden;}
#DB_gallery .DB_imgSet .DB_imgWin{height:100%}
#DB_gallery .DB_imgSet .DB_prevBtn{position:absolute;top:50%;margin-top:-67px;cursor:pointer;left:10px;}
#DB_gallery .DB_imgSet .DB_nextBtn{position:absolute;top:50%;margin-top:-67px;cursor:pointer;right:10px;}
#DB_gallery .DB_imgSet .cpsc{position:absolute;top:12px;cursor:pointer;left:11px;width:47px;height:45px;background: url(../images/cpsc.png) no-repeat;}
#DB_gallery .DB_imgSet .ckgd{position:absolute;top:12px;right:11px;width:34px;height:34px;background: url(../images/ckgd.png) no-repeat;}
#DB_gallery .DB_thumSet {position:relative;margin-top:12px;width:729px;overflow:hidden;float:right;}
#DB_gallery .DB_thumSet .DB_thumMove{position:relative;white-space:nowrap;font-size:0}
#DB_gallery .DB_thumSet .DB_thumMove li{display:inline;margin-right:8px}
#DB_gallery .DB_thumSet .DB_prevPageBtn{position:absolute;top:4px;cursor:pointer;left:0;}
#DB_gallery .DB_thumSet .DB_nextPageBtn{position:absolute;top:4px;cursor:pointer;right:0;}
#DB_gallery .DB_thumSet .DB_thumLine{position:absolute;width:133px;height:71px;border:5px solid #ff0000;left:0;top:0}
#DB_gallery .cpjs{float:left;margin-top:12px;margin-left:20px;}
#DB_gallery .cpjs .cpmc{height:30px;line-height:30px;font-size:14px;color:#006884;}
#DB_gallery .cpjs .cpjj{width:275px;line-height:20px;font-size:12px;color:#484848;}

