<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="index, follow"/>
    <title>${field.typetitle}</title>
    <meta name="keywords" content="${field.typekeyword}">
    <meta name="description" content="${field.typedescrip}">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc,mobile"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <link href="/{ms:global.style/}css/style.css" rel="stylesheet"/>
    <link href="/{ms:global.style/}css/css.css" rel="stylesheet"/>
    <script src="/{ms:global.style/}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/{ms:global.style/}js/jquery.superslide.2.1.1.js">//pc导航</script>
    <script src="/{ms:global.style/}js/anim.js">//动画</script>
    <script type="text/javascript" src="/{ms:global.style/}js/basic.js"></script>
</head>
<body>
<#include "header.htm" />
<div class="o_big" >
    <img src="{@ms:file field.typelitpic/}" alt="CMS,免费CMS,免费开源Java CMS,CMS系统,Java CMS,CMS内容管理系统,企业CMS,HTML网页模板,CMS模板,CMS源码,网站源码,信创系统软件,安可系统,网站建设,模板网站,建站模板,建站工具,建站平台,建站工具"/>
    <h1 >${field.typedescrip}</h1>
</div>
<!--正文begin-->
<div class="wrap">
    <div class="product_a anim anim-1">
        <#if field.typeleaf !=0>
        {ms:channel type='level'}
            <#if field.typeid == typeid || (ids?has_content && ids?split(",")?seq_contains(field.typeid.toString()))>
            <a href='<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>' class='csel'>${field.typetitle}</a>
            <#else>
            <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">${field.typetitle}</a>
            </#if>
        {/ms:channel}
        <#else>
        {ms:channel type='son'}
            <#if field.typeid == typeid || (ids?has_content && ids?split(",")?seq_contains(field.typeid.toString()))>
            <a href='<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>' class='csel'>${field.typetitle}</a>
            <#else>
            <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">${field.typetitle}</a>
            </#if>
        {/ms:channel}
        </#if>
    </div>
</div>
<div class="contact_bg anim anim-2">
    <div class="map_div">
        <script src="/{ms:global.style/}js/048c11927f4c4b8a8811578543381d58.js"></script>
        <div class="baidu_ditu" id="dituContent"></div>
        <script>
            var map2 = new BMap.Map("dituContent");            // 创建Map实例
            var point2 = new BMap.Point(116.397513, 39.908739); // 创建点坐标
            map2.centerAndZoom(point2, 15);                 // 初始化地图,设置中心点坐标和地图级别。
            map2.enableScrollWheelZoom();                 //启用滚轮放大缩小
            map2.addControl(new BMap.NavigationControl());
            map2.addControl(new BMap.ScaleControl());
            map2.addControl(new BMap.OverviewMapControl());
            var marker2 = new BMap.Marker(point2);
            map2.addOverlay(marker2);
            var infoWinOpts = {}
            var infoWin = new BMap.InfoWindow(
                "<div style='text-align:left;color:#1A6DAF;font-size: 14px;'><p></p><p>某某公司</p><p>电　话：488-888-8888</p><p>邮　箱：123456789@qq.com</p><p>地　址：北京市天安门</p></div>", infoWinOpts);
            marker2.openInfoWindow(infoWin);
            marker2.addEventListener("click", function () {
                this.openInfoWindow(infoWin);
            });
        </script>
    </div>
    <div class="contact_r">
        <h2>联系方式</h2>
        <ul>
            <li><img src="/{ms:global.style/}images/contact_pic1.png">总部地址：北京市天安门</li>
            <li><img src="/{ms:global.style/}images/contact_pic2.png">电话：<a href="tel:488-888-8888">488-888-8888</a></li>
            <li><img src="/{ms:global.style/}images/contact_pic4.png">邮箱：123456789@qq.com</li>
        </ul>
    </div>
</div>
<!--正文end-->
<#include "footer.htm" />
<script language="javascript" src="/{ms:global.style/}js/foot.js"></script><!--尾部end-->
</body>
</html>
