<!--尾部begin-->
<div class="f_bg">
    <div class="f_bg_div">
        {ms:channel type='nav' flag='n' size='4'}
        <div class="links">
            <h2>
                <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">${field.typetitle}</a>
            </h2>
            <ul>
                <#if field.childsize &gt; 0>
                {ms:channel}
                <li>
                    <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">${field.typetitle}</a>
                </li>
                {/ms:channel}
                </#if>
            </ul>
        </div>
        {/ms:channel}
        <div class="f_div2_r">
            <h2>联系我们</h2>
            <a href="tel:{ms:global.foot.tel/}">{ms:global.foot.tel/}</a> <span>仅限中国服务时间 {ms:global.foot.timeBegin/} - {ms:global.foot.timeEnd/}</span>
            <a href="http://wpa.qq.com/msgrd?v=3&site=某某公司&menu=yes&uin=123456789" class="foot_a" target="_blank">
                <img src="/{ms:global.style/}picture/foot_bg1.png"/>
            </a>
        </div>
        <div class="f_div2_r2">
            <img src="{@ms:file global.foot.qrCode/}"> 微信二维码
        </div>
    </div>
</div>
<div class="f_div3">
    <div class="f_bg_div footx"><span class="l">{ms:global.copyright/}</span></div>
</div>
<!--尾部end--> 
