<div class="ms-footer"> 
 <div class="body"> 
  <div class="top"> 
   <div class="top-left">
     {ms:channel flag='nav' type='top'} 
    <div class="foot-nav"> 
     <a href="{ms:global.url/}${field.typelink}" class="nav-item"> ${field.typetitle} </a> {ms:channel } 
     <div> 
      <a href="{ms:global.url/}${field.typelink}" class="item"> ${field.typetitle} </a> 
     </div> {/ms:channel} 
    </div> {/ms:channel} 
   </div> 
   <div class="top-right"> 
    <div class="qr"> 
     <img title="" alt="" src="{ms:global.host/}/{ms:global.style/}/images/sw.png" class="pic">
     <span class="text"> 商务微信 </span>
    </div> 
    <div class="qr"> 
     <img title="" alt="" src="{ms:global.host/}/{ms:global.style/}/images/gzh.png" class="pic">
     <span class="text"> 公众号 </span> 
    </div> 
   </div> 
  </div> 
  <span class="copyright"> <el-link href="https://www.mingsoft.net/" type="primary">© 江西铭软科技有限公司</el-link> 2012-至今 All Rights Reserved. Powered by MCms </span>
  <span class="power"> @该网页由 <el-link href="https://designer.mingsoft.net/" type="primary">MDesigner</el-link> 制作完成 </span>
 </div> 
</div>