<!--头部begin-->
<div class="header-v1">
    <!-- S top-main -->
    <div class="top-main">
        <div class="logo1">
            <a href="/"><img src="{@ms:file global.logo/}" alt="CMS,免费CMS,免费开源Java CMS,CMS系统,Java CMS,CMS内容管理系统,企业CMS,HTML网页模板,CMS模板,CMS源码,网站源码,信创系统软件,安可系统,网站建设,模板网站,建站模板,建站工具,建站平台,建站工具"/></a>
        </div>
        <div class="top_search"><em></em>
            <div class="search_con">
                <form name="formsearch" action="/mcms/search.do" method="post">
                    <input class="input1" type="text" name="content_title" id="p" placeholder="搜索" value="${search.content_title}">
                    <input type="submit" class="bnts">
                </form>
            </div>
        </div>
        <div class="top-main-content">
            <!-- S nav -->
            <div class="navBar">
                <ul class="nav clearfix">
                    <li class="m <#assign typeid=field.typeid><#if typeid==''>on</#if>">
                        <h3><a href="/" title="首页"><span data-title="首页">首页</span></a></h3>
                    </li>
                    <!--定义变量typeid、ids，通过这两个变量判断是否选中-->
                    <#assign typeid=field.typeid>
                    <#assign ids=field.parentids>
                    {ms:channel type='nav' flag='n' orderby='sort'}
                    <#if field.childsize &gt; 0>
                    <li class="m <#if field.typeid == typeid || (ids?has_content && ids?split(",")?seq_contains(field.typeid.toString()))>on</#if>">
                        <h3>
                            <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">
                                <span data-title="${field.typetitle}">${field.typetitle}</span>
                            </a>
                        </h3>
                        <div class="sub">
                            <ul>
                                {ms:channel}
                                <li>
                                    <a href="<#if field.type==3>${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>" target="_blank">${field.typetitle}</a>
                                </li>
                                {/ms:channel}
                            </ul>
                        </div>
                    </li>
                    <#else>
                    <li class="m <#if field.typeid == typeid || (ids?has_content && ids?split(",")?seq_contains(field.typeid.toString()))>on</#if>">
                        <h3>
                            <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">
                                <span data-title="${field.typetitle}">${field.typetitle}</span>
                            </a>
                        </h3>
                    </li>
                    </#if>
                    {/ms:channel}
                </ul>
            </div>
            <script type="text/javascript">
                jQuery(".nav").slide({
                    type: "menu",
                    titCell: ".m",
                    targetCell: ".sub",
                    effect: "slideDown",
                    delayTime: 300,
                    triggerTime: 100,
                    returnDefault: true
            });
            </script>
            <!-- E nav-->
        </div>
    </div>
    <!-- E top-main -->
    <div class="c_l"></div>
</div>
<!-- S touch-top-wrapper -->
<div class="touch-top">
    <div class="touch-top-wrapper clearfix">
        <div class="touch-logo" skinobjectzone="HtmlLogo_1514">
            <a class="" href="/">
                <img src="{@ms:file global.logo/}" alt="CMS,免费CMS,免费开源Java CMS,CMS系统,Java CMS,CMS内容管理系统,企业CMS,HTML网页模板,CMS模板,CMS源码,网站源码,信创系统软件,安可系统,网站建设,模板网站,建站模板,建站工具,建站平台,建站工具"/>
            </a>
        </div>
        <!-- S touch-navigation -->
        <div class="touch-navigation">
            <div class="touch-toggle">
                <ul>
                    <li class="touch-toggle-item-last">
                        <a href="javascript:void(0);" class="drawer-menu" data-drawer="search_div">
                            <i class="touch-icon-search"><span>搜索</span></i>
                        </a>
                    </li>
                    <li class="touch-toggle-item-last">
                        <a href="javascript:;" class="drawer-menu" data-drawer="drawer-section-menu">
                            <i class="touch-icon-menu"></i><span>导航</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- E touch-navigation -->
    </div>
    <!-- S touch-top -->
    <div class="touch-toggle-content touch-top-home">
        <!--手机搜索begin-->
        <div class="drawer-section search_div">
            <div class="search_con">
                <form  name="formsearch" action="/mcms/search.do" method="post" target="_blank" style="height: 42px;">
                    <input type="text" name="content_title" id="q" class="input1" placeholder="搜索" value=""/>
                    <input type="submit"  class="bnt1"/>
                </form>
            </div>
        </div>
        <!--手机搜索end-->
        <!--手机菜单begin-->
        <div class="drawer-section drawer-section-menu">
            <div class="touch-menu" skinobjectzone="menu_2005">
                <ul>
                    <li>
                        <a href="/"><span>首页</span></a>
                    </li>
                    <#assign typeid=field.typeid>
                    <#assign ids=field.parentids>
                    {ms:channel type='nav' flag='n' orderby='sort'}
                    <#if field.childsize &gt; 0>
                    <li>
                        <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">
                            <span>${field.typetitle}</span>
                            <i class="touch-arrow-down"></i>
                        </a>
                        <ul>
                            {ms:channel}
                            <li>
                                <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">
                                    <span>${field.typetitle}</span>
                                </a>
                            </li>
                            {/ms:channel}
                        </ul>
                    </li>
                    <#else>
                    <li>
                        <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>">
                            <span>${field.typetitle}</span>
                        </a>
                        <ul>
                        </ul>
                    </li>
                    </#if>
                    {/ms:channel}
                </ul>
                <div class="closetitle">
                    <img src="/{ms:global.style/}picture/nav_bg2.png">
                </div>
            </div>
        </div>
        <!--手机菜单end-->
    </div>
    <!-- E touch-top -->
</div>
<div class="touch_bg">&nbsp;</div>
<!-- E touch-top-wrapper -->
<div class="blank_h">&nbsp;</div>
<script src="/{ms:global.style/}js/public.js">//导航</script>
<!--头部end-->
