<meta http-equiv="content-type" content="text/html">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="app-mobile-web-app-capable" content="yes">
<meta name="app-mobile-web-app-status-bar-style" content="black-translucent">

<!--网络请求框架-->
<script src="${base}/static/plugins/axios/1.7.3/axios.min.js"></script>
<script src="${base}/static/plugins/qs/6.6.0/qs.min.js"></script>

<script type="text/javascript" src="${base}/static/plugins/vue/3.4.25/vue.global.js"></script>
<script src="${base}/static/plugins/vue-i18n/8.18.2/vue-i18n.js"></script>
<!-- 图标 -->
<link rel="stylesheet" type="text/css" href="${base}/static/plugins/iconfont/1.0.0/iconfont.css" />
<script src="${base}/static/plugins/iconfont/1.0.0/iconfont.js"></script>

<!-- element-plus引入 -->
<link rel="stylesheet" type="text/css" href="${base}/static/plugins/element-plus/2.11.2/index.css" />
<script src="${base}/static/plugins/element-plus/2.11.2/index.full.js"></script>
<script src="${base}/static/plugins/element-plus/2.11.2/zh-cn.js"></script>
<link rel="stylesheet"  type="text/css" href="${base}/static/plugins/element-icons/icon.css" />
<!--自定义-->
<script src="${base}/static/plugins/vue3-sfc-loader/0.9.5/vue3-sfc-loader.js"></script>
<script>
    //必须先设置对象，否则自定义无法渲染
    window.vue3SfcLoader = window["vue3-sfc-loader"];
</script>
<!--铭飞-->
<script src="${base}/static/plugins/ms/3.0/ms.umd.js"></script>
<script src="${base}/static/plugins/ms/3.0/ms-el-form.umd.js"></script>
<link rel="stylesheet"  type="text/css" href="${base}/static/plugins/ms/3.0/ms-el-form.css" />
<script src="${base}/static/mdiy/index.js"></script>
<script>
    ms.base= "{ms:global.contextpath/}"
</script>


<script >
    /**
     * 封装vue创建过程，方便初始化组件
     * @param obj
     * @returns vue实例
     * @private
     */
    function _Vue(obj) {

        var app = Vue.createApp(obj);
        app.config.globalProperties.ms = ms;
        app.use(ElementPlus,{
            locale: ElementPlusLocaleZhCn
        });
        app.use(MsElForm);
        app.component(obj.components);
        return app.mount(obj.el);
    }
</script>


<style>
    :root {
    --swiper-theme-color:$ {
        component.config.color.value
    };
    }

</style>

<style>
    [v-cloak]{
        display: none;
    }
</style>