<meta http-equiv="content-type" content="text/html">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="app-mobile-web-app-capable" content="yes">
<meta name="app-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="keywords" content="{ms:global.keyword/}">
<meta name="description" content="{ms:global.descrip/}">
<script type="text/javascript" src="{ms:global.host/}static/plugins/vue/2.6.9/vue.min.js"></script>
<link rel="stylesheet" href="{ms:global.host/}static/plugins/minireset/0.0.2/minireset.min.css">
<link rel="stylesheet" href="{ms:global.host/}static/plugins/iconfont/1.0.0/iconfont.css">
<link rel="stylesheet" href="{ms:global.host/}static/plugins/animate/4.1.0/animate.min.css">
<script src="{ms:global.host/}static/plugins/element-ui/2.15.7/index.min.js"></script>
<link rel="stylesheet" href="{ms:global.host/}static/plugins/element-ui/2.15.7/theme-chalk/index.min.css">
<link rel="stylesheet" href="{ms:global.host/}{ms:global.style/}/css/app.css">
<!--网络请求框架-->
<script src="{ms:global.host/}static/plugins/axios/0.18.0/axios.min.js"></script>
<script src="{ms:global.host/}static/plugins/qs/6.6.0/qs.min.js"></script>
<script src="{ms:global.host/}static/plugins/ms/2.0/ms.umd.js"></script>
<script src="{ms:global.host/}static/plugins/swiper/6.4.1/swiper-bundle.js"></script>
<link rel="stylesheet" href="{ms:global.host/}static/plugins/swiper/6.4.1/swiper-bundle.css">
<script>
    SwiperClass = Swiper
</script>
<script src="{ms:global.host/}static/plugins/vue-awesome-swiper/4.1.1/vue-awesome-swiper.min.js"></script>

<script>
    Vue.use(VueAwesomeSwiper)
</script>
<style>
    :root {
    --swiper-theme-color:$ {
        component.config.color.value
    };
    }

</style>
<script>
    ms.base = "";
</script>
<style>
    [v-cloak]{
        display: none;
    }
</style>