<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="index, follow"/>
    <title>{ms:global.name/}</title>
    <meta name="keywords" content="{ms:global.keyword/}">
    <meta name="description" content="{ms:global.descrip/}">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc,mobile"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <link href="/{ms:global.style/}css/style.css" rel="stylesheet"/>
    <link href="/{ms:global.style/}css/index.css" rel="stylesheet"/>
    <script src="/{ms:global.style/}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/{ms:global.style/}js/jquery.superslide.2.1.1.js">//pc导航</script>
    <script type="text/javascript" src="/{ms:global.style/}js/jquery.bxslider.min.js">/*轮显*/</script>
    <script src="/{ms:global.style/}js/anim.js">//动画</script>
    <script src="/{ms:global.style/}js/owl.carousel.js"></script>
    <script type="text/javascript" src="/{ms:global.style/}js/basic.js"></script>
</head>
<body>
<#include "header.htm" />
<!--轮显begin-->
<div id="slider">
    <ul class="bxslider">
        {ms:arclist typeid="1666653706550321162"}
        <li style="background-color:#1b1b1b;">
            <div class="carousel-img">
                <a href="<#if field.source!=''>${field.source}<#else>javascript:;</#if>" target="_blank">
                    <img src="{@ms:file field.litpic/}" width="100%" alt="CMS,免费CMS,免费开源Java CMS,CMS系统,Java CMS,CMS内容管理系统,企业CMS,HTML网页模板,CMS模板,CMS源码,网站源码,信创系统软件,安可系统,网站建设,模板网站,建站模板,建站工具,建站平台,建站工具" class="oimg"/>
                </a>
            </div>
        </li>
        {/ms:arclist}
    </ul>
</div>
<script>
    var slider = $('.bxslider').bxSlider({
        mode: 'horizontal',/*fade,vertical*/
        controls: true,
        speed: 500,
        hideControlOnEnd: false,
        pager: true,
        auto: true,
    });
    $(window).resize(function () {
        slider.reloadSlider();
    });
</script>
<!--轮显end-->
<!--flash start-->
<div class="flash_div">
    <div id="owl-flash" class="owl-carousel">
        {ms:arclist flag='f' size=5 typeid="1666653706550321162"}
        <div class="item">
            <dd>
                <a href="javascript:;" title=""><img src="{@ms:file field.litpic/}"/></a>
            </dd>
        </div>
        {/ms:arclist}
    </div>
</div>
<!--flash end-->
<div class="i_product_bg">
    <div class="wrap2">
        {ms:channel type='self' typeid="1666653706550321152"}
        <div class="i_title anim anim-1">
            <h2 class="f41">${field.typetitle}</h2>
            <p class="f24">${field.typeshorttitle}</p>
        </div>
        {/ms:channel}
        <div class="nproduct_list2">
            <ul>
                {ms:arclist typeid="1666653706550321152" size=6}
                <li class="anim anim-1">
                    <a href="{ms:global.html/}${field.link}" title="${field.title}">
                        <div class="imgs"><img src="{@ms:file field.litpic/}" alt="${field.title}">
                            <p>&nbsp;</p>
                        </div>
                        <h2 class="f24">${field.title}</h2>
                        <p>{@ms:len field.descrip 60 /}...</p>
                    </a>
                </li>
                {/ms:arclist}
            </ul>
        </div>
    </div>
</div>
<div class="wrap2">
    {ms:channel type='self' typeid="1666653706550321163"}
    <div class="i_title anim anim-1">
        <h2 class="f41">${field.typetitle}</h2>
        <p class="f24">${field.typeshorttitle}</p>
    </div>
    {/ms:channel}
    <div class="i_solution">
        <ul>
            {ms:channel  typeid="1666653706550321163" }
            <li class="anim anim-1">
                <a href="<#if field.type==3>{ms:global.html/}${field.typeurl}<#else>{ms:global.html/}${field.typelink}</#if>" title="${field.typetitle}">
                <div class="imgs">
                    <img src="{@ms:file field.typeico/}" alt="${field.typetitle}">
                </div>
                <div class="txts">
                    <h2 class="f28">${field.typetitle}</h2>
                    <p>${field.typeshorttitle}...</p>
                </div>
                </a>
            </li>
            {/ms:channel}
        </ul>
    </div>
</div>
<div class="i_case_bg">
    <div class="wrap2">
        {ms:channel type='self' typeid="1666653706550321164"}
        <div class="i_title anim anim-1">
            <h2 class="f41">${field.typetitle}</h2>
            <p class="f24">${field.typeshorttitle}</p>
        </div>
        {/ms:channel}
        <div id="owl-demo3" class="owl-carousel">
            {ms:arclist typeid="1666653706550321164" size=10}
            <div class="item">
                <dd class="">
                    <a href="{ms:global.html/}${field.link}" title="${field.title}">
                        <div class="imgs"><img src="{@ms:file field.litpic/}" alt="${field.title}"></div>
                        <div class="txts">
                            <h2 class="f22">${field.title}</h2>
                            <p class="p">{@ms:len field.descrip 20 /}</p>
                        </div>
                    </a>
                </dd>
            </div>
            {/ms:arclist}
        </div>
    </div>
</div>
<div class="wrap">
    {ms:channel type='self' typeid="1666653706550321169"}
    <div class="i_title anim anim-1">
        <h2 class="f41">${field.typetitle}</h2>
        <p class="f24">${field.typeshorttitle}</p>
    </div>
    {/ms:channel}
    <div class="i_link anim anim-2">
        <ul>
            {ms:arclist typeid="1666653706550321169" size=12}
            <li>
                <a title="${field.title}">
                    <div class="imgs"><img src="{@ms:file field.litpic/}" alt="${field.title}"></div>
                </a>
            </li>
            {/ms:arclist}
        </ul>
    </div>
</div>
<#include "footer.htm" />
<script language="javascript" src="/{ms:global.style/}js/foot.js"></script><!--尾部end-->
<script>
    $("#owl-flash").owlCarousel({/*手机轮显图*/
        items: 1,
        lazyLoad: true,
        autoPlay: true,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [979, 1],
        itemsTablet: [768, 1],
        itemsTabletSmall: false,
        itemsMobile: [479, 1],
        //rewindNav:false,
        navigation: true
    });
    $("#owl-demo3").owlCarousel({/*行业案例*/
        items: 4,
        lazyLoad: true,
        autoPlay: true,
        itemsDesktop: [1199, 4],
        itemsDesktopSmall: [979, 3],
        itemsTablet: [768, 2],
        itemsTabletSmall: false,
        itemsMobile: [479, 2],
        navigation: true
    });

    window.onload = function () {/*轮显动画*/
        $('.bx-pager .bx-pager-item').click(function () {
            var linum = $(this).index();
            var CaseList = $(".bxslider li");

            $(this).find("a").click(function () {
                CaseList.removeClass("active");
                CaseList.eq(linum).addClass("active");

                $('.bx-pager .bx-pager-item').removeClass("active");
                $('.bx-pager .bx-pager-item').eq(linum).addClass("active");
                // $(this).addClass('csel').siblings().removeClass('csel');
                // CaseList.hide().eq(linum).show();
                //CaseList.find(".anim").removeClass("anim-show");
//			setTimeout(function(){
//				CaseList.eq(linum).find(".anim").addClass("anim-show");
//			},6)
            })
        })
    }
</script>
</body>
</html>
