<!--分页begin-->
<div class="pages">
    <div class="pagination">
        <#if page.rcount&gt;0>
        <a class="page-item" href="{ms:global.html/}{ms:page.index/}">首页</a>
        <a class="page-item" href='{ms:global.html/}{ms:page.pre/}'>上一页</a>
        <a class="page-item">{ms:page.cur/}/{ms:page.total/}</a>
        <a class="page-item" href='{ms:global.html/}{ms:page.next/}'>下一页</a>
        <a class="page-item" href='{ms:global.html/}{ms:page.last/}'>末页</a>
        <#else>
        本分类下无任何数据！
        </#if>
    </div>
</div>
<!--分页end-->
