<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="robots" content="index, follow"/>
    <title>搜索</title>
    <meta name="keywords" content="${field.typekeyword}">
    <meta name="description" content="${field.typedescrip}">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="applicable-device" content="pc,mobile"/>
    <link href="/{ms:global.style/}css/style.css" rel="stylesheet"/>
    <link href="/{ms:global.style/}css/css.css" rel="stylesheet"/>
    <script src="/{ms:global.style/}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/{ms:global.style/}js/jquery.superslide.2.1.1.js">//pc导航</script>
    <script src="/{ms:global.style/}js/anim.js">//动画</script>
    <script type="text/javascript" src="/{ms:global.style/}js/basic.js"></script>
</head>
<body>
<#include "header.htm" />

<!--正文begin-->
<div class="wrap2">
    <div class="product_a anim anim-1"><h2>搜索结果</h2></div>
    <div class="product_ul">
        <ul>
            <#assign isEmpty=true>
            {ms:arclist size=6 ispaging=true}
            <#assign isEmpty=false>
            <li class="anim anim-1">
                <div class="product_b">
                    <a href="{ms:global.html/}${field.link}" title="${field.title}">
                        <div class="imgs"><img src="{@ms:file field.litpic/}" alt="${field.title}">
                            <p>&nbsp;</p>
                        </div>
                        <h2 class="f24">${field.title}</h2>
                        <p>${field.descrip}</p>
                    </a>
                </div>
            </li>
            {/ms:arclist}
        </ul>
    </div>
    <div class="yema">
        <!-- 分页 -->
        <div class="pages">
            <div class="pagination">
                <#if page.rcount&gt;0>
                <a class="page-item" href="{ms:page.index/}">首页</a>
                <a class="page-item" href='{ms:page.pre/}'>上一页</a>
                <a class="page-item">{ms:page.cur/}/{ms:page.total/}</a>
                <a class="page-item" href='{ms:page.next/}'>下一页</a>
                <a class="page-item" href='{ms:page.last/}'>末页</a>
                <#else>
                本此搜索下无任何数据！
                </#if>
            </div>
        </div>
    </div>
</div>
<!--正文end-->
<#include "footer.htm" />
<script language="javascript" src="/{ms:global.style/}js/foot.js"></script><!--尾部end-->
</body>
</html>
