BODY {
	FONT-SIZE: 12px; BACKGROUND: url("../images/bg_all.jpg") no-repeat center top; MARGIN: 0 auto 0px; LINE-HEIGHT: normal; FONT-FAMILY: "宋体"; background-color:#FFFFFF
}
form { border:0px; margin:0px ; padding:0px;}
A {
	COLOR: #333; TEXT-DECORATION: none
}
ul,li{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin: 0px;
	padding: 0px;
}
.clear {
	CLEAR: both
}
.searchinput {
	WIDTH: 120px
}
.page .button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url("../images/btn_search.gif"); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.page {
	WIDTH: 204px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.query {
	OVERFLOW: hidden; 
}
.boldblue {
	FONT-WEIGHT: bold; COLOR: #003eb1
}
.blue {
	COLOR: #003eb1
}
.text {
	line-height: 25px;
	color: #6f6f6f;
	
}
#header {
	MARGIN: 0px auto; WIDTH: 910px
}
#logo {
	FLOAT: left
}
#tele {
	MARGIN-TOP: 0px; FLOAT: right
}

#mainflash {
	MARGIN: 3px auto 0px; WIDTH: 910px
}

#links {
	FONT-WEIGHT: normal;  MARGIN: 10px auto 0px; WIDTH: 850px; COLOR: #035ea7; PADDING:10px 30px 0 30px; HEIGHT: 57px; TEXT-ALIGN: left;
}

#footer {
	FONT-WEIGHT: normal; BACKGROUND: url("../images/bg_footer.jpg"); MARGIN: 10px auto 0px; WIDTH: 910px; COLOR: #035ea7; PADDING-TOP: 10px; HEIGHT: 47px; TEXT-ALIGN: center;
}
#footer A,#links a {
	COLOR: #035ea7
}
#footer {
	color: #035ea7
}
#index_container {
	MARGIN: 10px auto 0px; WIDTH: 910px
}
#index_left {
	FLOAT: left; WIDTH: 224px
}
#index_search {
	
}
#index_search1 {
	BACKGROUND: url("../images/bg_index_title3.jpg"); HEIGHT: 33px
}
#index_search2 {
	BACKGROUND: url("../images/bg_index_content3.jpg"); COLOR: #0f5ebd; 
}
.sunput {BORDER-RIGHT: #B7DAEF 1px solid; BORDER-TOP: #B7DAEF 1px solid; BORDER-LEFT: #B7DAEF 1px solid; WIDTH: 140px; BORDER-BOTTOM: #B7DAEF 1px solid }
.sbut {BORDER-RIGHT: #B7DAEF 1px solid; BORDER-TOP: #B7DAEF 1px solid; BORDER-LEFT: #B7DAEF 1px solid; BORDER-BOTTOM: #B7DAEF 1px solid }
#index_search3 {
	BACKGROUND: url("../images/bg_index_btm3.jpg"); OVERFLOW: hidden; HEIGHT: 6px
}
#index_prolist {
	MARGIN-TOP: 6px
}
#index_prolist1 {
	BACKGROUND: url("../images/bg_index_title4.jpg"); HEIGHT: 33px
}
#index_prolist2 {
	BACKGROUND: url("../images/bg_index_content4.jpg"); HEIGHT: 173px
}
#index_prolist3 {
	BACKGROUND: url("../images/bg_index_btm4.jpg"); OVERFLOW: hidden; HEIGHT: 7px
}
#index_contact {
	MARGIN-TOP: 6px
}
#index_contact1 {
	BACKGROUND: url("../images/bg_index_title5.jpg"); HEIGHT: 33px
}
#index_contact2 {
	PADDING-LEFT: 8px; BACKGROUND: url("../images/bg_index_content5.jpg"); COLOR: #0359a2; LINE-HEIGHT: 22px; PADDING-TOP: 5px; HEIGHT: 200px; line-height:2em;
}
#index_right {
	FLOAT: right; WIDTH: 679px
}
#index_news1 {
	FLOAT: left; WIDTH: 337px
}
#index_news1_1 {
	BACKGROUND: url("../images/bg_index_title1.jpg") no-repeat; HEIGHT: 29px
}
#index_news1_2 {
	BACKGROUND: url("../images/bg_index_content1.jpg"); HEIGHT: 157px
}
#index_news1_4 {
	BACKGROUND: url("../images/bg_index_content1.jpg"); HEIGHT: 314px
}
#index_news1_3 {
	BACKGROUND: url("../images/bg_index_btm1.jpg"); OVERFLOW: hidden; HEIGHT: 7px
}
#index_news2 {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 337px
}
#index_news2_1 {
	BACKGROUND: url("../images/bg_index_title1.jpg"); HEIGHT: 29px
}
#index_news2_2 {
	BACKGROUND: url("../images/bg_index_content1.jpg"); HEIGHT: 157px
}
#index_news2_3 {
	BACKGROUND: url("../images/bg_index_btm1.jpg"); OVERFLOW: hidden; HEIGHT: 7px
}
#index_hotproduct {
	MARGIN-TOP: 6px; FLOAT: left; WIDTH: 679px
}
#index_hotproduct_1 {
	BACKGROUND: url("../images/bg_index_title2.jpg"); HEIGHT: 34px
}
#index_hotproduct_11 {
	BACKGROUND: url("../images/bg_right_title1.jpg"); HEIGHT: 32px; FONT-WEIGHT: bold;  padding-left:35px; color:#FFFFFF; padding-top:2px; margin-top:15px;
}
#index_hotproduct_12 {
	BACKGROUND: url("../images/bg_right_title1.jpg"); HEIGHT: 26px; FONT-WEIGHT: bold;  padding-left:35px; color:#FFFFFF; padding-top:8px; 
}
#index_hotproduct_2 {
	BACKGROUND: url("../images/bg_index_content2.jpg"); OVERFLOW: hidden; HEIGHT: 490px
}
#index_hotproduct_21 {
	BACKGROUND: url("../images/bg_index_content2.jpg"); OVERFLOW: hidden; HEIGHT: 160px;
}
#index_hotproduct_23 {
	BACKGROUND: url("../images/bg_index_content2.jpg"); OVERFLOW: hidden; 
}
#index_hotproduct_21 li{
float:left;width:310px;border-bottom:#bfc1c0 1px dashed; margin-left:10px; line-height:2.1em; list-style:none;
}
#index_hotproduct_22 {
	BACKGROUND: url("../images/bg_index_content2.jpg"); OVERFLOW: hidden; 
}
#index_hotproduct_3 {
	BACKGROUND: url("../images/bg_index_btm2.jpg"); OVERFLOW: hidden; HEIGHT: 6px
}
.index_news_title {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 100px; COLOR: #fff; LINE-HEIGHT: 29px
}
.index_more1 {
	DISPLAY: block; FONT-SIZE: 26px; FLOAT: right; VERTICAL-ALIGN: middle; WIDTH: 50px; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center
}
.index_more1 IMG {
	VERTICAL-ALIGN: middle
}
.index_more1:unknown {
	FONT-SIZE: 12px; VISIBILITY: hidden; MARGIN-LEFT: -5px; content: "."
}
.right_border {
	BORDER-RIGHT: #d4eaf5 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #d4eaf5 0px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d4eaf5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d4eaf5 1px solid
}
#right_title {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url("../images/bg_right_title.jpg"); OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 35px; HEIGHT: 33px
}
#right_title1 {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url("../images/bg_right_title1.jpg"); OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 35px; HEIGHT: 33px;
}
#left_title {
	PADDING-LEFT: 23px; FONT-WEIGHT: bold; BACKGROUND: url("../images/bg_left_title.jpg"); COLOR: #055eb0; LINE-HEIGHT: 34px; HEIGHT: 40px
}
#left_content {
	BACKGROUND: url("../images/bg_left_content.jpg")
}
#left_btm {
	BACKGROUND: url("../images/bg_left_btm.jpg"); OVERFLOW: hidden; HEIGHT: 6px
}
a.linknews1 {
	font-size: 9pt;
	color: #004285;
	letter-spacing: 2px;
}
a.linknews1:hover {
	font-size: 9pt;
	color: #004285;
	letter-spacing: 2px;
	text-decoration: underline;
}


/*----------------------导航栏样式开始---------------------------*/
#menu {
	MARGIN-TOP: 5px;
	 background-image:url("../images/title1.jpg"); width:37px; width:874px; line-height:37px; text-align:center; height:37px; padding-left:130px;
}

#menu ul{
	list-style-type:none; margin:0px; padding:0px;}
#menu ul li{
	margin:0px;
	list-style-type:none;
	display:inline;
	}
#menu ul li a{
	color:#FFF;
	font-weight:bold;
	font-size:10pt;}
#menu ul li a:hover{
	text-decoration:underline;
	
	}
	

#navigation, #navigation li ul {
	list-style-type:none;
}

#navigation {
	padding-left:50px;
	margin-top:8px;
	height:
}
#navigation .nav_ {
	float: left;
	width: 160px;
}
.b{ font-weight:bold; font-size:15px;}
#navigation li {
	text-align:center;
	float: left;
	position: relative;
}
#navigation li a:link, #navigation li a:visited {
	display:block; 
	text-decoration:none; 
	color:#FFFFFF; 
	width:90px; 
	height:39px; 
	line-height:36px; 
/*	background:#c5dbf2; */
	font-size:12px;
}
#navigation li ul li a:link, #navigation li ul li a:visited {
	display:block; 
	text-decoration:none; 
	color:#666; 
	width:90px; 
	height:32px; 
	line-height:32px; 
	font-size:12px;
}
#navigation li ul li a:link, #navigation li ul li a:visited {
	background:#f9fbfa;
	font-size:12px;
	font-weight:normal;    
	border-top:#bfc1c0 1px solid;
}

#navigation li ul li a:hover {
	color:#fff;
	background:#0989E2; 
}
#navigation li ul{
	display:none;
	position:absolute;
	left:0px;
	margin-top:-1px;
	width:90px;	
	border:#bfc1c0 1px solid;

}
#navigation li ul li
{

}
#navigation li ul li ul {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	margin-top:0;
	margin-left:1px;
	width:120px;
}
.clear{clear:both;}

/*----------------------导航栏样式结束---------------------------*/

.clistbox 
{
	width: 90%;
	text-align:left;
	margin-bottom:10px;
	margin-top:3px;
}
.clistbox .line1
{
	border-bottom: 1px dashed #999999;
	text-align:left;
	padding-left:10px;
	
}
.clistbox .line1 span
{float:right;
}
.clistbox .line2
{padding:5px;}
#commentPage{height:20px; padding-left:200px;}


#commentPage a{
	display:block;
	width:18px;
	border: 1px solid #3299F5;
	float:left;
	margin-left:5px;
	line-height:18px;
	font-size:14px;
}
#commentPage a:hover,.selectpage{
	color:#FFFFFF;
	display:block;
	width:18px;
	float:left;
	margin-left:5px;
	line-height:18px;
	font-size:14px;
	background-image: url("../images/pagebg.jpg");
}
#commentPage  a.ppage,
#commentPage  a.npage{
	display:block;
	width:50px;
	float:left;
	margin-left:5px;
	line-height:16px;
	padding-top:2px;
	height:16px;
	font-size:12px;
}
#commentPage  a.ppage:hover,
#commentPage  a.npage:hover{
	color:#fff;
	display:block;
	width:50px;
	float:left;
	margin-left:5px;
	line-height:16px;
	height:16px;
	font-size:12px;
background-image: url("../images/pagebg_.jpg");
}

/*---新闻列表---*/
.newsList  {
	list-style:none;
background:url("../images/li_bg.jpg") no-repeat ;
height:30px;
line-height:25px;


}
.newsList li{
height:30px;
line-height:25px;
padding-left:20px;
}
.newsList li.date{

text-align:right;

}

/**新闻分类**/
.newsSort_A {
width:210px; height:32px; line-height:32px;  text-align:center; background:url("../images/news_left_m_a.jpg"); color:#E5D6C1;
}

.newsSort_B {
width:210px; height:32px; line-height:32px;  text-align:center; background:url("../images/news_left_m_b.jpg"); color:#FEFFFF;
}