html, body {
    min-height: 100vh;
    width: 100vw;
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-weight: initial !important;
    font-size: 14px !important;
    color: #333 !important;
    overflow: hidden;
}
html *, body * {
    text-decoration: none !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/**
*框架样式
*/
.ms-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.ms-align-center {
    display: flex;
    align-items: center;
}

.ms-index{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ms-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding:  14px ;
    background: #fff;
}
.ms-header {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ebeef5;
    background: #fff;
    height: 50px
}

.ms-pagination {
    padding: 14px 0 0 0;
    text-align: right;
}

.ms-fr {
    float: right;
}

.ms-tr {
    text-align: right;
}
.ms-loading {background:url('/static/images/loading.gif') no-repeat center;}
/*表单提示*/
.ms-form-tip,.ms-form-tip-err {
    color: #909399;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 0;
}
.ms-form-tip-err{
    color:#f56c6c
}
.ms-alert-tip{
    margin-bottom: 10px;
    flex-shrink: 0;
}

.ms-select{
    display: block;
}
/*搜索*/
.ms-search{
    background: #fff;
    padding: 10px 10px 0 10px;
    border-bottom: 1px dashed #ebeef5;
}
.ms-search .ms-search-footer{
    line-height: 60px;
    text-align: center;
}

.ms-datetimerange{
    width: 100% !important;
}

.ms-table-pagination {
    height: calc(100% - 75px);
}
/*滚动条*/
.ms-scrollbar  .el-scrollbar__bar.is-vertical{
    width: 6px !important;
}
.ms-scrollbar  .el-scrollbar__view{
    padding-right: 17px;
}
/*后台管理界面的el-menu通用样式*/
.ms-index .el-menu {
    border-right: none;
    background-color: unset;
}
.ms-index .el-menu-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

#form .ms-container{
    height:calc(100vh - 38px);
}
a:link,a:visited,a:active{text-decoration: none; color:#409EFF;}



/*样式重写*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-weight: initial;
    font-size: 12px;
    color: #999;
    resize: none;
}

.el-button+.el-button {
    margin-left: 0
}

.el-button .iconfont{
    font-size: 12px;
    margin-right: 5px;
    line-height: 1px!important;
}

[v-cloak]{
    display: none;
}
/* 滚动条样式重写*/
.el-table__body-wrapper::-webkit-scrollbar{
    width:6px;
    height: 6px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(144,147,153,.5);
}
/*饿了么滚动样式*/
.el-scrollbar__wrap{
    margin-bottom: unset !important;
    overflow-x: hidden!important;
}
/*上传+号位置*/
.el-upload--picture-card i {
    line-height: unset !important;
}

.el-notification__content p {
    word-break: break-all !important;
}