@charset "utf-8";
body {
	background: #C9C9CB;	
	font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.6;
	margin:0;
	padding:0;
}

ul,li{
	margin:0;
	list-style:none;
	padding:0;
}
div{ 
word-wrap: break-word; 
word-break: normal; 
} 


.contentFixed {
	width:1140px;
	height:550px;
	background: #FFF;
	overflow:hidden;
}

.contentFixed .topHeight {
	height:125px;
}
.contentFixed .middleHeight {
}
.container {
    height: 210px;
    margin: 0 auto;
    position: relative;
    width: 300px;
	text-align:center;
	overflow:hidden;
}
.container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.contentFixed .logo{
	background:url(../images/logo_title.jpg);
	width:245px;
	height:35px;
	margin:0 auto;
	margin-top:15px;
	

}

.contentFixed .left {
	width:183px; float:left;  overflow:hidden;  _margin-top:-20px;  * margin-top:-20px;
}
.contentFixed  .backline {
	width:5px; background:#C9C9CB; height:560px; float:left;  _margin-top:-20px;  * margin-top:-20px;
}
.contentFixed .right{
	width:950px; float:left; _margin-top:-20px; * margin-top:-20px;}

/**左侧小LOGO**/
.contentFixed .logoGap{
height:20px;}
.contentFixed .smallLogo {
	background-image:url(../images/bg.png);
	width:157px;
	height:114px;
	margin:0 auto;
	padding-bottom:20px;
}

.contentFixed .gap {
height:35px;
}
.contentFixed .works ul {
height:140px;
}

/**left  begin**/
.contentFixed .menu{
	width:183px;
	height:305px;
	/*overflow:hidden;*/
}
.contentFixed .left .menu ul{
	height:155px;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.contentFixed .left .menu ul li{
	overflow:hidden;
	width:175px;
	margin:0 0 0px 14px;
        cursor: pointer;
	* margin:0 0 1px 20px;
	padding:0;
	height:24px;
	_height:24px;
	list-style:none;
}
.contentFixed .left .menu .h5{
	height:5px;

	overflow:hidden;
	
	margin:0;
padding:0;	
}

.contentFixed .menu .about0,.about1,.about2,.about3,.about4,.about5,.about6,.about7,.about8,.about9,.about10 {
background:url(../images/bg1.png); 
}

.contentFixed .menu .selabout0,.selabout1,.selabout2,.selabout3,.selabout4,.selabout5,.selabout6,.selabout7,.selabout8,.selabout9,.selabout10{
background:url(../images/bg1.png);
}

/**变化图片  开始**/
.contentFixed .menu .selabout0 {
	 background-position:0 -30px;
}

.contentFixed .menu .selabout1 {
	 background-position:0 -90px;
}


.contentFixed .menu .selabout2 {
	 background-position:0 -150px;
}

.contentFixed .menu .selabout3{
	 background-position:0 -210px;
}

.contentFixed .menu .selabout4 {
	 background-position:0 -270px;
}

.contentFixed .menu .selabout5 {
	 background-position:0 -330px;
}

.contentFixed .menu .selabout6 {
	 background-position:0 -390px;
}

.contentFixed .menu .selabout7 {
	 background-position:0 -450px;
}

.contentFixed .menu .selabout8 {
	 background-position:0 -510px;
}

.contentFixed .menu .selabout9 {
	 background-position:0 -570px;
}
.contentFixed .menu .selabout10 {
	  background-position:0 -601px;
}

/**没有变化图片  结束**/

.contentFixed .menu .about0 {
	 background-position:0 0px;
	 
}

.contentFixed .menu .about1 {
	 background-position:0 -60px;
}



.contentFixed .menu .about2 {
	 background-position:0 -120px;
}


.contentFixed .menu .about3 {
	 background-position:-6px -180px;
}



.contentFixed .menu .about4 {
	 background-position:-6px -240px;
}

.contentFixed .menu .about5 {
	 background-position:-6px -300px;
}

.contentFixed .menu .about6 {
	 background-position:-7px -360px;
}

.contentFixed .menu .about7 {
	 background-position:0 -420px;
}

.contentFixed .menu .about8 {
	 background-position:0 -480px;
}

.contentFixed .menu .about9 {
	 background-position:0 -540px;
}


.contentFixed .menu .about10 {
	 background-position:0 -598px;
}

.contentFixed .filed{

	
}

/**left end**/

/**foot begin**/
.contentFixed .filed{

}
.contentFixed .filed .gap1 {
}
.contentFixed .filed .foot {
	width:140px;
	height:30px;
}
/**foot end**/

/**picture begin**/
.contentFixed .picture{
	padding: 10px 0 0 50px; 
	overflow:hidden;
	position:relative
}

.contentFixed .picture dl{
    float:left;
	text-align: center;
	width: 110px;
	height: 120px;
	margin: 15px;
	border:none;
	overflow:hidden
}

.contentFixed .picture dl dd{
	clear: both;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	height: 30px;
	text-align:center;
	color: #747474;	
	line-height:30px;

}

/**picture end**/

/**about begin**/
.contentFixed .About{
	width:900px;
	height:465px;
	margin-top:40px;
	margin-left:70px;
	position:relative;
}

.contentFixed .About .content{
width:740px;
height:465px;
float:left;
margin-bottom:auto;

}

.contentFixed .About .gap{
width:100px;
height:440px;
}

.contentFixed .About .print{
cursor:pointer;
}
/**about end**/

/**Staff begin**/
.contentFixed .Staff{
	width:730px;
	height:355px;
	margin-top:115px;
	margin-left:85px;
	overflow:hidden;
}
/**Staff end**/

/**award begin**/
.contentFixed .Award{
	width:700px;
	height:460px;
	margin-top:33px;
	margin-left:53px;
}
/**award end**/

/**Information begin**/
.contentFixed .Information{
	width:605px;
	height:300px;
	margin-top:130px;
	margin-left:168px;
}
/**Information end**/

/**about199 begin**/
.contentFixed .right .About1999 {
float:none;
	width:850px;
	margin-top:40px;
	margin-left:70px;
}

.contentFixed .right .About1999 .content{
	width:750px;
}

.contentFixed .About1999 .liting{
	width:900px;
	float:right;
}

.contentFixed .About1999 .content .title{
	height:25px;
}
.contentbody{
	color:#616161;

}
.more a{
color:#191919;
}

.contentFixed .About1999 .liting .entry{
}

.contentFixed .About1999 ul li{
height:23px;
}
/**about1999 end**/

/**imgcontent 开始**/
.contentFixed .imgcontent {
width:880px;
height:690px;
margin-top:25px;
margin-left:35px;
}
.contentFixed .imgcontent .left {
width:9px;
height:690px;
float:left;
}
.contentFixed .imgcontent .left .gap {
height:230px;}
.contentFixed .imgcontent .contunt {
	width:780px;
	height:500px;
	float:left;
	margin:0 auto;
}
.contentFixed .imgcontent .contunt .boby {
height:500px;
width:355px;
text-align:center;
margin:0 auto;
overflow:hidden;
}
.contentFixed .imgcontent .right {
width:80px;
height:690px;
float:left;
}
.contentFixed .imgcontent .right .gap {
height:230px;
}
.contentFixed .imgcontent .right .click {
height:195px;
 float:right; 
}

.contentFixed .imgcontent .right .title {
width:80px;
height:55px;
float:right;
}
.contentFixed .imgcontent .right .pagination {
width:80px;
height:50px;
float:right;
}
.contentFixed .imgcontent .right .pagination .paging {
float:left;
}
.contentFixed .imgcontent .right .pagination .list {
float:left;
}
/**imgcontent 结束**/
.newsMenu {
}

.contentFixed .About1999 .newsMenu li {
height:35px;
font-weight:bold;
margin-bottom: 15px;
font-size: 14px;}

.contentFixed .About1999 .newsTitle {
	font-size:12px;
	color:#424242;
}
.contentFixed .About1999 .newsTitle .title{
	width:415px;
	margin-bottom:15px;

}
.pageList{
width:300px;
height:20px;
margin:0 auto;
}
.pageList ul{
}
.pageList ul li{
float:left;
padding:4px;
}
.pubdate{
float:left;}
.hr{
margin-bottom:20px;border-top:1px #CCCCCC solid;}

