@charset "utf-8";
@charset "utf-8";
img{ border:none}
body {
	background: #C9C9CB;	
	font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.6;
	padding:0;
	margin:0;

}

ul,li{
	margin:0;
	list-style:none;
	padding:0;
}
div{ 
word-wrap: break-word; 
word-break: normal; 
} 


.content {
	width:1140px;
	background: #FFF;
	overflow:hidden;
	margin: 0 auto;
}

.content .topHeight {
	height:125px;
}
.content .middleHeight {
}
.container {
    height: 210px;
    margin: 0 auto;
    position: relative;
    width: 300px;
	text-align:center;
	overflow:hidden;
}
.container img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.content .logo{
	background:url(../images/logo_title.jpg);
	width:245px;
	height:35px;
	margin:0 auto;
	margin-top:15px;

}

.content .left {
	width:183px; float:left;  overflow:hidden;  _margin-top:-20px;  * margin-top:-20px; height:550px; margin:auto;

}
.content  .backline {
	width:5px; background:#C9C9CB; float:left;  _margin-top:-20px;  * margin-top:-20px;
}
.content .right{
	 float:left; _margin-top:-20px; * margin-top:-20px; overflow:hidden;min-height:100%;}

/**左侧小LOGO**/
.content .logoGap{
height:20px;}
.content .smallLogo {
	background-image:url(../images/bg.png);
	width:157px;
	height:114px;
	margin:0 auto;
	padding-bottom:20px;
}

.content .gap {
height:35px;
}
.content .works ul {
height:140px;
}

/**left  begin**/
.content .menu{
	width:183px;
	height:305px;
}
.content .left .menu ul{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.content .left .menu ul li{
	overflow:hidden;
	margin:0 0 0px 14px;
	* margin:0 0 1px 20px;
	padding:0;
	height:24px;    cursor: pointer;
	_height:24px;
	list-style:none;
}
.content .left .menu .h5{
	height:5px;

	overflow:hidden;
	
	margin:0;
padding:0;	
}

.content .menu .about0,.about1,.about2,.about3,.about4,.about5,.about6,.about7,.about8,.about9,.about10 {
background:url(../images/bg1.png); 
}

.content .menu .selabout0,.selabout1,.selabout2,.selabout3,.selabout4,.selabout5,.selabout6,.selabout7,.selabout8,.selabout9,.selabout10{
background:url(../images/bg1.png);
}

/**变化图片  开始**/
.content .menu .selabout0 {
	 background-position:0 -30px;
}

.content .menu .selabout1 {
	 background-position:0 -90px;
}


.content .menu .selabout2 {
	 background-position:0 -150px;
}

.content .menu .selabout3{
	 background-position:-6px -210px;
}

.content .menu .selabout4 {
	 background-position:-6px -270px;
}

.content .menu .selabout5 {
	 background-position:-6px -330px;
}

.content .menu .selabout6 {
	 background-position:0 -390px;
}

.content .menu .selabout7 {
	 background-position:0 -450px;
}

.content .menu .selabout8 {
	 background-position:0 -510px;
}

.content .menu .selabout9 {
	 background-position:0 -570px;
}

.content .menu .selabout10 {
	 background-position:0 -601px;
}

/**没有变化图片  结束**/

.content .menu .about0 {
	 background-position:0 0px;
	 
}

.content .menu .about1 {
	 background-position:0 -60px;
}



.content .menu .about2 {
	 background-position:0 -120px;
}


.content .menu .about3 {
	 background-position:0 -180px;
}



.content .menu .about4 {
	 background-position:0 -240px;
}

.content .menu .about5 {
	 background-position:0 -300px;
}

.content .menu .about6 {
	 background-position:0 -360px;
}

.content .menu .about7 {
	 background-position:0 -420px;
}

.content .menu .about8 {
	 background-position:0 -480px;
}

.content .menu .about9 {
	 background-position:0 -540px;
}

.content .menu .about10 {
	 background-position:0 -598px;
}

.content .filed{

	
}

/**left end**/

/**foot begin**/
.content .filed{

}
.content .filed .gap1 {
}
.content .filed .foot {
	width:140px;
	height:30px;
}
/**foot end**/

/**picture begin**/
.content .picture{
	height:440px;

	padding: 30px 0 0 80px;
	overflow:hidden;
	position:relative
}

.content .picture dl{
    float:left;
	
	width: 110px;
	height: 120px;
	margin: 10px;
	border:none;
	overflow:hidden
}

.content .picture dl dd{
	clear: both;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	height: 30px;
	text-align:center;
}

/**picture end**/

/**about begin**/
.content .About{
	width:900px;
	height:465px;
	margin-top:40px;
	margin-left:70px;
	position:relative;
}

.content .About .content{
width:740px;
height:465px;
float:left;
margin-bottom:auto;

}

.content .About .gap{
width:100px;
height:440px;
}

.content .About .print{
cursor:pointer;
}
/**about end**/

/**Staff begin**/
.content .Staff{
	width:730px;
	height:355px;
	margin-top:115px;
	margin-left:85px;
	overflow:hidden;
}
/**Staff end**/

/**award begin**/
.content .Award{
	width:700px;
	height:460px;
	margin-top:33px;
	margin-left:53px;
}
/**award end**/

/**Information begin**/
.content .Information{
	width:605px;
	height:300px;
	margin-top:130px;
	margin-left:168px;
}
/**Information end**/

/**about199 begin**/
.content .right .About1999 {
float:none;
	width:850px;
	margin-top:40px;
	margin-left:50px;
	overflow:hidden;
}

.content .right .About1999 .content{
	width:750px;
}

.content .About1999 .liting{
	width:900px;
	float:right;
}

.content .About1999 .content .title{
	height:25px;
}
.About1999 .pageList{
padding-top:25px;
margin:0;
margin-bottom:20px;
}
.About1999 .pageList ul li{
color:#474747;
}
.contentbody{
	color:#616161;
	margin-bottom:10px;
	font-size:14px;

}
.more a{
color:#191919;
font-size:18px;
}

.content .About1999 .liting .entry{
}


/**about1999 end**/

/**imgcontent 开始**/
.content .imgcontent {
width:880px;
height:690px;
margin-top:25px;
margin-left:35px;
}
.content .imgcontent .left {
width:9px;
height:690px;
float:left;
}
.content .imgcontent .left .gap {
height:230px;}
.content .imgcontent .contunt {
	width:780px;
	height:500px;
	float:left;
	margin:0 auto;
}
.content .imgcontent .contunt .boby {
height:500px;
width:355px;
text-align:center;
margin:0 auto;
overflow:hidden;
}
.content .imgcontent .right {
width:80px;
height:690px;
float:left;
}
.content .imgcontent .right .gap {
height:230px;
}
.content .imgcontent .right .click {
height:195px;
 float:right; 
}

.content .imgcontent .right .title {
width:80px;
height:55px;
float:right;
}
.content .imgcontent .right .pagination {
width:80px;
height:50px;
float:right;
}
.content .imgcontent .right .pagination .paging {
float:left;
}
.content .imgcontent .right .pagination .list {
float:left;
}
/**imgcontent 结束**/
.newsMenu {
}

.content .About1999 .newsMenu li {
height:35px;
font-weight:bold;
margin-bottom: 15px;
font-size: 14px;}

.content .About1999 .newsTitle {
	font-size:12px;
	color:#161616;
	height:20px;
}
.content .About1999 .newsTitle .title{
	float:left;
	margin-right:60px;
	font-size:14px;
    font-family: "黑体";
	color: #161616;
text-decoration: none;
}
.newsTitle .pubdate{
color:#616161; height:34px;
}
.newsBody .img{
padding-top:5px;;
margin-bottom:15px;
}
.pageList{
width:300px;
height:20px;
margin:0 auto;
}
.pageList ul{
}
.pageList ul li{
float:left;
padding-right:9px;
padding-left:9px;
border-right:1px solid #000000;
height:15px;
}
}
.content .About1999 .hr{
	margin-bottom:50px;
	border-top:1px #979797 solid;
}

.hrdashed{
margin-bottom:60px; border-top:1px #757575 dashed;}

.extendLeft {
	position:fixed;
 _position:absolute;
    _top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
}

.extendRight {
	float:right
}

.pageList a:link {color: #616161}   
.pageList a:visited {color: #616161} 
.pageList a:hover {color: #616161}   
.pageList a:active {color: #616161}  
