
    .header 
    {
            background-color:#2D548F;
            align-items:center;
            flex-direction:row;
            display:flex;
            width:100%;
            box-sizing:border-box;
            padding-top:0px;
            justify-content:center;
            height:60px;
    }
    .header .center 
    {
            flex-direction:row;
            display:flex;
            width:1170px;
            box-sizing:border-box;
            height:100%;
    }
    .header .center .left 
    {
            margin-right:0px;
            align-items:center;
            flex-direction:row;
            display:flex;
            width:100%;
            box-sizing:border-box;
            padding-top:0px;
            height:100%;
            margin-left:0px;
    }
    .header .center .left >a 
    {
            cursor:pointer;
            color:#FFFFFF;
            text-align:center;
            width:100px;
            text-decoration:none;
            padding-top:20px;
            background-repeat:no-repeat;
            height:100%;
    }
    .header .center .left >a:hover
    {
                    background-size:auto;
                    background-position:bottom center;
                    background-repeat:no-repeat;
                    background-image:url({ms:global.host/}/{ms:global.style/}/images/1602994812850.png);
    }
    .header .center .h5-menu 
    {
            flex-direction:row;
            display:none;
            width:100px;
            box-sizing:border-box;
            padding-top:0px;
            position:relative;
            padding-left:0px;
            height:100%;
    }
    .header .center .h5-menu .icon 
    {
            font-size:28PX;
            color:#FFFFFF;
            display:flex;
    }
    .header .center .h5-menu .h5-menu-nav 
    {
            background-color:#2D548F;
            top:60px;
            left:0px;
            flex-direction:column;
            display:none;
            width:100vw;
            box-sizing:border-box;
            padding-top:0px;
            position:absolute;
            padding-left:0px;
    }
    .header .center .h5-menu .h5-menu-nav a 
    {
            cursor:pointer;
            color:#FFFFFF;
            text-align:left;
            width:100%;
            text-decoration:none;
            padding-top:9px;
            padding-left:10px;
            height:40px;
    }
    .header .center .right 
    {
            margin-right:0px;
            align-items:center;
            flex-direction:row;
            display:flex;
            width:180px;
            box-sizing:border-box;
            padding-top:0px;
            height:100%;
            margin-left:0px;
    }
    .header .center .right >a 
    {
            cursor:pointer;
            font-size:12PX;
            text-decoration:none;
            padding-top:0px;
            color:#CDD6E1;
    }
    .header .center .right >a:hover
    {
                    color:#FFFFFF;
    }
    .header .center .right >span 
    {
            margin-right:2px;
            color:#FFFFFF;
            flex-direction:row;
            word-wrap:break-word;
            display:inline-block;
            margin-left:2px;
    }
    .footer 
    {
            border-top-style:solid;
            background-color:#FFFFFF;
            flex-wrap:nowrap;
            flex-direction:column;
            border-top-width:10px;
            display:flex;
            width:100%;
            margin-bottom:0px;
            box-sizing:border-box;
            padding-top:0px;
            border-top-color:#2F5E95;
    }
    .footer .links 
    {
            margin-right:0px;
            background-color:#F3F3F3;
            flex-wrap:nowrap;
            flex-direction:row;
            display:flex;
            width:100%;
            margin-bottom:0px;
            box-sizing:border-box;
            justify-content:center;
            margin-top:0px;
            height:100px;
    }
    .footer .links >.body 
    {
            align-items:center;
            flex-direction:row;
            display:flex;
            padding-right:0px;
            box-sizing:border-box;
            justify-content:space-between;
            border-top-left-radius:0px;
            margin-right:0px;
            padding-bottom:0px;
            flex-wrap:nowrap;
            border-bottom-left-radius:0px;
            width:1170px;
            border-bottom-right-radius:0px;
            border-top-right-radius:0px;
            padding-top:0px;
            padding-left:0px;
            height:100%;
    }
    .footer .links >.body span 
    {
            align-items:center;
            flex-direction:column;
            word-wrap:break-word;
            display:inline-block;
            width:90px;
            font-size:14PX;
            padding-top:6px;
            padding-left:10px;
            justify-content:center;
            height:30px;
    }
    .footer .links >.body .link 
    {
            background-color:#FFFFFF;
            flex-direction:row;
            display:flex;
            padding-right:0px;
            box-sizing:border-box;
            border-top-left-radius:0px;
            margin-right:0px;
            flex-wrap:nowrap;
            border-bottom-left-radius:0px;
            width:204px;
            border-bottom-right-radius:0px;
            border-top-right-radius:0px;
            padding-top:0px;
            padding-left:0px;
            height:30px;
    }
    .footer .links >.body .link >.ms-select 
    {
            border-color:#DCDFE6;
            background-color:#FFFFFF;
            align-items:center;
            flex-direction:row;
            display:flex;
            padding-right:4px;
            box-sizing:border-box;
            justify-content:space-between;
            border-top-left-radius:2px;
            padding-bottom:0px;
            flex-wrap:nowrap;
            border-bottom-left-radius:2px;
            border-width:1px;
            width:100%;
            border-bottom-right-radius:2px;
            border-top-right-radius:2px;
            padding-top:0px;
            border-style:solid;
            padding-left:4px;
            height:30px;
    }
    .footer .links >.body .link >.ms-select span 
    {
            color:#DCDFE6;
            border-bottom-left-radius:0px;
            flex-direction:row;
            word-wrap:break-word;
            display:inline-block;
            padding-right:0px;
            border-bottom-right-radius:0px;
            border-top-right-radius:0px;
            font-size:14PX;
            padding-left:0px;
            border-top-left-radius:0px;
    }
    .footer .links >.body .link >.ms-select i 
    {
            border-bottom-right-radius:0px;
            border-top-right-radius:0px;
            color:#DCDFE6;
            border-bottom-left-radius:0px;
            border-top-left-radius:0px;
    }
    .footer .copyright 
    {
            align-items:center;
            flex-direction:row;
            display:flex;
            padding-right:0px;
            box-sizing:border-box;
            justify-content:center;
            flex-wrap:nowrap;
            width:100%;
            margin-bottom:40px;
            padding-left:0px;
            margin-top:20px;
            height:120px;
    }
    .footer .copyright .body 
    {
            margin-right:0px;
            align-items:center;
            flex-wrap:nowrap;
            flex-direction:row;
            display:flex;
            width:1170px;
            box-sizing:border-box;
            margin-bottom:0px;
            margin-top:0px;
            justify-content:center;
            height:100%;
    }
    .footer .copyright .body >img 
    {
            margin-right:20px;
            width:52px;
            height:64px;
    }
    .footer .copyright .body .desc 
    {
            margin-right:0px;
            flex-wrap:nowrap;
            flex-direction:column;
            display:flex;
            width:100%;
            box-sizing:border-box;
            height:100%;
    }
    .footer .copyright .body .desc .text 
    {
            align-items:center;
            flex-wrap:nowrap;
            flex-direction:row;
            display:flex;
            width:100%;
            box-sizing:border-box;
            padding-top:0px;
            justify-content:flex-start;
            height:30px;
    }
    .footer .copyright .body .desc .text >div 
    {
            align-items:center;
            flex-wrap:nowrap;
            flex-direction:row;
            display:flex;
            width:100%;
            box-sizing:border-box;
            justify-content:flex-start;
            height:100%;
    }
    .footer .copyright .body .desc .text >div a 
    {
            cursor:pointer;
            margin-right:0px;
            font-size:14px;
            text-decoration:none;
            color:#000;
    }
    .footer .copyright .body .desc .text >div span 
    {
            flex-direction:row;
            word-wrap:break-word;
            display:inline-block;
    }
    .footer .copyright .body .desc .text >a 
    {
            cursor:pointer;
            margin-right:20px;
            text-decoration:none;
            font-size:14PX;
            color:#000000;
    }
    .footer .copyright .body .desc .ms-designer 
    {
            align-items:center;
            flex-wrap:nowrap;
            flex-direction:row;
            display:flex;
            width:100%;
            box-sizing:border-box;
            justify-content:flex-start;
            height:30px;
    }
    .footer .copyright .body .desc .ms-designer a 
    {
            cursor:pointer;
            text-decoration:none;
            font-size:14PX;
            color:#DCDCDC;
    }
    .footer .copyright .body .right 
    {
            flex-wrap:nowrap;
            flex-direction:row;
            display:flex;
            width:600px;
            margin-bottom:0px;
            box-sizing:border-box;
            justify-content:space-between;
            margin-top:0px;
            height:100%;
    }
    .footer .copyright .body .right .img 
    {
            align-items:center;
            flex-wrap:nowrap;
            flex-direction:column;
            display:flex;
            width:100px;
            margin-bottom:0px;
            box-sizing:border-box;
            padding-top:0px;
            margin-top:0px;
            height:100%;
    }
    .footer .copyright .body .right .img >img 
    {
            width:90px;
            height:90px;
    }
    .footer .copyright .body .right .img >span 
    {
            font-size:14PX;
            flex-direction:row;
            word-wrap:break-word;
            display:inline-block;
    }
    .footer .copyright .body .right .wx 
    {
            align-items:center;
            flex-wrap:nowrap;
            flex-direction:column;
            display:flex;
            width:100px;
            box-sizing:border-box;
            padding-top:0px;
            height:100%;
    }
    .footer .copyright .body .right .wx >div 
    {
            flex-wrap:wrap;
            flex-direction:row;
            display:flex;
            width:100%;
            margin-bottom:0px;
            box-sizing:border-box;
            justify-content:center;
            margin-top:0px;
            height:90px;
    }
    .footer .copyright .body .right .wx >div >img 
    {
            width:50px;
            margin-bottom:0px;
            margin-top:4px;
            height:50px;
    }
    .footer .copyright .body .right .wx >div >span 
    {
            flex-direction:row;
            word-wrap:break-word;
            display:inline-block;
            font-size:18PX;
            margin-bottom:0px;
            margin-top:6px;
    }
    .footer .left-fixed 
    {
            margin:0 auto;
            align-items:center;
            flex-direction:row;
            display:none;
            box-sizing:border-box;
            justify-content:center;
            margin-left:0px;
            flex-wrap:nowrap;
            width:1200px;
            margin-bottom:0px;
            position:relative;
            margin-top:0px;
            height:0px;
    }
    .footer .left-fixed .content 
    {
            top:400px;
            flex-wrap:nowrap;
            left:50%;
            flex-direction:row;
            display:flex;
            width:100px;
            box-sizing:border-box;
            position:fixed;
            height:100px;
            margin-left:-720px;
    }
    .footer .left-fixed .content >img 
    {
            width:100%;
            margin-bottom:0px;
            height:100%;
            margin-left:0px;
    }
    .footer .right-fixed 
    {
            margin:0 auto;
            align-items:center;
            flex-direction:row;
            display:none;
            box-sizing:border-box;
            justify-content:center;
            margin-left:0px;
            flex-wrap:nowrap;
            width:1200px;
            margin-bottom:0px;
            position:relative;
            margin-top:0px;
            height:0px;
    }
    .footer .right-fixed .content 
    {
            background-color:#A38F8F;
            flex-direction:row;
            display:flex;
            box-sizing:border-box;
            margin-left:600px;
            top:400px;
            flex-wrap:nowrap;
            left:50%;
            width:100px;
            position:fixed;
            height:100px;
            z-index:1;
    }
    .footer .right-fixed .content >img 
    {
            width:100%;
            display:flex;
            height:100%;
            margin-left:0px;
    }
@media (max-width: 768px){
        .header 
        {
                background-color:#2D548F;
                align-items:center;
                flex-direction:row;
                display:flex;
                width:100%;
                box-sizing:border-box;
                justify-content:center;
                height:60px;
        }
        .header .center 
        {
                align-items:center;
                flex-direction:row;
                display:flex;
                width:100%;
                box-sizing:border-box;
                padding-top:0px;
                padding-left:0px;
                justify-content:space-between;
                height:100%;
        }
        .header .center .left 
        {
                align-items:center;
                flex-direction:row;
                display:none;
                width:100%;
                box-sizing:border-box;
                padding-top:0px;
                justify-content:center;
                height:100%;
        }
        .header .center .left >a 
        {
                cursor:pointer;
                color:#FFFFFF;
                text-align:center;
                background-image:url({ms:global.host/}/{ms:global.style/}/images/1601263314183.png);
                width:100px;
                text-decoration:none;
                background-position:bottom center;
                padding-top:20px;
                background-repeat:no-repeat;
                height:100%;
        }
        .header .center .h5-menu 
        {
                align-items:center;
                flex-direction:row;
                display:flex;
                width:80px;
                box-sizing:border-box;
                padding-top:0px;
                padding-left:0px;
                justify-content:center;
                height:100%;
        }
        .header .center .h5-menu .icon 
        {
                font-size:28PX;
                padding-top:0px;
                color:#FFFFFF;
                display:flex;
        }
        .header .center .h5-menu .h5-menu-nav 
        {
                background-color:#2D548F;
                top:60px;
                left:0px;
                flex-direction:column;
                display:none;
                width:100vw;
                box-sizing:border-box;
                padding-top:0px;
                position:absolute;
                padding-left:0px;
                z-index:9;
        }
        .header .center .h5-menu .h5-menu-nav a 
        {
                cursor:pointer;
                color:#FFFFFF;
                text-align:left;
                width:100%;
                text-decoration:none;
                padding-top:9px;
                padding-left:28px;
                height:40px;
        }
        .header .center .right 
        {
                align-items:center;
                flex-direction:row;
                display:flex;
                width:60%;
                box-sizing:border-box;
                justify-content:center;
                height:100%;
        }
        .header .center .right >a 
        {
                cursor:pointer;
                font-size:12PX;
                text-decoration:none;
                color:#CDD6E1;
        }
        .header .center .right >span 
        {
                margin-right:2px;
                color:#FFFFFF;
                flex-direction:row;
                word-wrap:break-word;
                display:inline-block;
                margin-left:2px;
        }
        .footer 
        {
                border-top-style:solid;
                padding-bottom:0px;
                flex-wrap:nowrap;
                flex-direction:column;
                border-top-width:10px;
                display:flex;
                width:100%;
                margin-bottom:0px;
                box-sizing:border-box;
                padding-top:0px;
                border-top-color:#2F5E95;
        }
        .footer .links 
        {
                margin-right:0px;
                background-color:#F3F3F3;
                flex-wrap:wrap;
                flex-direction:column;
                display:flex;
                width:100%;
                margin-bottom:0px;
                box-sizing:border-box;
                justify-content:center;
                margin-top:0px;
                height:unset;
        }
        .footer .links >.body 
        {
                align-items:center;
                flex-direction:column;
                display:flex;
                padding-right:0px;
                box-sizing:border-box;
                justify-content:space-between;
                border-top-left-radius:0px;
                margin-right:0px;
                padding-bottom:0px;
                flex-wrap:nowrap;
                border-bottom-left-radius:0px;
                width:100%;
                border-bottom-right-radius:0px;
                border-top-right-radius:0px;
                padding-top:0px;
                padding-left:0px;
                height:unset;
        }
        .footer .links >.body span 
        {
                align-items:center;
                flex-direction:column;
                word-wrap:break-word;
                display:inline-block;
                width:90px;
                font-size:14PX;
                padding-top:6px;
                padding-left:10px;
                justify-content:center;
                height:30px;
        }
        .footer .links >.body .link 
        {
                background-color:#FFFFFF;
                flex-direction:row;
                display:flex;
                padding-right:0px;
                box-sizing:border-box;
                border-top-left-radius:0px;
                margin-right:0px;
                flex-wrap:nowrap;
                border-bottom-left-radius:0px;
                width:204px;
                border-bottom-right-radius:0px;
                margin-bottom:10px;
                border-top-right-radius:0px;
                padding-top:0px;
                padding-left:0px;
                margin-top:0px;
                height:30px;
        }
        .footer .links >.body .link >.ms-select 
        {
                border-color:#DCDFE6;
                background-color:#FFFFFF;
                align-items:center;
                flex-direction:row;
                display:flex;
                padding-right:4px;
                box-sizing:border-box;
                justify-content:space-between;
                border-top-left-radius:2px;
                padding-bottom:0px;
                flex-wrap:nowrap;
                border-bottom-left-radius:2px;
                border-width:1px;
                width:100%;
                border-bottom-right-radius:2px;
                border-top-right-radius:2px;
                padding-top:0px;
                border-style:solid;
                padding-left:4px;
                height:30px;
        }
        .footer .links >.body .link >.ms-select span 
        {
                color:#DCDFE6;
                border-bottom-left-radius:0px;
                flex-direction:row;
                word-wrap:break-word;
                display:inline-block;
                padding-right:0px;
                border-bottom-right-radius:0px;
                border-top-right-radius:0px;
                font-size:14PX;
                padding-left:0px;
                border-top-left-radius:0px;
        }
        .footer .links >.body .link >.ms-select i 
        {
                border-bottom-right-radius:0px;
                border-top-right-radius:0px;
                color:#DCDFE6;
                border-bottom-left-radius:0px;
                border-top-left-radius:0px;
        }
        .footer .copyright 
        {
                flex-wrap:nowrap;
                flex-direction:row;
                display:flex;
                padding-right:10px;
                width:100%;
                margin-bottom:40px;
                box-sizing:border-box;
                padding-left:10px;
                justify-content:center;
                margin-top:20px;
                height:unset;
        }
        .footer .copyright .body 
        {
                align-items:center;
                flex-direction:column;
                display:flex;
                padding-right:0px;
                box-sizing:border-box;
                justify-content:center;
                margin-right:0px;
                padding-bottom:0px;
                flex-wrap:nowrap;
                width:100%;
                margin-bottom:0px;
                padding-top:0px;
                padding-left:0px;
                margin-top:0px;
                height:unset;
        }
        .footer .copyright .body >img 
        {
                margin-right:20px;
                width:52px;
                height:64px;
        }
        .footer .copyright .body .desc 
        {
                margin-right:0px;
                flex-wrap:nowrap;
                flex-direction:column;
                display:flex;
                width:100%;
                box-sizing:border-box;
                height:100%;
        }
        .footer .copyright .body .desc .text 
        {
                align-items:center;
                flex-wrap:nowrap;
                flex-direction:column;
                display:flex;
                width:100%;
                box-sizing:border-box;
                padding-top:0px;
                justify-content:center;
                height:unset;
        }
        .footer .copyright .body .desc .text >div 
        {
                align-items:center;
                flex-wrap:nowrap;
                flex-direction:row;
                display:flex;
                width:100%;
                box-sizing:border-box;
                justify-content:center;
                margin-top:0px;
                height:unset;
        }
        .footer .copyright .body .desc .text >div a 
        {
                cursor:pointer;
                font-size:14PX;
                text-decoration:none;
                color:#000;
        }
        .footer .copyright .body .desc .text >div span 
        {
                flex-direction:row;
                word-wrap:break-word;
                display:inline-block;
        }
        .footer .copyright .body .desc .text >a 
        {
                cursor:pointer;
                text-decoration:none;
                font-size:14PX;
                text-align:center;
        }
        .footer .copyright .body .desc .ms-designer 
        {
                align-items:center;
                flex-wrap:nowrap;
                flex-direction:row;
                display:none;
                width:100%;
                box-sizing:border-box;
                justify-content:flex-start;
        }
        .footer .copyright .body .desc .ms-designer a 
        {
                cursor:pointer;
                text-decoration:none;
                font-size:14PX;
                color:#DCDCDC;
        }
        .footer .copyright .body .right 
        {
                flex-wrap:nowrap;
                flex-direction:row;
                display:flex;
                padding-right:0px;
                width:100%;
                margin-bottom:0px;
                box-sizing:border-box;
                padding-left:0px;
                justify-content:center;
                margin-top:20px;
                height:100%;
        }
        .footer .copyright .body .right .img 
        {
                align-items:center;
                flex-wrap:nowrap;
                flex-direction:column;
                display:flex;
                width:100px;
                margin-bottom:0px;
                box-sizing:border-box;
                padding-top:0px;
                margin-top:0px;
                height:100%;
        }
        .footer .copyright .body .right .img >img 
        {
                width:90px;
                height:90px;
        }
        .footer .copyright .body .right .img >span 
        {
                font-size:14PX;
                flex-direction:row;
                word-wrap:break-word;
                display:inline-block;
        }
        .footer .copyright .body .right .wx 
        {
                align-items:center;
                flex-wrap:nowrap;
                flex-direction:column;
                display:flex;
                width:100px;
                box-sizing:border-box;
                padding-top:0px;
                height:100%;
        }
        .footer .copyright .body .right .wx >div 
        {
                flex-wrap:wrap;
                flex-direction:row;
                display:flex;
                width:100%;
                margin-bottom:0px;
                box-sizing:border-box;
                justify-content:center;
                margin-top:0px;
                height:90px;
        }
        .footer .copyright .body .right .wx >div >img 
        {
                width:50px;
                margin-bottom:0px;
                margin-top:4px;
                height:50px;
        }
        .footer .copyright .body .right .wx >div >span 
        {
                flex-direction:row;
                word-wrap:break-word;
                display:inline-block;
                font-size:18PX;
                margin-bottom:0px;
                margin-top:6px;
        }
        .footer .left-fixed 
        {
                margin:0 auto;
                align-items:center;
                flex-direction:row;
                display:none;
                box-sizing:border-box;
                justify-content:center;
                margin-left:0px;
                flex-wrap:nowrap;
                width:1200px;
                margin-bottom:0px;
                position:relative;
                margin-top:0px;
                height:0px;
        }
        .footer .left-fixed .content 
        {
                top:400px;
                flex-wrap:nowrap;
                left:50%;
                flex-direction:row;
                display:flex;
                width:100px;
                box-sizing:border-box;
                position:fixed;
                height:100px;
                margin-left:-720px;
        }
        .footer .left-fixed .content >img 
        {
                width:100%;
                margin-bottom:0px;
                height:100%;
                margin-left:0px;
        }
        .footer .right-fixed 
        {
                margin:0 auto;
                align-items:center;
                flex-direction:row;
                display:none;
                box-sizing:border-box;
                justify-content:center;
                margin-left:0px;
                flex-wrap:nowrap;
                width:1200px;
                margin-bottom:0px;
                position:relative;
                margin-top:0px;
                height:0px;
        }
        .footer .right-fixed .content 
        {
                background-color:#A38F8F;
                flex-direction:row;
                display:flex;
                box-sizing:border-box;
                margin-left:600px;
                top:400px;
                flex-wrap:nowrap;
                left:50%;
                width:100px;
                position:fixed;
                height:100px;
                z-index:1;
        }
        .footer .right-fixed .content >img 
        {
                width:100%;
                height:100%;
                margin-left:0px;
        }

}