<!DOCTYPE html>
<html>
    <head>
         <#include "/head-file.htm" />
        <script src="{ms:global.host/}/static/plugins/plupload/plupload.full.min.js"></script>
        <script src="{ms:global.host/}/static/plugins/axios/0.18.0/axios.min.js"></script>
        <script src="{ms:global.host/}/static/plugins/validator/10.8.0/validator.min.js"></script>
        <script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.js"></script>
        <script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.http.js"></script>
        <script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.util.js"></script>
        <script src="{ms:global.host/}/static/plugins/ms/1.0.0/ms.upload.js"></script>
        <script src="{ms:global.host/}/api/ms.people.min.js"></script>
        <script>
        	ms.base = "{ms:global.host/}";
        	ms.login = '{ms:global.host/}';
		</script>
    </head>
    <body>
         <#include "/head.htm" />
        <div class="ms-content" id="center-vue">
            <div class="ms-content-main">
                <div class="ms-content-left">
                    <div class="ms-content-left-info">
                        <img :src="'{ms:global.host/}/'+peopleInfo.puIcon" onerror='this.src="http://cdn.mingsoft.net/global/images/msheader.png"'>
                        <div style="display: none;" v-show="puNickname!='' && puNickname != undefined" v-if="puNickname!='' && puNickname != undefined" v-text="puNickname"></div>
                        <div v-else v-text="'暂无昵称'"></div>
                    </div>
                    <div class="ms-content-left-list">
                        <div class="ms-content-left-list-info">
                            <a class='active' href="{ms:global.host/}/people/center.do">基本资料</a>
                        </div>
                        <div class="ms-content-left-list-pass">
                            <a href="{ms:global.host/}/people/password-change.do">修改密码</a>
                        </div>
                    </div>
                </div>
                <div class="ms-content-right">
                    <div class="ms-content-right-title">基本资料</div>
                    <div class="ms-content-right-form">
                        <form id="ms-center-form">
                             <div class="ms-content-data">
                                <span class="ms-content-nickname span">手机号</span>
                                <input @keyup="chanageBackgroundColor" type="text" name="peoplePhone" v-model="peopleInfo.peoplePhone">
                                <img class="ms-error-hide" src="{ms:global.host/}/{ms:global.style/}/images/error.png" :class="{'ms-error-show':errorText[0] != ''}" />
                                <span class="ms-error-hide" v-text="errorText[0]" :class="{'ms-error-show':errorText[0] != ''}"></span>
                            </div>
                            <div class="ms-content-data">
                                <span class="ms-content-nickname span">昵称</span>
                                <input @keyup="chanageBackgroundColor" type="text" name="puNickname" v-model="peopleInfo.puNickname">
                                <img class="ms-error-hide" src="{ms:global.host/}/{ms:global.style/}/images/error.png" :class="{'ms-error-show':errorText[0] != ''}" />
                                <span class="ms-error-hide" v-text="errorText[0]" :class="{'ms-error-show':errorText[0] != ''}"></span>
                            </div>
                            <div class="ms-content-data">
                                <span class="ms-content-mailbox span">邮箱</span>
                                <input @keyup="chanageBackgroundColor" type="text" name="peopleMail" v-model="peopleInfo.peopleMail">
                                <img class="ms-error-hide" src="{ms:global.host/}/{ms:global.style/}/images/error.png" :class="{'ms-error-show':errorText[1] != ''}" />
                                <span class="ms-error-hide" v-text="errorText[1]" :class="{'ms-error-show':errorText[1] != ''}"></span>
                            </div>
                        </form>
                        <div class="ms-content-click" :disabled="butState != '确认'" :class="{'ms-but-disabled':butState != '确认'}" v-text="butState" @click="updateInfo">确认</div>
                    </div>
                </div>
            </div>
        </div>
         <#include "/footer.htm" />
    </body>
</html>
<script type="text/javascript">
        var centerVue = new Vue({
            el: "#center-vue",
            data: {
                peopleInfo: "", //个人信息
                puNickname: "", //昵称
                peoplePhone: "", //手机号
                butState: "确认", //按钮文字
                errorText: ['', ''], //错误信息
            },
            methods: {
                //修改信息
                updateInfo: function() {
                   var target = this;
                   this.butState = '提交中...';
                   ms.people.user.update(target.data, function(returnJson) { //更新用户信息
                        if(returnJson.result) {
                            alert("修改成功");
                            location.reload();
                            //target.getPeopleInfo();
                        } else {
                            alert(returnJson.resultMsg);
                        }
                        target.butState = '确认';
                    });
                },
                //获取个人信息
                getPeopleInfo: function() {
                    var target = this;
                   ms.people.user.info(function(returnJson) {
                        target.peopleInfo = returnJson;
                        target.puNickname = returnJson.puNickname;
                    })
                },
                //显示提示
                showPrompt: function(text, date, type) {
                    var target = this;
                    this.errorText[type] = text;
                    this.errorText = [this.errorText[0], this.errorText[1]];
                    setTimeout(
                        function() {
                            target.errorText[type] = '';
                            target.errorText = [target.errorText[0], target.errorText[1]];
                        }, date
                    )
                },
                chanageBackgroundColor: function() {
                    if($('input[name="puNickname"]').val().length > 0 && 　$('input[name="peopleMail"]').val().length > 0) {
                        $('.ms-content-click').css("background-color", "#009aff");
                        $('.ms-content-click').css("pointer-events", 'visible');
                        $('.ms-content-click').css("color", "#fff");
                    } else {
                        $('.ms-content-click').css("background-color", "#fafafa");
                        $('.ms-content-click').css('pointer-events', "none");
                        $('.ms-content-click').css("color", "#ddd");
                    }
                },

            },
            mounted: function() {
                this.getPeopleInfo();
                var target = this;
            },
        })
</script>