


        <!--底部导航 - start -->
                <div               class="footer">
        <!--友情链接 - start -->
                <div               class="links">
                <div               class="body">
            <span      >
    网站导航
            </span>
                <div               class="link">
        <!--下拉框 - start -->
            <!--下拉框 -end -->
                </div>
                <div               class="link">
        <!--下拉框 - start -->
            <!--下拉框 -end -->
                </div>
                <div               class="link">
        <!--下拉框 - start -->
            <!--下拉框 -end -->
                </div>
                <div               class="link">
        <!--下拉框 - start -->
            <!--下拉框 -end -->
                </div>
                <div               class="link">
        <!--下拉框 - start -->
            <!--下拉框 -end -->
                </div>
                </div>
                </div>
            <!--友情链接 -end -->
        <!--版权信息 - start -->
                <div               class="copyright">
                <div               class="body">
            <img
                    title=""
                    alt=""
                    
                src="{ms:global.host/}/{ms:global.style/}/images/1602123532415.png"
                     />
                <div               class="desc">
                <div               class="text">
                <div      >
            <a href="#"     
                    >
    关于我们
            </a>
            <span      >
    ｜
            </span>
            <a href="#"     
                    >
    网站地图
            </a>
                </div>
                </div>
                <div               class="text">
            <a href="#"     
                    >
    主办：江西省人民政府办公厅
            </a>
            <a href="#"     
                    >
    承办：江西省信息中心
            </a>
                </div>
                <div               class="text">
            <a href="#"     
                    >
    赣ICP备05004294号
            </a>
            <a href="#"     
                    >
    政府网站标识码3600000012
            </a>
            <a href="#"     
                    >
    赣公网安备 36010802000128号
            </a>
                </div>
                <div               class="ms-designer">
            <a href="www.mingsoft.net"     
                   target="_blank"
                    >
    @该网页由MDesigner制作完成
            </a>
                </div>
                </div>
                <div               class="right">
                <div               class="img">
            <img
                    title=""
                    alt=""
                    
                src="http://www.gov.cn/govweb/xhtml/2016gov/guowuyuan/20190301gwykhd/images/icon_1234.png"
                     />
            <span      >
    国务院客户端
            </span>
                </div>
                <div               class="img">
            <img
                    title=""
                    alt=""
                    
                src="http://www.gov.cn/govweb/xhtml/2016gov/guowuyuan/20190301gwykhd/images/icon_724.png"
                     />
            <span      >
    国务院小程序
            </span>
                </div>
                <div               class="wx">
                <div      >
            <img
                    title=""
                    alt=""
                    
                src="http://www.gov.cn/govweb/xhtml/2016gov/guowuyuan/20190301gwykhd/images/icon_1434.png"
                     />
            <img
                    title=""
                    alt=""
                    
                src="http://www.gov.cn/govweb/xhtml/2016gov/guowuyuan/20190301gwykhd/images/icon_1534.png"
                     />
            <span      >
    中国政府网微博、微信
            </span>
                </div>
                </div>
                </div>
                </div>
                </div>
            <!--版权信息 -end -->
        <!--左漂浮 - start -->
                <div               class="left-fixed">
                <div               class="content">
            <img
                    title=""
                    alt=""
                    
                src="https://iph.href.lu/100x100"
                     />
                </div>
                </div>
            <!--左漂浮 -end -->
        <!--右漂浮 - start -->
                <div               class="right-fixed">
                <div               class="content">
            <img
                    title=""
                    alt=""
                    
                src="https://iph.href.lu/100x100"
                     />
                </div>
                </div>
            <!--右漂浮 -end -->
                </div>
            <!--底部导航 -end -->
