


        <!--搜索区域 - start -->
                <div               class="search">
                <div               class="center">
            <img
                    title=""
                    alt=""
                    
                src="{@ms:file global.logo/}"
                         class="logo"     />
                <div               class="right">
                <div               class="top">
            <a href="#"     
                    >
    政务邮箱
            </a>
                </div>
                <div               class="search">
        <!--搜索 - start -->
<form id="searchDataForm" action="{ms:global.host/}/mcms/search.do" method="post" style="margin:0;padding:0;width:100%">
<div class="ms-search-input">
   
    <div class="ms-search-input-div">
        <!--输入框 - start -->
        <input class="ms-input" placeholder="输入搜索关键字"/>
        <!--输入框 -end -->
    </div>
    <div class="ms-search-button" onclick="document.getElementById('searchDataForm').submit();">
        <i class="iconfont icon-fangdajing"></i>
        <span>
            搜索
        </span>
    </div>
    
</div>
</form>            <!--搜索 -end -->
                </div>
                </div>
                </div>
                </div>
            <!--搜索区域 -end -->
