<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--      ┏┓　　　┏┓
        ┏┛┻━━━┛┻┓
        ┃　　　　　　　┃
        ┃　　　━　　　┃
        ┃　┳┛　┗┳　┃
        ┃　　　　　　　┃
        ┃　　　┻　　　┃
        ┃　　　　　　　┃
        ┗━┓　　　┏━┛
               ┃　　　┃   
               ┃　　　┃   
               ┃　　　┗━━━┓
               ┃　　　　　　　┣┓
               ┃　　　　　　　┏┛
               ┗┓┓┏━┳┓┏┛
                   ┃┫┫　┃┫┫
                   ┗┻┛　┗┻┛
        黑你麻痹！？有种再来黑老子，屌丝东西~
 -->
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>景德镇美术家协会</title>
<link rel="shortcut icon" href="http://www.jdzmx.com.cn/templets/1518/jdzmx/favicon.ico" type="x-icon"/>
<meta name="Keywords" content="景德镇美术家协会,景德镇美术家,美术家协会" />
<meta name="Description" content="该协会业务主管部门为景德镇市工商联，协会致力于陶瓷美术理论研究与创作经验交流，提倡和鼓励不同学术观点。风格流派之间的研究，开展信息技术交流。该协会建立自律机制，积极开展社会公益活动" />

<link href="http://www.jdzmx.com.cn/templets/1518/jdzmx/css/style.css"  type=text/css rel=stylesheet>
<script src="http://www.jdzmx.com.cn/templets/1518/jdzmx/js/comm.js"  type="text/javascript"></script>

</head>
<body oncopy="nocopy()">

<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/top_title_bg.jpg"  style="padding-left:60px"><img src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/top_title.jpg"  width="279" height="30" /></td>
  </tr>
</table> 
<table width="1007" height="165" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#D5D5D5">
  <tr>
    <td><img src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/banner.jpg"  width="1007" height="165" /></td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">

 
  <tr>
   <td><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c1" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c1.jpg"  width="116" height="34" border="0" id="menu_r1_c1" alt="" /></td>
   <td><a href=http://www.jdzmx.com.cn ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c2" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c2.jpg"  width="104" height="34" border="0" id="menu_r1_c2" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3017/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c3" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c3.jpg"  width="96" height="34" border="0" id="menu_r1_c3" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3001/3307/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c4" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c4.jpg"  width="99" height="34" border="0" id="menu_r1_c4" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3008/3009/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c5" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c5.jpg"  width="102" height="34" border="0" id="menu_r1_c5" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3011/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c6" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c6.jpg"  width="97" height="34" border="0" id="menu_r1_c6" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3012/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c7" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c7.jpg"  width="98" height="34" border="0" id="menu_r1_c7" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3016/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c8" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c8.jpg"  width="99" height="34" border="0" id="menu_r1_c8" alt="" /></a></td>
   <td><a href="http://www.jdzmx.com.cn/html/1518//3013/3014/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c9" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c9.jpg"  width="100" height="34" border="0" id="menu_r1_c9" alt="" /></a></td>
   <td><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c10" src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/menu_r1_c10.jpg"  width="96" height="34" border="0" id="menu_r1_c10" alt="" /></td>
   <td><img src="spacer.gif"  width="1" height="34" border="0" alt="" /></td>
  </tr>
</table>
<table width="1007" height="333" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ECE9E4" style="padding-top:10px">
  <tr>
    <td width="745" valign="top"><table width="745" border="0" cellpadding="0" cellspacing="0">
      <tr bgcolor="#DFCFC0">
        <td width="229" bgcolor="#DFCFC0"  style="background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/news_title.jpg); color:#FFFFFF; line-height:28px; font-weight:bold; font-size:14px"><span style=" padding-top:5px; margin-left:80px;">新闻动态</span></td>
        <td width="516" align="right"><a href="http://www.jdzmx.com.cn/html/1518//3008/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="349" align="center">
<script language='javascript'>
linkarr = new Array();
picarr = new Array();
textarr = new Array();
var swf_width=344;
var swf_height=290;
//文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
var configtg='0x2C77BA|1|0xEEEEEE|5|0xffffff|0xC5DDBC|0x000033|2|3|1|_blank';
var files = "";
var links = "";
var texts = "";
//这里设置调用标记
linkarr[1] = "http://www.jdzmx.com.cn/html/1518//3008/3010/7115.html";
picarr[1]  = "http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G11103441a-lp.jpg";
textarr[1] = "“2012迎春美展”在市群众文化活动中心隆重开幕";
linkarr[2] = "http://www.jdzmx.com.cn/html/1518//3008/3010/7116.html";
picarr[2]  = "http://www.jdzmx.com.cn/upload/article/1518/1416019992800.jpg";
textarr[2] = "江西省美协“2012迎春美展”即将在景德镇举办";
linkarr[3] = "http://www.jdzmx.com.cn/html/1518//3008/3010/7121.html";
picarr[3]  = "http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G11412432b-lp.jpg";
textarr[3] = "傅克诚莫建成在南昌参观景德镇陶瓷艺术展";
linkarr[4] = "http://www.jdzmx.com.cn/html/1518//3008/3010/7598.html";
picarr[4]  = "http://www.jdzmx.com.cn/upload/article/1518/1416019808571.jpg";
textarr[4] = "“2012迎春美展”在市群众文化活动中心隆重开幕";
linkarr[5] = "http://www.jdzmx.com.cn/html/1518//3008/3010/7599.html";
picarr[5]  = "http://www.jdzmx.com.cn/upload/article/1518/1416019851395.jpg";
textarr[5] = "景德镇当代陶瓷艺术展新闻发布会在昌举行";
for(i=1;i<picarr.length;i++){
if(files=="") files = picarr[i];
else files += "|"+picarr[i];
}
for(i=1;i<linkarr.length;i++){
if(links=="") links = linkarr[i];
else links += "|"+linkarr[i];
}
for(i=1;i<textarr.length;i++){
if(texts=="") texts = textarr[i];
else texts += "|"+textarr[i];
}
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="http://www.jdzmx.com.cn/templets/1518/jdzmx/flash/slideflash.swf"><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&bcastr_config='+configtg+'">');
document.write('<embed src="http://www.jdzmx.com.cn/templets/1518/jdzmx/flash/slideflash.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
</script>		
			
			</td>
            <td width="5" align="center" valign="top"><img src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/ad_line.jpg"  /></td>
            <td width="386" valign="top">
				<div style="border:1px solid #C0BFBD; width:389px; height:293px; margin-top:3px;">
		<div style="font-size:14px; font-weight:bold; padding:15px; line-height:30px">
				<a href='http://www.jdzmx.com.cn/html/1518//3008/3010/7123.html'><font color="#FF0000" style="font-size:16px size=0">景德镇铭飞科技有限公司</font></a>
				<div style="font-size:14px; font-weight:normal; line-height:25px;">
					<font size=0><font size="3">&nbsp;由景德镇市美术家协会、省工艺美术学会、联合主办景德镇文联艺术中心协办【秀美江西、魅力</font>
				</div>
					</div>
					<div style=" padding:8px">
							<ul class="newsList">
							<li><a href='http://www.jdzmx.com.cn/html/1518//3007/7075.html'>关于征集纪念</a></li>
							</ul>
							<ul class="newsList">
							<li><a href='http://www.jdzmx.com.cn/html/1518//3007/7076.html'>中国当代花鸟展</a></li>
							</ul>
							<ul class="newsList">
							<li><a href='http://www.jdzmx.com.cn/html/1518//3007/7077.html'>2012中国</a></li>
							</ul>
							<ul class="newsList">
							<li><a href='http://www.jdzmx.com.cn/html/1518//3007/7080.html'>关于征集“纪念中国共产党成立90周年暨辛亥革命</a></li>
							</ul>
							<ul class="newsList">
							<li><a href='http://www.jdzmx.com.cn/html/1518//3007/7081.html'>“中国当代花鸟画展”征稿启事</a></li>
							</ul>
					</div>
				</div>			
				</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td align="left" valign="top">
		<div style="width:3px; float:left; margin-right:1px;"><img src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/news_line.jpg"  width="3" height="326" style="margin-left:1px; float:left; margin-right:1px;" /></div>
		<div style="float:left; width:256px;">
		<table width="100%" border="0" cellspacing="0" cellpadding="00">
  <tr>
    <td width="128" height="28" bgcolor="#DFCFC0" >
	<div style=" width:128px; color:#FFFFFF; font-weight:bold; font-size:14px; height:28px; line-height:28px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/news_gg.jpg)">
	<span style=" margin-left:45px;">协会公告</span>
	</div>
	</td>
    <td align="right" bgcolor="#DFCFC0" ><a href="http://www.jdzmx.com.cn/html/1518//3008/3009/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
		<div style="border:1px solid #C0BFBD; width:auto; height:285px; margin-top:3px; padding:8px 3px 0 3px;">
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7086.html'>省美协“2012迎春美展</a></li>
			  <li class="date">2012-24-04</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7087.html'>首届上海陶瓷成就展</a></li>
			  <li class="date">2012-25-04</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7089.html'>关于景德镇</a></li>
			  <li class="date">2012-40-04</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7090.html'>关于举办景德镇市首届</a></li>
			  <li class="date">2012-41-04</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7091.html'>关于举办全市自强杯</a></li>
			  <li class="date">2012-50-09</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7092.html'>首届檵花节</a></li>
			  <li class="date">2012-01-09</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7093.html'>中国瓷都景德镇</a></li>
			  <li class="date">2012-42-04</li>
			  </ul>
		      <ul class="newsList">
			  <li style="width:160x;float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3008/3009/7094.html'>弗客城在南昌参观</a></li>
			  <li class="date">2012-42-04</li>
			  </ul>
		</div>
	</td>
  </tr>
</table>


		</div>
	</td>
  </tr>
</table>

<div style="background-color:#FFFFFF; width:auto; ">
<table width="1007" height="366" border="0" align="center" cellpadding="00" cellspacing="0" style="margin-top:3px;">
  <tr>
    <td>
		<div style="width:1px; border-left:1px solid #BFBFBF; height:366px; float:left; margin-right:1px;">
		</div>
<table width="554" height="366" border="0" cellpadding="00" cellspacing="0" style="float:left; background-color:#ECE9E4;">
  <tr>
    <td width="129" height="28" align="left" bgcolor="#DFCFC0">
	<div  style=" width:129px;background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/title_bg.jpg); color:#FFFFFF; line-height:28px; font-weight:bold; font-size:14px">
	<span style=" margin-left:45px;">会员风采</span>
	</div>
	</td>
    <td width="429" height="28" align="right" bgcolor="#DFCFC0"><a href="http://www.jdzmx.com.cn/html/1518//3013/3014/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
				<div style="border:1px solid #C0BFBD; width:auto; height:331px; margin-top:3px; padding:2px 10px 0 10px;">
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7142.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017241705.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7142.html'>何炳钦 </a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7143.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017310228.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7143.html'>涂少波</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7144.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017412542.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7144.html'>舒立洪</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7145.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017448272.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7145.html'>赖德全</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7146.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017509942.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7146.html'>涂翼报</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7147.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017557568.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7147.html'>吴能</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7148.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017624910.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7148.html'>刘升辉</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7149.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017688571.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7149.html'>龚循明</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7150.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017732254.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7150.html'>熊军</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7151.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017764016.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7151.html'>徐岚</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7152.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017956064.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7152.html'>余效团</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7153.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416017998574.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7153.html'>吴天麟</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7154.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416018031198.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7154.html'>杨曙华</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7155.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416018071820.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7155.html'>朱正荣</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7156.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416018101300.png width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7156.html'>詹明荣</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7157.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416018131739.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7157.html'>宁钢</a>
会员风采</a></dd>						
					</dl>	
            		<dl style="width:70px; height:100px;  margin:0; padding:0; overflow:hidden; float:left; margin:2px 8px 0 10px">
						<dt style="width:70px; height:82px; text-align:center; overflow:hidden;"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7158.html'><img src=http://www.jdzmx.com.cn/upload/article/1518/1416018175898.jpg width="69" height="85" style="margin-top:7px;" border="0"></a>

</dt>
						<dd style="color:#3C3B39; width:70px; height:25px; line-height:25px; margin:0; padding:0; text-align:center"><a href='http://www.jdzmx.com.cn/html/1518//3013/3014/7158.html'>王采</a>
会员风采</a></dd>						
					</dl>	
			  </div>	
				
	</td>
  </tr>
</table>
		<div style="width:1px; border-left:1px solid #BFBFBF; height:366px; float:left; margin-left:2px; margin-right:1px;">
		</div>	
<table width="444" height="366" border="0" cellpadding="00" cellspacing="0" style="float:left;background-color:#ECE9E4;">
  <tr>
    <td width="128" height="28" align="center" bgcolor="#DFCFC0" style="background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/title_bg.jpg); color:#FFFFFF; line-height:28px; font-weight:bold; font-size:14px"><span style=" margin-left:40px;">创作展览</span></td>
    <td width="370" height="28" align="right" bgcolor="#DFCFC0"><a href="http://www.jdzmx.com.cn/html/1518//3007/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
				<div style="border:1px solid #C0BFBD; width:auto; height:325px; margin-top:3px; padding:8px 3px 0 3px;">
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7075.html'>关于征集纪念</a></li><li  class="date">2012-53-04</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7076.html'>中国当代花鸟展</a></li><li  class="date">2012-57-04</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7077.html'>2012中国</a></li><li  class="date">2012-57-04</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7080.html'>关于征集“纪念中国共产党成立90周年暨辛亥革命</a></li><li  class="date">2012-16-11</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7081.html'>“中国当代花鸟画展”征稿启事</a></li><li  class="date">2012-17-11</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7082.html'>2011•中国百家金陵画展（中国画）征稿通知</a></li><li  class="date">2012-18-11</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7083.html'>“百年百虎”画展圆满落幕</a></li><li  class="date">2012-19-11</li>
				  		</ul>
						  <ul class="newsList">
						<li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3007/7084.html'>丁千先生陶瓷艺术珍品展</a></li><li  class="date">2013-28-11</li>
				  		</ul>
			 	</div>
	</td>
  </tr>
</table>	
	</td>
  </tr>
</table>


<table width="1007" height="245" border="0" align="center" cellpadding="00" cellspacing="0" style="margin-top:3px;">
  <tr>
    <td><div style="width:1px; border-left:1px solid #BFBFBF; height:245px; float:left; margin-right:1px;"> </div>
        <table width="554" height="245" border="0" cellpadding="00" cellspacing="0" style="float:left;background-color:#ECE9E4;">
          <tr>
            <td width="129" height="28" align="center" bgcolor="#DFCFC0" style="background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/title_bg.jpg); color:#FFFFFF; line-height:28px; font-weight:bold; font-size:14px"><span style=" margin-left:40px;">展览信息</span></td>
            <td width="425" height="28" align="right" bgcolor="#DFCFC0"><a href="http://www.jdzmx.com.cn/html/1518//3012/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><div style="border:1px solid #C0BFBD; width:auto; height:239px; margin-top:3px; padding:8px 3px 0 3px;">
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7130.html'>百年白虎画展</a></li><li  class="date">2012-28-09</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7131.html'>景德镇当代陶瓷艺术</a></li><li  class="date">2012-18-09</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7132.html'>2012江西油画展举行</a></li><li  class="date">2012-18-09</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7133.html'>盛会上的江西秀</a></li><li  class="date">2012-26-09</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7134.html'>“百年百虎”画展圆满落幕</a></li><li  class="date">2012-20-11</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7135.html'>盛会上的江西＂秀＂</a></li><li  class="date">2012-22-11</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7136.html'>2010年江西油画展举行</a></li><li  class="date">2012-22-11</li>
                 
                </ul>
		<ul class="newsList">
                  
                 <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3012/7137.html'>景德镇当代陶瓷艺术展新闻发布会在昌举行</a></li><li  class="date">2012-52-11</li>
                 
                </ul>

		 
            </div></td>
          </tr>
        </table>
      <div style="width:1px; border-left:1px solid #BFBFBF; height:245px; float:left; margin-left:2px; margin-right:1px;"> </div>
      <table width="444" height="245" border="0" cellpadding="00" cellspacing="0" style="float:left;background-color:#ECE9E4;">
          <tr>
            <td width="128" height="28" align="center" bgcolor="#DFCFC0" style="background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/title_bg.jpg); color:#FFFFFF; line-height:28px; font-weight:bold; font-size:14px"><span style=" margin-left:40px;">学术交流</span></td>
            <td width="370" height="28" align="right" bgcolor="#DFCFC0"><a href="http://www.jdzmx.com.cn/html/1518//3011/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><div style="border:1px solid #C0BFBD; width:auto; height:239px; margin-top:3px; padding:8px 3px 0 3px;">
		
		    <ul class="newsList">
                  
                  <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3011/7127.html'>《苏州艺术家研究》出版发行座谈会在京举行</a></li><li  class="date">2012-25-11</li>
                  
                </ul>
		
		    <ul class="newsList">
                  
                  <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3011/7128.html'>首届中国美术家“翰墨飘香”作品展在南昌开幕</a></li><li  class="date">2012-26-11</li>
                  
                </ul>
		
		    <ul class="newsList">
                  
                  <li style="float:left;"><a href='http://www.jdzmx.com.cn/html/1518//3011/7129.html'>第八届江西省高校摄影艺术作品展在南昌开幕</a></li><li  class="date">2012-28-11</li>
                  
                </ul>

		
            </div></td>
          </tr>
      </table></td>
  </tr>
</table>
<table width="1007" height="183" border="0" align="center" cellpadding="00" cellspacing="0" style="margin-top:3px;">
  <tr>
    <td><div style="width:1px; border-left:1px solid #BFBFBF; height:184px; float:left; margin-right:1px;"> </div>
        <table width="1003" border="0" cellpadding="00" cellspacing="0" style="float:left">
          <tr>
            <td width="236" align="left" bgcolor="#DFCFC0" style="background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/news_title.jpg); color:#FFFFFF; line-height:28px; font-weight:bold; font-size:14px"><span style=" margin-left:65px;">画家作品</span></td>
            <td width="767" align="right" bgcolor="#DFCFC0"><a href="http://www.jdzmx.com.cn/html/1518//3016/index.html" >更多&gt;&gt;</a>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
			
			<div style="border:1px solid #C0BFBD; width:auto; height:151px; margin-top:3px; overflow:hidden; padding:0px 3px 0 3px; background-color:#DDD9CD">
            		<dl style="width:131px; height:130px;  margin:0; padding:0; overflow:hidden;float:left; margin-left:30px; margin-top:15px;">
						<dt style="width:131px; height:106px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/zp_bg.jpg); text-align:center; overflow:hidden; ">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7170.html'><img src=http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G1153029434-lp.jpg width="119" height="90" style="margin-top:7px;" border="0"></a>
						</dt>
						<dd style="color:#3C3B39; width:130px; margin:0; padding:0; text-align:center; height:28px; line-height:28px;">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7170.html'>何炳钦《荷韵》现代雕塑</a>
						</dd>						
					</dl>
            		<dl style="width:131px; height:130px;  margin:0; padding:0; overflow:hidden;float:left; margin-left:30px; margin-top:15px;">
						<dt style="width:131px; height:106px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/zp_bg.jpg); text-align:center; overflow:hidden; ">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7172.html'><img src=http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G1153511626-lp.jpg width="119" height="90" style="margin-top:7px;" border="0"></a>
						</dt>
						<dd style="color:#3C3B39; width:130px; margin:0; padding:0; text-align:center; height:28px; line-height:28px;">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7172.html'>宁钢《观音》瓷板</a>
						</dd>						
					</dl>
            		<dl style="width:131px; height:130px;  margin:0; padding:0; overflow:hidden;float:left; margin-left:30px; margin-top:15px;">
						<dt style="width:131px; height:106px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/zp_bg.jpg); text-align:center; overflow:hidden; ">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7173.html'><img src=http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G115361E24-lp.jpg width="119" height="90" style="margin-top:7px;" border="0"></a>
						</dt>
						<dd style="color:#3C3B39; width:130px; margin:0; padding:0; text-align:center; height:28px; line-height:28px;">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7173.html'>涂少波《雅趣图》</a>
						</dd>						
					</dl>
            		<dl style="width:131px; height:130px;  margin:0; padding:0; overflow:hidden;float:left; margin-left:30px; margin-top:15px;">
						<dt style="width:131px; height:106px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/zp_bg.jpg); text-align:center; overflow:hidden; ">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7174.html'><img src=http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G1153AR61-lp.jpg width="119" height="90" style="margin-top:7px;" border="0"></a>
						</dt>
						<dd style="color:#3C3B39; width:130px; margin:0; padding:0; text-align:center; height:28px; line-height:28px;">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7174.html'>龚循明《峰高云生雪》瓷板</a>
						</dd>						
					</dl>
            		<dl style="width:131px; height:130px;  margin:0; padding:0; overflow:hidden;float:left; margin-left:30px; margin-top:15px;">
						<dt style="width:131px; height:106px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/zp_bg.jpg); text-align:center; overflow:hidden; ">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7175.html'><img src=http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G1153P4N4-lp.jpg width="119" height="90" style="margin-top:7px;" border="0"></a>
						</dt>
						<dd style="color:#3C3B39; width:130px; margin:0; padding:0; text-align:center; height:28px; line-height:28px;">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7175.html'>吴国兴《松风万里图》瓷板</a>
						</dd>						
					</dl>
            		<dl style="width:131px; height:130px;  margin:0; padding:0; overflow:hidden;float:left; margin-left:30px; margin-top:15px;">
						<dt style="width:131px; height:106px; background:url(http://www.jdzmx.com.cn/templets/1518/jdzmx/images/zp_bg.jpg); text-align:center; overflow:hidden; ">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7176.html'><img src=http://www.jdzmx.com.cn/uploads/allimg/120711/1-120G11539232P-lp.jpg width="119" height="90" style="margin-top:7px;" border="0"></a>
						</dt>
						<dd style="color:#3C3B39; width:130px; margin:0; padding:0; text-align:center; height:28px; line-height:28px;">
						<a href='http://www.jdzmx.com.cn/html/1518//3016/7176.html'>陈敏瓷板</a>
						</dd>						
					</dl>
							   
            </div>
				
			</td>
          </tr>
        </table>
    </td>
  </tr>
</table>
﻿<div class="clear"></div>
<script type="text/javascript" src="inc/AspCms_Statistics.asp" ></script>
<center><div style="width:1007px;background-color:#ECE9E4;height:30px"></div></center>
<table width="1007" border="0" align="center" cellpadding="00" cellspacing="0" style=" background-color:#ECE9E4;" >
  <tr bgcolor="#928D87">
    <td>
		<table width="100%" border="0" cellspacing="0" cellpadding="00">
		  <tr bgcolor="#928D87">
			<td width="8%" height="25"><img src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/foot_left.jpg"  width="86" height="28" /></td>
			<td width="84%" align="center" valign="middle" style="color:#EBE8E3">申请办展 | 地理位置 | 友情连接 | 联系我们  | <font color="#EBE8E3">后台登陆</font> </td>
			<td width="8%"><img src="http://www.jdzmx.com.cn/templets/1518/jdzmx/images/foot_right.jpg"  width="86" height="28" /></td>
		  </tr>
		</table>	
	</td>

  </tr>
  <tr>
    <td height="66"align="center" style="line-height:20px;">
联系地址：江西省景德镇珠山区 e-mail:jdzmeishujia@163.com <br/>
联系电话：0798-8284386、18607988066 传真：0798-8284386 <br/>
版权说明 版权所有：2011-2012 景德镇市美术家协会 <a href="http://beian.miit.gov.cn" target="_blank"> 赣ICP备19011416号-1</a> 网站设计、建设：qq 52457427 <br/>
<a href="http://www.ming-soft.com">技术支持:铭飞陶瓷数字展厅
    </td>
  </tr>
</table>





</BODY></HTML>

<script src="http://www.jdzmx.com.cn/templets/1518/jdzmx/js/date.js"  type="text/javascript"></script>
