<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="{ms:global.host/}/{ms:global.style/}/images/top_title_bg.jpg"  style="padding-left:60px"><img src="{ms:global.host/}/{ms:global.style/}/images/top_title.jpg"  width="279" height="30" /></td>
  </tr>
</table> 
<table width="1007" height="165" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#D5D5D5">
  <tr>
    <td><img src="{ms:global.host/}/{ms:global.style/}/images/banner.jpg"  width="1007" height="165" /></td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">

 
  <tr>
   <td><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c1" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c1.jpg"  width="116" height="34" border="0" id="menu_r1_c1" alt="" /></td>
   <td><a href={ms:global.url/}/wangzhanshouye/index.html ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c2" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c2.jpg"  width="104" height="34" border="0" id="menu_r1_c2" alt="" /></a></td>
   <td><a href="{ms:global.url/}/xianrenlingdao/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c3" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c3.jpg"  width="96" height="34" border="0" id="menu_r1_c3" alt="" /></a></td>
   <td><a href="{ms:global.url/}/meixiegaikuang/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c4" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c4.jpg"  width="99" height="34" border="0" id="menu_r1_c4" alt="" /></a></td>
   <td><a href="{ms:global.url/}/xinwenzhongxin/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c5" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c5.jpg"  width="102" height="34" border="0" id="menu_r1_c5" alt="" /></a></td>
   <td><a href="{ms:global.url/}/xueshujiaoliu/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c6" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c6.jpg"  width="97" height="34" border="0" id="menu_r1_c6" alt="" /></a></td>
   <td><a href="{ms:global.url/}/zhanlanxinxi/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c7" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c7.jpg"  width="98" height="34" border="0" id="menu_r1_c7" alt="" /></a></td>
   <td><a href="{ms:global.url/}/huajiazuopin/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c8" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c8.jpg"  width="99" height="34" border="0" id="menu_r1_c8" alt="" /></a></td>
   <td><a href="{ms:global.url/}/huiyuanfengcai/index.html" ><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c9" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c9.jpg"  width="100" height="34" border="0" id="menu_r1_c9" alt="" /></a></td>
   <td><img name="/cn_jdzmx/templates/jdzmx/images/menu_r1_c10" src="{ms:global.host/}/{ms:global.style/}/images/menu_r1_c10.jpg"  width="96" height="34" border="0" id="menu_r1_c10" alt="" /></td>
   <td><img src="spacer.gif"  width="1" height="34" border="0" alt="" /></td>
  </tr>
</table>
