.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init*/
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon*/
.grabbing {
	cursor: url(../images/grabbing.png) 8 8, move;
}
/* fix*/
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.owl-theme .owl-controls {/*margin-bottom:20px;*/
	text-align: center;
}
/* Styling Next and Prev buttons*/
.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 38px;
	height: 74px;/*IE7 life-saver*/
	text-indent: 40px;
	margin-top: -16%;
	z-index: 9;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
	background: url(../images/i_pro_left.png) no-repeat;
	float: left;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
	background: url(../images/i_pro_left_on.png) no-repeat;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
	background: url(../images/i_pro_right.png) no-repeat;
	float: right;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:hover {
	background: url(../images/i_pro_right_on.png) no-repeat;
}
/* Clickable class fix problem with hover on touch devices*//* Use it for non-touch hover action*/
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
	display: none;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 5px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #ccc;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #4cb6ed;
}
/* If PaginationNumbers is true 
.owl-theme .owl-controls.clickable .owl-page:hover span*/
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images*/
.owl-item.loading {
	min-height: 150px;
	background: url(../images/ajaxloader.gif) no-repeat center center
}
/*首页手机轮显*/
.flash_div {
	display: none;
}
#owl-flash {
	text-align: center;
}
#owl-flash.owl-theme .owl-controls {
	bottom: 0px;
	text-align: center;
	position: absolute;
	width: 100%;
}
#owl-flash.owl-theme .owl-controls .owl-pagination {
}
/* Styling Pagination*/
#owl-flash.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
}
#owl-flash.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 5px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #b3b3b3;
}
#owl-flash.owl-theme .owl-controls .owl-page.active span {
	background: #00a1e9;
}
#owl-flash.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
	height: 0;
	display: none;
}
#owl-flash.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-flash .item {
	margin: 0px;
}
#owl-flash .item img {
	display: block;
	width: 100%;
	height: 100%;
}
#owl-flash .item dd {
	width: 100%;
}
/*首页工程实例*/
#owl-demo3 {
	text-align: center;
}
#owl-demo3.owl-theme .owl-pagination {
	display: none;
}
#owl-demo3.owl-theme .owl-controls {
	padding-top: 0%;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 47%;
	width: 100%;
	left: 0;
	height: 0;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 19px;
	height: 33px;/*IE7 life-saver*/
	text-indent: 60px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	margin-top: 0;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons div.owl-prev {
	background: url(../images/i_left2.png) center center no-repeat;
	float: left;
	margin-left: -30px;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
	filter: Alpha(Opacity=80);
	opacity: 0.8;
	transition: all 0.3s;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons div.owl-next {
	background: url(../images/i_right2.png) center center no-repeat;
	float: right;
	margin-right: -30px;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons div.owl-next:hover {
	filter: Alpha(Opacity=80);
	opacity: 0.8;
	transition: all 0.3s;
}
#owl-demo3.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-demo3 .item {
	margin: 0px 3%;
	text-align: center;
}
#owl-demo3 .item img {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
#owl-demo3 .item dd {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#owl-demo3 .item dd .imgs {
	overflow: hidden;
	width: 100%;
}
#owl-demo3 .item dd .imgs img {
	display: block;
	width: 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#owl-demo3 .item dd .txts {
	overflow: hidden;
	background-color: #fff;
	transition: all 0.3s;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 26px;
	padding-right: 2%;
	text-align: left;
}
#owl-demo3 .item dd .txts h2 {
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	font-weight: normal;
	color: #333;
}
#owl-demo3 .item dd .txts .p {
	font-size: 14px;
	color: #aaaaaa;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
#owl-demo3 .item dd:hover .imgs img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#owl-demo3 .item dd:hover .txts h2 {
	color: #014ee7;
}
#owl-demo3 .item dd .desc {
	display: none;
}
/*旧产品详细*/
#owl-demo2 {
	text-align: center;
}
#owl-demo2.owl-theme .owl-controls {
	bottom: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
}
#owl-demo2.owl-theme .owl-controls .owl-pagination {
	text-align: right;
	padding-right: 2%;
	display: none;
}
/* Styling Pagination*/
#owl-demo2.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
}
#owl-demo2.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 5px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #ffffff;
}
#owl-demo2.owl-theme .owl-controls .owl-page.active span {
	background: #ec2029;
}
#owl-demo2.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
	height: 0;
	display: none;
}
#owl-demo2.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-demo2 .item {
	margin: 0px;
}
#owl-demo2 .item img {
	display: block;
	width: 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#owl-demo2 .item dd {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#owl-demo2 .item dd .imgs {
	margin: 0 auto;
	overflow: hidden;
	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	-webkit-transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0);
	margin-bottom: 5%;
}
#owl-demo2 .item dd:hover .imgs img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#owl-demo2 .item dd h2 {
	font-weight: normal;
	color: #1d1d1d;
	margin: 0 auto;
	max-width: 450px;
	margin-bottom: 2%;
}
#owl-demo2 .item dd p {
	color: #444;
	line-height: 24px;
	margin: 0 auto;
	max-width: 450px;
}
#owl-demo2 .item dd:hover h2 {
	color: #1d96d2;
}
/*机器人产品详细3*/
#owl-demo4.owl-carousel .owl-wrapper-outer {
	overflow: visible;
}
#owl-demo4 {
	text-align: center;
	margin-top: 10%;
}
#owl-demo4.owl-theme .owl-controls {
	bottom: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
}
#owl-demo4.owl-theme .owl-controls .owl-pagination {
	text-align: right;
	padding-right: 2%;
	display: none;
}
/* Styling Pagination*/
#owl-demo4.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
}
#owl-demo4.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 5px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #ffffff;
}
#owl-demo4.owl-theme .owl-controls .owl-page.active span {
	background: #ec2029;
}
#owl-demo4.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
	height: 0;
	display: none;
}
#owl-demo4.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-demo4 .item {
	margin: 0px;
}
#owl-demo4 .item img {
	display: block;
	width: 100%;
	max-width: 100px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#owl-demo4 .item dd {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#owl-demo4 .item dd .imgs {
	margin: 0 auto;/* overflow:hidden;-webkit-box-shadow:0 5px 20px rgba(0,0,0,0.1);box-shadow:0 5px 20px rgba(0,0,0,0.1);*/
	-webkit-transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0);
	margin-bottom: 7%;
}
#owl-demo4 .item dd:hover .imgs img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#owl-demo4 .item dd h2 {
	font-weight: normal;
	color: #fff;
	max-width: 212px;
	line-height: 26px;
	margin: 0 auto;
	margin-bottom: 1%;
	font-size: 16px;
}
#owl-demo4 .item dd p {
	color: #fff;
	line-height: 24px;
	margin: 0 auto;
	font-size: 16px;
}
#owl-demo4 .item dd:hover h2 {
	color: #fff;
}
#owl-demo5.owl-carousel .owl-wrapper-outer {
	overflow: visible;
}
#owl-demo5 {
	text-align: center;
	margin-top: 10%;
}
#owl-demo5.owl-theme .owl-controls {
	bottom: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
}
#owl-demo5.owl-theme .owl-controls .owl-pagination {
	text-align: right;
	padding-right: 2%;
	display: none;
}
/* Styling Pagination*/
#owl-demo5.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
}
#owl-demo5.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 5px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #ffffff;
}
#owl-demo5.owl-theme .owl-controls .owl-page.active span {
	background: #ec2029;
}
#owl-demo5.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
	height: 0;
	display: none;
}
#owl-demo5.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-demo5 .item {
	margin: 0px;
}
#owl-demo5 .item img {
	display: block;
	width: 100%;
	max-width: 119px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#owl-demo5 .item dd {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#owl-demo5 .item dd:first-child {
	margin-bottom: 14%;
}
#owl-demo5 .item dd .imgs {
	margin: 0 auto;/* overflow:hidden;-webkit-box-shadow:0 5px 20px rgba(0,0,0,0.1);box-shadow:0 5px 20px rgba(0,0,0,0.1);*/
	-webkit-transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0);
	margin-bottom: 7%;
}
#owl-demo5 .item dd:hover .imgs img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#owl-demo5 .item dd h2 {
	font-weight: normal;
	color: #fff;
	max-width: 212px;
	line-height: 26px;
	margin: 0 auto;
	margin-bottom: 1%;
	font-size: 16px;
}
#owl-demo5 .item dd p {
	color: #fff;
	line-height: 24px;
	margin: 0 auto;
	font-size: 16px;
}
#owl-demo5 .item dd:hover h2 {
	color: #fff;
}
/*柜台轻产品详细*/
#owl-demo6 {
	text-align: center;
}
#owl-demo6.owl-theme .owl-controls {
	bottom: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
}
#owl-demo6.owl-theme .owl-controls .owl-pagination {
	text-align: right;
	padding-right: 2%;
	display: none;
}
/* Styling Pagination*/
#owl-demo6.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
*display: inline;/*IE7 life-saver*/
}
#owl-demo6.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 5px;/*filter: Alpha(Opacity=50);opacity: 0.5;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #ffffff;
}
#owl-demo6.owl-theme .owl-controls .owl-page.active span {
	background: #ec2029;
}
#owl-demo6.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0;
	height: 0;
	display: none;
}
#owl-demo6.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
#owl-demo6 .item {
	margin: 0px;
}
#owl-demo6 .item img {
	display: block;
	width: 100%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
#owl-demo6 .item dd {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
#owl-demo6 .item dd .imgs {
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 5%;
}
#owl-demo6 .item dd:hover .imgs img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#owl-demo6 .item dd h2 {
	font-weight: normal;
	color: #1d1d1d;
	margin: 0 auto;
	max-width: 450px;
	margin-bottom: 2%;
}
#owl-demo6 .item dd p {
	color: #444;
	line-height: 24px;
	margin: 0 auto;
	max-width: 450px;
}
#owl-demo6 .item dd:hover h2 {
	color: #1d96d2;
}
 @media screen and (max-width:1440px) {
/*首页工程实例*/
#owl-demo3.owl-theme .owl-controls .owl-buttons div.owl-prev {
	margin-left: -15px;
}
#owl-demo3.owl-theme .owl-controls .owl-buttons div.owl-next {
	margin-right: -15px;
}
}
 @media screen and (max-width:1100px) {
/*首页工程实例*/
#owl-demo3 .item dd .txts .p {
	font-size: 13px;
}
}
 @media screen and (max-width:979px) {
}
@media screen and (max-width:890px) {
}
@media screen and (max-width:830px) {
}
@media screen and (max-width:780px) {
}
@media screen and (max-width:640px) {
/*产品详细3*/
#owl-demo4 .item dd h2 {
	line-height: 22px;
	font-size: 14px;
}
}
@media screen and (max-width:480px) {
/*首页工程实例*/
#owl-demo3 .item dd .imgs h2 {
	height: 42px;
	line-height: 42px;
	font-size: 14px;
}
#owl-demo3 .item dd .txts h2 {
	font-size: 14px;
}
}
@media screen and (max-width:360px) {
}



/* 合肥秀站网络科技有限公司 */
/* 精品与原创网站模板提供商，一站式建站 */
/* 主营业务：织梦模板、pbootcms模板、云优模板、易优模板 */
/* 麦站网：Www.Xiuzhanwang.Com */
/* 主机/服务器：Www.xiuzhanyun.Com */
/* 域名抢注：Www.xiuzhanmi.Com */
/* QQ：2361928288  835971066 */
