<!DOCTYPE html>
<html>
    <head>
    <title>MCMS-OPEN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://cdn.mingsoft.net/plugins/amazeui/2.7.2/css/amazeui.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.mingsoft.net/plugins/iconfont/1.0.0/iconfont.css" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/index.less" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/base.less" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/about.less" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/case-list.less" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/news-list.less" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/news-show.less" />
    <link rel="stylesheet" type="text/less" href="http://localhost:8080/ms-mcms/templets/1/default/m/less/advice.less" />
    <script src="http://cdn.mingsoft.net/plugins/jquery/1.9.1/jquery-1.9.1.js"></script>
    <script src="http://cdn.mingsoft.net/plugins/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="http://localhost:8080/ms-mcms/templets/1/default/m/js/jiaoben.js"></script>
    <script src="http://cdn.mingsoft.net/plugins/seajs/3.0.0/sea.js"></script>
    <script src="http://cdn.mingsoft.net/model/1.0.0/main.min.js"></script>
    <!--vue-懒加载-表单验证-->
    <script src="http://cdn.mingsoft.net/plugins/vue/2.3.3/vue.min.js"></script>
    <script src="http://cdn.mingsoft.net/plugins/validator/5.5.0/validator.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/ms-mcms/templets/1/default/m/css/style.css">
    <script>
    ms.config({
        base: "http://localhost:8080/ms-mcms",
        filter: {
            people: {
                loginUrl: 'http://localhost:8080/ms-mcms'
            }
        }
    });
</script>
</head>    <link rel="stylesheet" type="text/css" href="http://cdn.mingsoft.net/plugins/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="http://cdn.mingsoft.net/plugins/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <body>
<div class="ms-head">
    <header data-am-widget="header" class="am-header am-header-default ms-head-background">
        <div class="am-header-left am-header-nav">
            <a href="http://localhost:8080/ms-mcms/" class="">
                <i class="iconfont">&#xe99b;</i>
            </a>
        </div>
        <h1 style="height: 100%;" class="am-header-title ms-header-title">
            <a href="http://localhost:8080/ms-mcms" class="">
                <img src="http://localhost:8080/ms-mcms/templets/1/default/m/images/ms.ico">
            </a>
        </h1>
        <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
            <a href="javascript: void(0)" class="am-menu-toggle ms-head-menu" style="/* height: 55px;line-height: 55px; */">
                <i class="am-menu-toggle-icon am-icon-bars" style="/* height: 55px;line-height: 55px; */"></i>
            </a>
            <div class="am-offcanvas">
                <div class="am-offcanvas-bar">
                    <ul class="am-menu-nav am-avg-sm-1">
                    	<li class="">
                            <a href="http://localhost:8080/ms-mcms" class="">首页</a>
                        </li>
                        <li class="am-parent">
                            <a href="##" class="">走进铭飞</a>
                            <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                                <li class="">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/53/index.html" class="">关于我们</a>
                                </li>
                                <li class="">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/index.html" class="">公司动态</a>
                                </li>
                                <li class="">
                                    <a href="http://mingsoft.net/html/1//5527/index.html#faz" class="">发展历程</a>
                                </li>
                                <li class="">
                                    <a href="http://mingsoft.net/html/1//5527/index.html#lianx" class="">加入我们</a>
                                </li>
                                <li class="">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/19/index.html" class="">联系我们</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="">
                            <a href="http://localhost:8080/ms-mcms/html/1/m/149/index.html" class="">案例</a>
                        </li>
                        <li class="">
                            <a href="http://mstore.mingsoft.net/mstoreShow.do" class="">模板&插件</a>
                        </li>
                        <li class="">
                            <a href="http://localhost:8080/ms-mcms/html/1/m/19/142/index.html" class="">在线留言</a>
                        </li>
                        <li class="am-parent">
                            <a>技术支持</a>
                            <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                                <li class="">
                                    <a href="http://bbs.mingsoft.net/mbbs/main.do" class="">开源社区</a>
                                </li>
                                <li class="">
                                    <a href="https://gitee.com/mingSoft/MCMS" class="">源码下载</a>
                                </li>
                                <li class="">
                                    <a href="http://doc.ms.mingsoft.net/plugs-cms/" class="">使用手册</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>        <div id="indexVue">
            <div class="ms-banner">
                <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
                    <ul class="am-slides">
                        <template v-for="banner in bannerList">
                            <li>
                                <img :src="'http://localhost:8080/ms-mcms/templets/1/default/m/images/'+banner+'.png'">
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div class="ms-content-template">
                <div>
                    <ul class="nav nav-tabs ms-index-tabs" role="tablist">
                        <li role="presentation" id="ms-model" class="active ms-active">
                            <a @click="tabShow('model')" href="#model">模板</a>
                        </li>
                        <li role="presentation" id="ms-plug" class="ms-active">
                            <a @click="tabShow('plug')" href="#plug">插件</a>
                        </li>
                    </ul>
                    <div class="ms-content-all">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="model">
                                <div style="display: none;" class="ms-loading" v-show="!loading">
                                    <img src="http://localhost:8080/ms-mcms/templets/1/default/m/images/loading.gif" />
                                </div>
                                <div class="ms-model-content" style="display: none;" v-show="loading">
                                    <template v-for="model in modelList">
                                        <div class="ms-model-list">
                                            <a class="ms-model-img" :href="model.upgraderVersionUrl" target="_blank">
                                                <img :src="'http://mstore.mingsoft.net/'+model.upgraderVersionImg" onerror="this.src='http://localhost:8080/ms-mcms/templets/1/default/m/images/no-data.png'" />
                                            </a>
                                            <div class="ms-model-mobile-img" v-if="model.upgraderVersionMobileImg != '' && model.upgraderVersionMobileImg != undefined" style="background-image: url(http://localhost:8080/ms-mcms/templets/1/default/m/images/mobile.png)">
                                                <div>
                                                    <img :src="'http://mstore.mingsoft.net/'+model.upgraderVersionMobileImg" onerror="this.src='http://localhost:8080/ms-mcms/templets/1/default/m/images/no-data.png'" />
                                                </div>
                                            </div>
                                            <div class="ms-model-info">
                                                <span v-text="model.upgraderVersionName"></span>
                                                <img class="ms-model-info-img" :src="model.upgraderVersionPeopleIcon" onerror="this.src='http://cdn.mingsoft.net/global/images/msheader.png'" />
                                                <img :src="'http://localhost:8080/ms-mcms/templets/1/default/m/images/level-'+model.upgraderVersionStart+'.png'" width="60px" />
                                                <div class="ms-model-type">模板</div>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="ms-model-list" style="display: none;" v-show="loading">
                                        <div class="ms-model-more">
                                            <div onclick="window.open('http://mstore.mingsoft.net/mstoreShow.do')">查看更多>></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="plug">
                                <div class="ms-model-content" style="display: none;" v-show="loading">
                                    <template v-for="pulg in pulgList">
                                        <div class="ms-model-list">
                                            <a class="ms-model-img" :href="pulg.upgraderVersionUrl" target="_blank">
                                                <img :src="'http://mstore.mingsoft.net/'+pulg.upgraderVersionImg" onerror="this.src='http://localhost:8080/ms-mcms/templets/1/default/m/images/no-data.png'" />
                                            </a>
                                            <div class="ms-model-info">
                                                <span v-text="pulg.upgraderVersionName"></span>
                                                <img class="ms-model-info-img" :src="'http://localhost:8080/ms-mcms/'+ pulg.upgraderVersionPeopleIcon" onerror="this.src='http://cdn.mingsoft.net/global/images/msheader.png'" />
                                                <img :src="'http://localhost:8080/ms-mcms/templets/1/default/m/images/level-'+pulg.upgraderVersionStart+'.png'"  width="60px"/>
                                                <div class="ms-model-type">插件</div>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="ms-model-list" style="display: none;" v-show="loading">
                                        <div class="ms-model-more">
                                            <div onclick="window.open('http://mstore.mingsoft.net/mstoreShow.do')">查看更多>></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ms-index-content">
                <div class="ms-case">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default ms-case-div">
                        <!--列表标题-->
                        <div class="am-list-news-hd am-cf ms-case-title">
                            <!--带更多链接-->
                            <a href="http://localhost:8080/ms-mcms/html/1/m/149/index.html" class="">
                                <h2 class="ms-case-title-h2">网站案例</h2>
                                <span class="am-list-news-more am-fr ms-case-more">MORE &raquo;</span>
                            </a>
                        </div>
                        <div class="ms-case-list-div">
                            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-gallery-imgbordered">
                                <li>
                                    <div class="am-gallery-item ms-case-div-li">
                                        <a href='http://www.panchen-china.com/'>
                                            <img class="ms-case-list-img" src="http://localhost:8080/ms-mcms/upload/1//article/1531105696938.jpg" alt="攀臣广告" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="am-gallery-item ms-case-div-li">
                                        <a href='http://www.huaful.com/'>
                                            <img class="ms-case-list-img" src="http://localhost:8080/ms-mcms/upload/1//article/1531105877049.jpg" alt="华赋科创" />
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="am-gallery-item ms-case-div-li">
                                        <a href='http://www.luolong.gov.cn/ '>
                                            <img class="ms-case-list-img" src="http://localhost:8080/ms-mcms/upload/1//article/1531105970322.jpg" alt="洛阳洛龙" />
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ms-product">
                    <div class="container ms-product-container">
                        <div id="slide" class="slide" class="index-slide" alt="star">
                            <h2>产品方向</h2>
                            <div class="img img2" data-slide-imgid="0" onclick="left()">
						        <a href="http://www.mingsoft.net/html/1/5524/index.html">
						            <img src="http://www.mingsoft.net/templets/1/ming-soft//images/hu2.jpg">
						        </a>
						    </div>
						    <div class="img img3" data-slide-imgid="1">
						    	<a href="http://www.mingsoft.net/html/1/5523/index.html">
						            <img src="http://www.mingsoft.net/templets/1/ming-soft//images/hu1.png">
						        </a>
						    </div>
						    <div class="img img4" data-slide-imgid="2" onclick="right()">
						        <a href="http://www.mingsoft.net/html/1/5526/index.html">
						            <img src="http://www.mingsoft.net/templets/1/ming-soft//images/hu3.jpg">
						        </a>
						    </div>
                        </div>
                    </div>
                </div>
                <div class="ms-news">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                        <div class="am-list-news-hd am-cf ms-news-title">
                            <!--带更多链接-->
                            <a href="http://localhost:8080/ms-mcms/html/1/m/59/index.html" class="">
                                <h2 class="ms-news-title-h2">公司动态</h2>
                                <span class="am-list-news-more am-fr ms-news-more">MORE &raquo;</span>
                            </a>
                        </div>
                        <div class="am-list-news-bd ms-product-news-list">
                            <ul class="am-list">
                                <li class="am-g am-list-item-dated ms-product-news-list-li">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/69\70.html" class="am-list-item-hd ">2015年 铭飞MCms获得最热门开源项目第40位</a>
                                    <span class="am-list-date">2028-00-01</span>
                                </li>
                                <li class="am-g am-list-item-dated ms-product-news-list-li">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/68\71.html" class="am-list-item-hd ">国内java开源 cms系统</a>
                                    <span class="am-list-date">2028-00-01</span>
                                </li>
                                <li class="am-g am-list-item-dated ms-product-news-list-li">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/68\72.html" class="am-list-item-hd ">2016年CMS开源系统排行榜</a>
                                    <span class="am-list-date">2028-00-01</span>
                                </li>
                                <li class="am-g am-list-item-dated ms-product-news-list-li">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/68\73.html" class="am-list-item-hd ">国内java开源商城系统</a>
                                    <span class="am-list-date">2028-00-01</span>
                                </li>
                                <li class="am-g am-list-item-dated ms-product-news-list-li">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/68\74.html" class="am-list-item-hd ">国内java开源bbs系统</a>
                                    <span class="am-list-date">2028-00-01</span>
                                </li>
                                <li class="am-g am-list-item-dated ms-product-news-list-li">
                                    <a href="http://localhost:8080/ms-mcms/html/1/m/59/70\177.html" class="am-list-item-hd ">国内开源 java cms，铭飞MCms</a>
                                    <span class="am-list-date">2028-00-01</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="ms-footer">
    <footer class="am-footer am-footer-default">
        <div class="am-footer-switch ms-footer-div">
            <a id="godesktop" class="am-footer-desktop ms-footer-div-a" href="http://localhost:8080/ms-mcms/html/1/m/53/index.html">关于我们</a>
            <span class="am-footer-divider ms-footer-div-a">|</span>
            <a id="godesktop" class="am-footer-desktop ms-footer-div-a" href="http://mingsoft.net/html/1//5527/index.html#faz">发展历程</a>
            <span class="am-footer-divider ms-footer-div-a">|</span>
            <a id="godesktop" class="am-footer-desktop ms-footer-div-a" href="http://localhost:8080/ms-mcms/html/1/m/19/index.html">联系我们</a>
        </div>
        <div class="am-footer-miscs ms-footer-copyright">
            <p>版权所有©铭飞科技有限公司2012-2018保留一切权利</p>
        </div>
    </footer>
</div>    </body>
    <script>
        var index = new Vue({
            el: "#indexVue",
            data: {
                bannerList: ['01', '02', '03', '04', '05'],
                modelList: [], //模板列表
                pulgList: [], //插件列表
                loading: false, //加载状态
            },
            methods: {
                //切换tab
                tabShow: function(type) {
                    event.preventDefault();
                    $(".tab-pane").removeClass("active");
                    $(".ms-active").removeClass("active");
                    $("#ms-" + type).addClass("active");
                    $("#" + type).addClass("active");
                },
                //加载列表
                query: function(data, type) {
                    var target = this;
                    $.ajax({
                        type: "POST",
                        data: data,
                        url: "http://mstore.mingsoft.net//mstore/list.do", //
                        success: function(msg) {
                            if(type == 'model') {
                                target.modelList = msg.list;
                            } else {
                                target.pulgList = msg.list;
                                target.loading = true;
                            }
                        }
                    })
                },
            },
            mounted: function() {
                var data = "upgraderVersionType=2&upgraderVersionIndustry=0&orderBy=uv_id&pageSize=4&pageNo=1";
                this.query(data, 'model');
                var data = "upgraderVersionType=1&upgraderVersionIndustry=0&orderBy=uv_id&pageSize=4&pageNo=1";
                this.query(data, 'pulg');
            }
        })
    </script>
</html>